<?php
/**
 * @var $this Mage_Catalog_Block_Product_View
 */
$buttonTitle = $this->__('Request availability');
$_product = $this->getProduct();
?>
<div class="add-to-cart left-side">
    <a id="product-request-availability-button" class="pccflightbox button btn-cart" href="#availability-request-form-wrapper"><span><span><?= $buttonTitle ?></span></span></a>
</div>
