/* FORM BUILDER BODY */

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}

@media (min-width: 900px) and (max-width: 1100px) {
    body, label, .form-control, .input-group-addon {
        font-size: 12px;
    }
}

body {
  padding-bottom: 10px;
  position: relative;
}

h2.header {
    font-size: 24px;
    margin-top: 0;
}

p.header {
    font-size: 14px;
}

/* COMPONENT TABS */

#formtabs {
    font-size: 14px;
}

.tab-pane {
    padding-top: 20px;
}

.nav>li>a {
    padding: 8px 13px;
}

/* FORM BUILDER SECTIONS */

#target fieldset {
    width: 100%;
    /*overflow: hidden;*/
    min-height: 600px;
    padding: 0 5px 30px 5px;
}

#target, #input, #radioscheckboxes, #select, #buttons {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#target .component:first-child {
    height: 10px;
    border: none;
}

.target:after{
    float: left;
    content: " ";
    height: 77px;
    margin-top: 3px;
    background: #f0f0f0;
    width: 100%;
    border: 1px dashed #ccc;
}

#components {
  min-height: 500px;
}

.required-control .control-label:after {
    content: " *";
    color: #fc4c5e;
}

/* FORM COMPONENTS */

.component {
  cursor: pointer;
}

legend {
    border-bottom: none;
}

input {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

.captcha {
    min-height: 100px;
    background: url(../img/recaptcha.gif) no-repeat 12px 0;
    background-size: 330px;
}

.vcaptcha {
    min-height: 110px;
    background: url(../img/visual_captcha.png) no-repeat;
    background-size: contain;
}

/* POPOVER */

form .popover form {
    width: 224px;
}

form .popover .controls {
  margin-left: 0;
}

form .popover .control-label {
  text-align: left;
}

.popover {
    margin-top: 80px;
    z-index: 2000;
}

.popover input {
    cursor: text;
}

.popover-content form .btn {
    margin-right: 10px
}

.popover .control-group {
    cursor: default;
}

.popover .arrow {
    margin-top: -90px!important;
}

/* OTHER */

.temp {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    z-index: 999999;
    top: 0;
    overflow-x: hidden;
    left: 0;
}

.temp form {
    padding: 8px 4px;
    border: 1px dotted #ccc;
    position: absolute;
    background: white;
    box-shadow: 0px 0px 30px #999;
    -webkit-transition: -webkit-transform 0.1s ease-out;
    overflow: hidden;
}

#render {
    min-height: 500px;
    font-family: monospace;
}

.form-group.formpage .col-md-6{
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
}


.fs-upload-target {
    background: #ffffff;
    border: 3px dashed #cccccc;
    border-radius: 3px;
    color: #666666;
    cursor: pointer;
    font-size: 14px;
    margin: 0;
    padding: 25px;
    text-align: center;
    -webkit-transition: background 0.15s linear, border 0.15s linear, opacity 0.15s linear;
    transition: background 0.15s linear, border 0.15s linear, opacity 0.15s linear;
    font-family: arial, helvetica, sans-serif;
}
