<?php
/**
 * @var $this Mage_Checkout_Block_Cart_Crosssell
 * @var $item Mage_Catalog_Model_Product
 */
?>
<?php if($this->getItemCount()): ?>
<div class="crosssell">
    <h2><?php echo $this->__('Based on your selection, you may be interested in the following items:') ?></h2>
    <ul id="crosssell-products-list">
    <?php foreach ($this->getItems() as $item): ?>
        <li class="item grid12-6 mobile-grid">
            <a class="product-image" href="<?php echo $item->getProductUrl() ?>" title="<?php echo $this->escapeHtml($item->getName()) ?>"><img src="<?php echo $this->helper('catalog/image')->init($item, 'thumbnail')->resize(65); ?>" width="65" height="65" alt="<?php echo $this->escapeHtml($item->getName()) ?>" /></a>
            <div class="product-details">
                <h3 class="product-name"><a href="<?php echo $item->getProductUrl() ?>"><?php echo $this->escapeHtml($item->getName()) ?></a></h3>
                <?php echo $this->getPriceHtml($item, true) ?>
                <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($item) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
            </div>
        </li>
    <?php endforeach; ?>
    </ul>
    <script type="text/javascript">decorateList('crosssell-products-list', 'none-recursive')</script>
</div>
<?php endif; ?>
