<?php if($this->getMessagesBlock()->getMessageCollection()->count()): ?>
    <div id="ks_global_messages" style="display: none">
        <a href="javascript:void(0)" id="ks_global_messages_close" style="display: none" title="<?php echo $this->__('Hide messages') ?>">&times;</a>
        <?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>
    </div>
<?php $this->getMessagesBlock()->getMessageCollection()->clear(); ?>
 
<script type="text/javascript">
//<![CDATA[
    Event.observe('ks_global_messages_close', 'click', function() {
        Effect.SlideUp('ks_global_messages', { duration: 0.4, delay: 0.3 });
        Effect.Fade('ks_global_messages_close', { duration: 0.2 });
    });
    Event.observe(document, 'dom:loaded', function() {
        Effect.SlideDown('ks_global_messages', { duration: 0.4, delay: 0.3 });
        Effect.Appear('ks_global_messages_close', { duration: 0.2, delay: 1 });
    });
//]]>
</script>
 
<?php endif; ?>