<?php 
/* Emergento */
  $payment = Mage::getStoreConfig('payment');
  $params = $payment['xpay_cc'];
  $costs = '';
  
?>
<?php $_code=$this->getMethodCode() ?>

    <?php if ($params['s2s_mode'] == 0) { ?>
    <fieldset class="form-list">
        <ul id="payment_form_<?php echo $_code ?>" style="display:none">
            <li>
                <?php echo $this->__('Verrai reindirizzato nel sito di Banca Sella per effettuare il pagamento.'); ?>
            </li>
        </ul>
    </fieldset>
    <?php } else { ?>
    <ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">
      <li>
          <label for="<?php echo $_code ?>_cc_owner" class="required"><em>*</em><?php echo $this->__('Name on Card') ?></label>
          <div class="input-box">
              <input type="text" title="<?php echo $this->__('Name on Card') ?>" class="input-text required-entry" id="<?php echo $_code ?>_cc_owner" name="payment[cc_owner]" value="<?php echo $this->htmlEscape($this->getInfoData('cc_owner')) ?>" />
          </div>
      </li>
      <li>
          <label for="<?php echo $_code ?>_cc_type" class="required"><em>*</em><?php echo $this->__('Credit Card Type') ?></label>
          <div class="input-box">
              <select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]" title="<?php echo $this->__('Credit Card Type') ?>" class="required-entry validate-cc-type-select">
                  <option value=""><?php echo $this->__('--Please Select--') ?></option>
              <?php $_ccType = $this->getInfoData('cc_type') ?>
              <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                  <option value="<?php echo $_typeCode ?>"<?php if($_typeCode==$_ccType): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
              <?php endforeach ?>
              </select>
          </div>
      </li>
      <li>
          <label for="<?php echo $_code ?>_cc_number" class="required"><em>*</em><?php echo $this->__('Credit Card Number') ?></label>
          <div class="input-box">
              <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo $this->__('Credit Card Number') ?>" class="input-text validate-cc-number validate-cc-type" value="" />
          </div>
      </li>
      <li>
          <label for="<?php echo $_code ?>_expiration" class="required"><em>*</em><?php echo $this->__('Expiration Date') ?></label>
          <div class="input-box">
              <div class="v-fix">
                  <select id="<?php echo $_code ?>_expiration" name="payment[cc_exp_month]" class="month validate-cc-exp required-entry">
                  <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
                  <?php foreach ($this->getCcMonths() as $k=>$v): ?>
                      <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                  <?php endforeach ?>
                  </select>
              </div>
              <div class="v-fix">
                  <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
                  <select id="<?php echo $_code ?>_expiration_yr" name="payment[cc_exp_year]" class="year required-entry">
                  <?php foreach ($this->getCcYears() as $k=>$v): ?>
                      <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                  <?php endforeach ?>
                  </select>
              </div>
          </div>
      </li>
      <?php echo $this->getChildHtml() ?>
      <li>
          <label for="<?php echo $_code ?>_cc_cid" class="required"><em>*</em><?php echo $this->__('Card Verification Number') ?></label>
          <div class="input-box">
              <div class="v-fix">
                  <input type="text" title="<?php echo $this->__('Card Verification Number') ?>" class="input-text cvv required-entry validate-cc-cvn" id="<?php echo $_code ?>_cc_cid" name="payment[cc_cid]" value="" />
              </div>
              <a href="#" class="cvv-what-is-this"><?php echo $this->__('What is this?') ?></a>
          </div>
      </li>
  </ul>
    <script type="text/javascript">
    Validation.creditCartTypes.set('DN',[new RegExp('^3(?:0[0-5]|[68][0-9])[0-9]{11}$'), new RegExp('^[0-9]{3,4}$'), true]);
    </script>
<?php } ?>
