<?php
/**
 * @var $this Mage_Core_Block_Template
 */
?>
<div style="display: none">
    <div id="add-to-cart-loading-overlay-template">
        <div class="modal-body">
            <div class="mark">
                <div class="circle-loader">
                    <div class="checkmark draw"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="add-to-cart-success-overlay-template">
        <div class="modal-body loaded">
            <div class="mark">
                <div class="circle-loader load-complete">
                    <div class="checkmark draw"></div>
                </div>
            </div>
            <div class="content-container">
                <div class="content">
                    <span class="title">#{message}</span>
                    <span class="total"><?= $this->__('Cart total')?>: #{cart_total}</span>
                </div>
                <div class="actions">
                    <button type="button" onclick="vex.closeAll();location.reload();"><?= $this->__('Keep Shopping')?></button>
                    <button type="button" onclick="setLocation('<?= $this->getUrl('checkout/onepage')?>')"><?= $this->__('Proceed to Checkout')?></button>
                </div>
            </div>
        </div>
    </div>
    <div id="add-to-cart-fail-overlay-template">
        <div class="modal-body loaded error">
            <div class="content-container">
                <div class="content">
                    <span class="title">#{message}</span>
                </div>
                <div class="actions">
                    <button type="button" onclick="vex.closeAll()"><?= $this->__('Keep Shopping')?></button>
                </div>
            </div>
        </div>
    </div>
</div>
