@charset "iso-8859-1";
/* CSS Document */

.nav-regular li.level0 > a { padding:0 7px !important; font-weight:600 !important;}
.main { padding: 0px 0px !important; min-height: 370px; }
.welcome-msg { display:none !important;}
.sorter { background-color:#fcb908 !important; padding: 10px 0 10px 5px !important;}
.category-image { display:none !important;}
.gen-tabs .tabs a.current { color:#330000 !important; background-color:#fcb908 !important;}
.gen-tabs .tabs a:hover { color:#000 !important; background-color:#eee !important;}

.block .block-title { background-color:#330000 !important; color:#fcb908 !important; padding-left:7px !important; }
.regular-price .price, div.price-box .price { font-size: 20px; font-weight: 700; }
.btn-cart { text-transform:uppercase !important; font-weight:700 !important; padding: 0 10px !important; background-color:#330000 !important; color:#fcb908 !important;  }
.btn-cart:hover {background-color:#fcb908 !important; color:#330000 !important; }

.button.btn-inline { font-size:12px !important; text-transform:uppercase !important; font-weight:700 !important; }
.button.btn-checkout { font-size:12px !important; text-transform:uppercase !important; font-weight:700 !important; }
p.butt_scopri_ora { background-color:#330000 !important; color:#fcb908 !important; font-weight:700 !important; }

.products-grid.single-line-name .product-name { text-transform: uppercase; }

.category-title { padding-bottom: 10px; }
.category-description a { text-decoration: underline; }
.manufacturer-list { font-family: "PT Sans Narrow",georgia,serif; font-size: 16px; }

.toolbar { border-top: none !important; }
.toolbar .sorter { background-color: transparent !important; }
.toolbar .pager { border-top-style: solid !important; }
.toolbar-bottom .toolbar .pager { border-top-width: 1px !important; border-top-color: #e5e5e5 !important; }

/* ONE STEP CHECKOUT */
.onestepcheckout-login-link a { color:#330000 !important; font-weight:bold;}
.one-step-checkout h3 { color:#330000 !important;}
.onestepcheckout-popup-wrapper h1 { color:#330000 !important;}
.main-container { margin-bottom:30px }
#onestepcheckout-login-popup #onestepcheckout-login-button { background-color: #330000 !important; color: #fcb908; text-transform:uppercase !important; }
#onestepcheckout-login-popup p.close a, #onestepcheckout-login-popup p.close a:link, #onestepcheckout-login-popup p.close a:visited, #onestepcheckout-toc-popup p.close a, #onestepcheckout-toc-popup p.close a:link, #onestepcheckout-toc-popup p.close a:visited { color:#330000 !important}
button.onestepcheckout-btn-checkout {text-transform:uppercase !important;}
.onestepcheckout-place span { color:#Fcb908 !important}
#one-step-checkout-form label { max-width: 90%; }
.order-review-section .payment-method .onestepcheckout-payment-methods .sp-methods .form-list { padding-left:0px !important; width: 97% !important; }
.onestepcheckout_need_invoice label span { margin-left: 0px !important; }

button#add_coupon_code_button span, button#remove_coupon_code_button span { color:#330000 !important; text-transform:uppercase; font-weight:600 !important}
.button { text-transform:uppercase; font-weight:600}
.special-price .price, .special-price .price-label { font-size:20px; font-weight:700;}
.minimal-price-link .price { font-size:16px; font-weight:700;}
.old-price .price { font-size:17px; font-weight:700;}
.special-price .price-label { display:none !important}

.box-brand .brand-name {font-family: "PT Sans Narrow",georgia,serif !important; font-size:19px !important; margin: -10px 0 0 !important; color:#330000 !important; }
.breadcrumbs { margin-top:10px !important;}
.breadcrumbs li a { color:#555 !important}
.breadcrumbs li a:hover { color:#330000 !important}
.breadcrumbs li .last-crumb { color:#330000 !important; font-weight:600 !important; }

.header .lang-switcher .caret { border-top-color:#FCB908 !important; opacity:1 !important;}
.dropdown .caret { opacity:1 !important;}
.nav-regular .nav-item--parent > a .caret { opacity:0.7 !important;}

/*POP UP*/
#aw_popup_wraper { z-index:9999 !important;}
#aw_popup_window { z-index:10000 !important;}

/*BOX EKOMY PER ALLINEAMENTO AL CENTRO*/
#eKomiWidget_default {
    text-align: center;
}

/*BACKGROUND NATALE*/
.main-container {
	/*background-image:url(../images/img_bgr_pasqua_2017.png) !important;*/
	/*background-image:url(../images/img_bgr_natale_2018.png) !important; */
	background-repeat:no-repeat;
	background-position:top center;
} /**/

#ban_natale_mobile { display:none;}

/*PAG PRODOTTO STILE E COLORE DEGLI SCONTI QUANTITA*/
.tier-prices { padding-left:0px !important;}
.tier-prices li { background-color:#Fcb908; padding:5px 0 5px 20px !important; font-weight:bold; background-image:url(../images/bullet.png) !important; background-repeat:no-repeat; background-position:left;}
.tier-prices .benefit { font-weight:bold;}

/*DIMENSIONE DROP DOWN DELLE LINGUE*/
#lang-switcher-wrapper-regular .lang-switcher .value { text-transform:uppercase; font-family: "PT Sans Narrow",georgia,serif; font-size:17px; font-weight:bold;}

/* BANK TRANSFER */
.ph-banktransfer { padding-right: 5px; }

@media (max-width: 960px) {
	#box_newsletter { display:none !important}
	#ban_natale_mobile { display:block;}
	#ban_natale_desktop { display:none;}
}

.inner-container { padding-top: 5px; }
.form-search .input-text, .form-search .button { color: #666; }

#term-and-condition-popup, #onestepcheckout-toc-popup {
	width: 80% !important;
	height: 50% !important;
}

.onestepcheckout-terms-conditions a {
	color: #7c0505;
	text-decoration: underline;
	cursor: pointer;
}

@media screen and (max-width: 960px) {
	#term-and-condition-popup, #onestepcheckout-toc-popup {
		width: 90% !important;
	}
}

.circle-loader {
	margin: 2rem auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-left-color: #5cb85c;
	animation: loader-spin 1.2s infinite linear;
	position: relative;
	display: inline-block;
	vertical-align: top;
	border-radius: 50%;
	width: 7em;
	height: 7em;
}
.circle-loader.load-complete {
	-webkit-animation: none;
	animation: none;
	border-color: #5cb85c;
	transition: border 500ms ease-out;
}
.circle-loader.load-complete .checkmark {
	display: block;
}
.circle-loader .checkmark {
	display: none;
}
.circle-loader .checkmark:after {
	opacity: 1;
	height: 3.5em;
	width: 1.75em;
	transform-origin: left top;
	border-right: 3px solid #5cb85c;
	border-top: 3px solid #5cb85c;
	content: '';
	left: 1.75em;
	top: 3.5em;
	position: absolute;
}
.circle-loader .checkmark.draw:after {
	animation-duration: 800ms;
	animation-timing-function: ease;
	animation-name: checkmark;
	transform: scaleX(-1) rotate(135deg);
}
@keyframes loader-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes checkmark {
	0% {
		height: 0;
		width: 0;
		opacity: 1;
	}
	20% {
		height: 0;
		width: 1.75em;
		opacity: 1;
	}
	40% {
		height: 3.5em;
		width: 1.75em;
		opacity: 1;
	}
	100% {
		height: 3.5em;
		width: 1.75em;
		opacity: 1;
	}
}

div.vex {
	width: 40%;
	margin: 0 auto;
	top: 50%;
	transform: translate(0, -50%);
}
.vex-content {
	position: relative;
	padding: 2rem;
}

.vex-content .modal-body.loaded {
	display: flex;
}

.vex-content .modal-body.loaded .mark {
	width: 30%;
}
.vex-content .modal-body.loaded .content-container {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	min-height: 5rem;
}

.vex-content .modal-body.loaded.error .content-container {
	width: 100%;
}

.vex-content .modal-body.loaded .content-container > .content {
	flex-grow: 1;
	text-align: left;
}

.vex-content .modal-body.loaded.error .content-container > .content {
	text-align: center;
}

.vex-content .modal-body.loaded .content-container > .content .title {
	font-weight: 700;
}

.vex-content .modal-body.loaded .content-container > .content .total {
	display: block;
	margin-top: 2rem;
}

.vex-content .modal-body.loaded.error .content-container .actions {
	height: 40%;
}

.vex-content.add-to-cart .actions {
	display: flex;
	flex-direction: row;
	height: 25%;
}

.vex-content.add-to-cart .actions > button {
	width: 98%;
	background-color: #330000;
	color: #fcb908;
	cursor: pointer;
	border: none transparent;
}

.vex-content.add-to-cart .actions > button:hover {
	color: #330000;
	background-color: #fcb908;
}

.vex-content.add-to-cart .actions > button:first-child {
	margin: 0 2% 0 0;
}
