<!--@subject Iscrizione alla newsletter avvenuta con successo @-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
	<tr>
		<td align="center" valign="top" style="padding:20px 0 20px 0">
			<!-- [ header starts here] -->
			<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
				<tr>
					<td valign="top">
						<a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/></a>
					</td>
				</tr>
				<!-- [ middle starts here] -->
				<tr>
					<td valign="top">
						<p style="font-size:12px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">
						Hi,<br />
						We confirm your subscription to our newsletter. Thanks so much for your interest.
						<br />
						Have you any question or request about our food products? Write us on <a href="http://www.facebook.com/magnaparma/" target="_blank" style="color: #0000ee; text-decoration: none;">Facebook</a> and <a href="http://twitter.com/magnaparma/" target="_blank" style="color: #0000ee; text-decoration: none;">Twitter</a>.
						<br />
						See you soon,<br/>
						<em>MagnaParma staff</em>
						</p>
					</td>					
				</tr>
				<tr>
                    <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">
					Have you seen our special offers= <a href="http://www.magnaparma.com/en/special-offers/?utm_source=trigger&utm_medium=email&utm_campaign=testimonial-client" target="_blank" style="color: #0000ee; text-decoration: none;">Discover them now</a></strong></p></center></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
</body>