<div id="newComment">
    <button title="Add Comment" type="button" class="scalable add" onclick="addComment()" style="margin-bottom:10px">
        <span><span><span>Add New Comment</span></span></span>
    </button>
</div>
<div style="display:none;width:600px;margin-bottom:30px;" id="newCommentForm">
    <textarea id="commentText" style="width:100%;height:100px;display:block;"></textarea>
    <button title="Add Comment" type="button" class="scalable add" onclick="submitComment()" style="margin-bottom:10px;margin-top:10px;float:right;clear:both;">
        <span><span><span>Submit Comment</span></span></span>
    </button>
</div>

<script type="text/javascript">
    function addComment(){
        $('newComment').hide();
        $('newCommentForm').show();
    }

    function submitComment(){
        $('newCommentForm').hide();
        console.log($('commentText').value)
        console.log($('commentText').getValue())
        new Ajax.Request('<?php echo Mage::helper('adminhtml')->getUrl('*/*/newComment',array('_current'=>true)); ?>', {
            method: 'post',
            parameters: {
                form_key:FORM_KEY,
                content: $('commentText').value
            },
            onSuccess: function() {
                entryCommentGridJsObject.reload();
                $('commentText').setValue('');
                $('newComment').show();
            }
        });
    }

</script>
