<!--@subject Votre Carte Cadeau par {{htmlescape var=$sendername}} @-->
<!--@vars
{"htmlescape var=$name":"Recipient Name",
"htmlescape var=$sendername":"Sender name",
"var code":"Gift Card Code",
"var balance":"Gift Card Balance",
"var status":"Status",
"htmlescape var=$message":"Message",
"var expiredat":"Expired At"}
@-->

<!--@styles
body,td { background:#FFFFFF; margin:0; padding:0; color:#2f2f2f; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; }
pre{ white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;}
@-->

<div style="font:13px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}">
                                <img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/>
                            </a>
                        </td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>Monsieur/Madame {{htmlescape var=$name}}</strong>,<br/>
                                Nous sommes heureux de vous informer que Monsieur/Madame <strong>{{htmlescape var=$sendername}}</strong> vous a envoy&eacute; une Carte Cadeau sur {{var store.getFrontendName()}}.<br/>
                                Vous pouvez facilement utiliser la Carte Cadeau pour faire des achats sur <a href="{{store url=""}}">{{var store.getFrontendName()}}</a>.<br/>
                                <a href="{{store url=""}}/giftvoucher/index/printemail/k/{{var secure_key}}">Cliquez ici</a> pour imprimer votre Carte Cadeau.</br>
                                
                            </p>                            
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 15px 0px 15px 0px" align="center" width="600">
                            <img src="{{var url}}" style="margin-left: 15px; float: left;border-radius: 0 0 5px 5px;"/>
                        </td>
                    </tr>
					<tr>
					    <td style="padding-bottom: 15px;"><strong>ATTENTION</strong>: : n'est pas possible de convertir la Carte Cadeau au comptant. La Carte Cadeau peut &ecirc;tre utilis&eacute;e pour effectuer n'importe quel achat sur {{var store.getFrontendName()}}</td>
					</tr>
                    <tr>
                        <td>
                            <p>
                                Si vous avez questions sur votre Carte Cadeau, n'h&eacute;sitez pas &agrave; nous contacter par email <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> ou t&eacute;l&eacute;phoniquement {{config path='general/store_information/phone'}}.
                            </p>
                            <p>Salutations cordiales,<br/><strong>{{var store.getFrontendName()}}</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
