<!--@subject {{var store.getFrontendName()}}: Ordine #{{var order.increment_id}} - {{var order.getStatusLabel()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email_small.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
	<td align="center" valign="top" style="padding:2px 0 10px 0">
		<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="5" border="0" width="650" style="border:1px solid #E0E0E0;">
			<!-- [ header starts here] -->
			<tr>
				<td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
			</tr>
			<!-- [ middle starts here] -->
			<tr>
				<td valign="top">
					<h1 style="font-size:14px; font-weight:normal; line-height:16px; margin:0 0 11px 0;">L'ordine del cliente {{htmlescape var=$order.getCustomerName()}}</h1>
					<p style="font-size:11px; line-height:14px; margin:0;">
						&egrave; stato posto nello stato: <strong>{{var order.getStatusLabel()}}</strong>.<br />
            Peso totale ordine:  <strong>Kg {{var order.getWeight()}}</strong>
					</p>
        </td>
			</tr>
      <tr>
        <td>
        	<table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
            <thead>
						<tr>
							<th align="left" bgcolor="#EAEAEA" style="font-size:12px; padding:5px 9px 6px 9px; line-height:1em;">Indicazioni da MagnaParma:</th>
						</tr>
						</thead>
          	<tbody>
							<tr><td><p style="font-size:12px; line-height:16px; margin:10px 0 10px 0;">{{var comment}}</p></td></tr>
            </tbody>
          </table>
        </td>
      </tr>
			<tr>
				<td>
					<h2 style="font-size:12px; font-weight:normal; margin:0;">Di seguito i dettagli dell'ordine #{{var order.increment_id}}</h2>
				</td>
			</tr>
			<tr>
				<td>
					<table cellspacing="0" cellpadding="0" border="0" width="650">
						<thead>
						<tr>
							<th align="left" width="325" bgcolor="#EAEAEA" style="font-size:12px; padding:5px 9px 6px 9px; line-height:1em;">Informazioni di fatturazione:</th>
							<th width="10"></th>
							<th align="left" width="325" bgcolor="#EAEAEA" style="font-size:12px; padding:5px 9px 6px 9px; line-height:1em;">Metodo di pagamento:</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td valign="top" style="font-size:11px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
								{{var order.getBillingAddress().format('html')}}<br />
                {{var order.getCustomerEmail()}}
							</td>
							<td>&nbsp;</td>
							<td valign="top" style="font-size:11px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
								{{var payment_html}}
							</td>
						</tr>
						</tbody>
					</table>
					<br/>
					{{depend order.getIsNotVirtual()}}
					<table cellspacing="0" cellpadding="0" border="0" width="650">
						<thead>
						<tr>
							<th align="left" width="325" bgcolor="#EAEAEA" style="font-size:12px; padding:5px 9px 6px 9px; line-height:1em;">Informazioni di spedizione:</th>
							<th width="10"></th>
							<th align="left" width="325" bgcolor="#EAEAEA" style="font-size:12px; padding:5px 9px 6px 9px; line-height:1em;">Metodo di spedizione:</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td valign="top" style="font-size:11px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
								{{var order.getShippingAddress().format('html')}}
								&nbsp;
							</td>
							<td>&nbsp;</td>
							<td valign="top" style="font-size:11px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
								{{var order.getShippingDescription()}}
								&nbsp;
							</td>
						</tr>
						</tbody>
					</table>
					<br/>
					{{/depend}}
					{{layout handle="sales_email_order_items" order=$order}}
				</td>
			</tr>
			<tr>
				<td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:11px; margin:0;">Grazie, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
			</tr>
		</table>
	</td>
</tr>
</table>
</div>
</body>