/*
 * jQuery Nivo Slider v3.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

#wrapper-nivo {
	width:950px;
	position:relative;
	height:480px;
}

#slider {
 border: 0px solid #333;
 margin:0 auto 10px auto;
 background:url(loading.gif) no-repeat 50% 50%;
}

/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow:hidden;
}

.nivoSlider img {
	position:absolute;
	top:0;
	left:0;
	max-width:none;
}

.nivo-main-image {
	display:block!important;
	position:relative!important;
	width:100%!important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}

/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}

.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}

.nivo-box img {
	display:block;
}

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:-500px;
	bottom:40px;
	width:500px;
	color:#fff;
	z-index:8;
	overflow:hidden;
	display:none;
}

.nivo-caption h1 {
	padding:10px 10px 0 10px;
	margin:0;
	background:#fff;
	width:500px;
	color:#000;
	opacity:.8;
	font-weight:400;
	float:left;
	color:#330000;
	font-size:28px;
}

.nivo-caption p {
	padding:0 10px 10px 10px;
	margin:0;
	background:#FFF;
	width:480px;
	opacity:.8;
	font-weight:400;
	float:left;
	color:#000;
}

.nivo-caption a {
	display:inline!important;
}


.nivo-html-caption {
	display:none;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
	
}

.nivo-prevNav {
	left:10px;
	background:url(left.png) no-repeat;
	width:30px;
	height:30px;
}

.nivo-nextNav {
	right:10px;
	background:url(right.png) no-repeat;
	width:30px;
	height:30px;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding:15px 0;
	float:left;
	display:block;
	bottom:0;
	right:20px;
	position:absolute;
	z-index:99999;
}

.nivo-controlNav a {
	cursor:pointer;
}

.nivo-controlNav a.active {
	font-weight:700;
}

.nivo-controlNav a:hover {
	text-decoration:none;
}

.nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin:0 2px;
}

.nivo-controlNav a.active {
	background-position:0 -22px;
}

