<?php
/**
 *
 * Created by:  Milan Simek
 * Company:     Plugin Company
 *
 * LICENSE: http://plugin.company/docs/magento-extensions/magento-extension-license-agreement
 *
 * YOU WILL ALSO FIND A PDF COPY OF THE LICENSE IN THE DOWNLOADED ZIP FILE
 *
 * FOR QUESTIONS AND SUPPORT
 * PLEASE DON'T HESITATE TO CONTACT US AT:
 *
 * SUPPORT@PLUGIN.COMPANY
 *
 */
?>
<?php

/**
 * Form view widget template
 *
 * @category    Plugincompany
 * @package     Plugincompany_Contactforms
 * @author      Milan Simek
 * @var $this Plugincompany_Contactforms_Block_Form_Widget_View
 */
?>
<?php $_form = $this->getCurrentForm();?>

<?php
$isSecure = Mage::app()->getStore()->isCurrentlySecure();
$jsUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS,$isSecure) . 'plugincompany/'; ?>
<?php if ($_form) {

    $captcha = '<div class="g-recaptcha" data-sitekey="' . Mage::getStoreConfig('plugincompany_contactforms/form/recaptcha_key') . '"></div>';

    $isPanel = $_form->getIsPanel();

    $inWindow = false;
    if ($this->getShowWidgetAsLink()) {
        $inWindow = true;
    }

    if ($inWindow) {
        $linkText = $this->getLinkTitle();
        if (!$linkText) {
            $linkText = $this->__('Contact Us');
        }
    }
    if ($inWindow && $this->getDisplayAsButton()) {
        $linkText = '<button type="button" title="' . $linkText . '" class="button"><span><span>' . $linkText . '</span></span></button>';
    }
    ?>

    <?php if($inWindow && $this->getWrapInBlock() && !$this->getExitIntent()){ ?>
       <div class="block">
            <div class="block-title">
                <strong>
                    <span><?php echo $this->getWidgetTitle();?></span>
                </strong>
            </div>
           <div class="block-content">
               <p style="">
                   <?php echo nl2br($this->getLinkText());?>
                   <a class="pccflightbox" style="float:<?php echo $this->getLinkAlignment();?>" href="#pccf_form_<?php echo $_form->getId() ?>"><?php echo $linkText;?></a>
               </p>
           </div>
       </div>
        <div style="display:none;" class="pccf_lightbox_wrapper">
    <?php } ?>
    <?php if($inWindow && !$this->getWrapInBlock() && !$this->getExitIntent()){ ?>
        <a class="pccflightbox" popupminwidth="<?php echo $this->getPopupMinWidth(); ?>" href="#pccf_form_<?php echo $_form->getId() ?>"><?php echo $linkText;?></a>
        <div style="display:none;" class="pccf_lightbox_wrapper">
    <?php }?>
    <?php if($inWindow && $this->getExitIntent()){ ?>
        <div style="display:none;" class="pccf_lightbox_wrapper pccf_exit_intent" popupminwidth="<?php echo $this->getPopupMinWidth(); ?>" aggressive="<?php echo $this->getAggressive(); ?>" cookielifetime="<?php echo $this->getCookieLifetime();?>">
    <?php }?>
            <div id="pccf_form_<?php echo $_form->getId() ?>" formid="<?php echo $_form->getId();?>" class="pccf <?php if($_form->getRtl()){echo 'rtl';} ?> <?php echo $_form->getTheme()?>" style="<?php if($w = $_form->getMaxWidth()){echo 'max-width:' . $w; }?>;text-align:left;position:relative;">
                <img class="pccf_loader" src="<?php echo $jsUrl; ?>contactforms/img/gears-anim.gif" style="position:absolute;left:50%;top:50%;margin-left:-90px;margin-top:-80px" />
                <div class="form-view pccformwrapper <?php echo $_form->getWrapClass(); ?>" style="position:relative;visibility:hidden;">
                    <?php if ($isPanel) { ?>
                <?php if ($_form->getShowTitle() == '1') { ?>
                    <div class="panel-heading" style="text-align:center">
                        <h3 class="panel-title"><?php if($f = $_form->getFrontendTitle()){echo $f;}else{echo '&nbsp;';}; ?></h3>
                    </div>
                <?php } ?>
                    <div class="panel-body" style="padding-top:14px">
                        <?php }elseif ($_form->getFormWrapper() == 'well' && $_form->getShowTitle() == '1') {?>
                            <legend style="text-align:center"><?php echo $_form->getFrontendTitle();?></legend>
                        <?php } ?>
                        <div class="alert alert-info submitting" style="display:none;" role="alert">Submitting form...</div>
                        <form<?php if($inWindow || $this->getSlideOut()){ ?>dummy<?php } ?> class="form-horizontal pccform" method="post" action="<?php echo $this->getSubmitUrl();?>">
                            <?php
                                $formHtml = str_replace(array('<captcha></captcha>','<legend></legend>'),array($captcha,''), $_form->getContactFormHtml());
                                $formHtml = preg_replace('/<legend>(.*?)<\/legend>/','',$formHtml);
                                if($inWindow){
                                    $formHtml = str_replace('col-md-2', 'col-md-3', $formHtml);
                                    $formHtml = str_replace('col-md-6', 'col-md-8', $formHtml);
                                    $formHtml = str_replace('col-lg-6', 'col-lg-8', $formHtml);
                                }
                                echo $formHtml;
                            ?>
                        </form<?php if($inWindow || $this->getSlideOut()){ ?>dummy<?php } ?>>
                        <?php if ($isPanel) { ?>
                    </div>
                <?php } ?>
                </div>
                <div class="dependent_fields" style="display:none">
                    <?php echo $_form->getDependentFields(); ?>
                </div>
            </div>
    <?php if($inWindow){ ?>
        </div>
        <?php }?>

    <script type="text/javascript">
        PCCForms = true;
        <?php if($_form->getTheme()){ ?>
            PCCFThemes.push('<?php echo $_form->getTheme();?>');
        <?php } ?>

        PCCBaseJSURL = "<?php echo $jsUrl; ?>";
        RECAPTCHA_PUBLIC_KEY = '<?php echo Mage::getStoreConfig('plugincompany_contactforms/form/recaptcha_key');?>';
        PCCFileUploadUrl =  '<?php echo $this->getUploadUrl(); ?>';
        PCCFVisualCaptchaUrl =  '<?php echo $this->getVisualCaptchaUrl(); ?>';
        <?php if($inWindow){ ?>
            PCCFLightbox = true;
        <?php } ?>
        <?php if(stristr($_form->getContactFormHtml(),' date ')){ ?>
            PCCFDate = true;
        <?php } ?>
        <?php if($_form->getDependentFields() && $_form->getDependentFields() != "[]"){ ?>
            PCCFDependentFields.push(<?php echo $_form->getId(); ?>);
        <?php } ?>
        window.PCCF<?php echo $_form->getId(); ?>SubmitJS = function(){
            <?php echo $_form->getArbitraryJs(); ?>
        }
    </script>

    <!--[if lt IE 9]>
            <script type="text/javascript">
                var oldBrowser = true;
            </script>
    <![endif]-->
    <!--[if lte IE 9]>
        <script type="text/javascript">
            var BrowserIE9 = true;
        </script>
    <![endif]-->
<?php } ?>

