 
 .timer-grid{float: left;width: 100%;padding: 3px 0 0 0;color: #000000;font-size: 18px;font-family: arial; font-weight: bold;}
 .timer-list{float: left;width: 70%;padding: 0;color: #000000;font-size: 18px;font-family: arial; font-weight: bold;}
 .timer-view{float: left;width: 200px;padding:2px 0 0 0px;color: #000000;font-size: 23px; font-family:arial;}
 .timer-view .day{margin:1px 7px 1px -5px}
 .timer-view .hour{margin:1px 3px}
 .timer-view .min{margin:1px 3px}
 .timer-view .sec{margin:1px 3px}
 .timer-compare{float: left;width: 100%;padding: 0;color: #000000;font-size: 22px;font-family: arial; font-weight: bold;}
 .timerspec{float: left;width: 100%;color: #1E7EC8;font-size: 13px;}
 .timerdate{float: left;width: 201px;padding:0 0 3px 0;color: #1E7EC8;font-size: 12px;}
 .timerdate .day{margin:1px 1px; width:20px; text-align: center;}
 .timerdate .hour{margin:1px 1px;width:20px; text-align: center;}
 .timerdate .min{margin:1px 1px; width:20px; text-align: center;}
 .timerdate .sec{margin:1px 1px; width:20px; text-align: center;}
 .products-grid .actions{position:relative !important;bottom:0;}
 .box {border: 2px solid #ccc;height: 80px;width: 300px; margin: 40px 0px 25px 0px; border-radius: 7px; position: absolute}
 .box .timer-view{padding: 8px 18px 5px}
 .box img{width: auto;height:50px; float: left;margin: 15px 10px 7px}
 /*style countdown with style 3*/
 .countdown{padding-top: 0px;margin: 10px 0 10px -8px;}
 .countdown .cntSeparator {margin-top: 5px}
 .box_container {width: 100%; padding-top: 3px; height: 150px}
 
 .box_containercl {width: 100%; padding-top: 3px;height: 80px}
 .box_containercl .boxcatalog {border: 2px solid #ccc;height: 55px;border-radius: 7px;margin: auto;width: auto; margin-bottom: 5px; margin-top: 5px; position: absolute}
 .box_containercl .boxcatalog .timer-list{margin-top: 10px; font-size: 12px;}
 .countdown1 {padding-top: 0px;margin-bottom: 5px}
 .countdown1 .cntSeparator {margin-top: -5px}
 .boxcatalog img{width: 24px;height:27px; float: left;margin: 15px 7px 7px}

 