
/**
 * Product:     Checkout Fields Manager
 * Package:     Aitoc_Aitcheckoutfields_2.7.6_2.4.1_293260
 * Purchase ID: n/a
 * Generated:   2012-06-06 16:21:09
 * File path:   skin/frontend/base/default/css/aitcheckoutfields/paypal_express_review.css
 * Copyright:   (c) 2012 AITOC, Inc.
 */
.aitcfm_review_1 {
    margin-top: -7px;
}

.aitcfm_review_2 {
	margin: 8px 0px -13px;
}

#shipping_method_ait {
    width: 260px;
}