<!--@subject Conferma account per {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
		<tr>
			<td align="center" valign="top" style="padding:20px 0 20px 0">
				<!-- [ header starts here] -->
				<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
					<tr>
						<td valign="top">
							<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
						</td>
					</tr>
					<!-- [ middle starts here] -->
					<tr>
						<td valign="top">
							<h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Ciao {{htmlescape var=$customer.name}},</h1>
							<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">La tua e-mail {{var customer.email}} deve essere confermata prima di poter accedere al tuo account.</p>
							<p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Per confermare il tuo indirizzo e-mail e accedere subito all'account, <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}" style="color:#1E7EC8;" target="_blank">clicca su questo link</a>. Il link &egrave; valido una sola volta.</p>
							<p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0 0 16px 0; padding:13px 18px; background:#f9f9f9;">
								Questi sono i tuoi dati di accesso:<br/>
								<strong>E-mail:</strong> {{var customer.email}}<br/>
								<strong>Password:</strong> {{htmlescape var=$customer.password}}<p>
							<p style="font-size:12px; line-height:16px; margin:0;">Hai domande o problemi con il tuo account o con il link di conferma? Chiamaci al numero <span style="font-weight:bold;">{{config path='general/store_information/phone'}}</span> o scrivici a <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8; font-weight:bold;">{{config path='trans_email/ident_support/email'}}</a>.<br /><br />
							Ci trovi anche su <a href="http://www.facebook.com/magnaparma/" style="color:#1E7EC8;" target="_blank">Facebook</a> e su <a href="http://twitter.com/magnaparma/" style="color:#1E7EC8;" target="_blank">Twitter</a>! Seguici per conoscere in anteprima novit&agrave;, offerte, sconti e tutte le nostre iniziative speciali.
							</p>
						</td>
					</tr>
					<tr>
						<td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Grazie, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
</body>