<!--
/**
 * Advance Testimonial extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   FME
 * @package    Advance Testimonial
 * @author     Kamran Rafiq Malik <support@fmeextensions.com>
 *             Asif Hussain <support@fmeextensions.com>
 * 	       
 * @copyright  Copyright 2012 © www.fmeextensions.com All right reserved
 */
 -->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/></a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <p style="font-size:12px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">
                        Ciao {{var contact_name}},<br />
                        Grazie per aver inserito il tuo commento. Ecco le informazioni che hai inviato.<br />
                        <strong>Email: </strong> {{var email}}<br />
                        <strong>Dettagli: </strong> {{var testimonial}}<br />
						<br />
                        Lo sai che siamo anche sui social? <a href="http://www.facebook.com/magnaparma/" target="_blank" style="color: #0000ee; text-decoration: none;">Scrivi il tuo commento su Facebook</a> o <a href="http://twitter.com/share?url=http://www.magnaparma.com/it/recensioni-commenti/&text=Ho pubblicato un nuovo commento su www.magnaparma.com!" target="_blank" style="color: #0000ee; text-decoration: none;">segnalacelo con un tweet</a>.<br />
						A presto<br />
						<em>Lo staff di MagnaParma</em>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Hai gi&agrave; visto le nostre offerte speciali? <a href="http://www.magnaparma.com/it/offerte-speciali/?utm_source=trigger&utm_medium=email&utm_campaign=testimonial-client" target="_blank" style="color: #0000ee; text-decoration: none;">Scoprile subito</a></strong></p></center></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>
