<!--@subject {{var store.getFrontendName()}}: l'ordine # {{var order.increment_id}} è stato spedito @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$billing.getName()":"Guest Customer Name",
"var store.getFrontendName()":"Store Name",
"var shipment.increment_id":"Shipment Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var comment":"Shipment Comment"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
<tr>
	<td align="center" valign="top" style="padding:20px 0 20px 0">
		<!-- [ header starts here] -->
		<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
			<tr>
				<td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
			</tr>
		<!-- [ middle starts here] -->
			<tr>
				<td valign="top">
					<h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Gentile {{htmlescape var=$billing.getName()}},</h1>
					<p style="font-size:12px; line-height:16px; margin:0;">
						Il tuo ordine è stato spedito. 
						Se hai qualche domanda riguardante il tuo ordine contattaci all'indirizzo <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> o chiamaci al <span class="nobr">{{config path='general/store_information/phone'}}</span>.
					</p>
					<p style="font-size:11px; line-height:14px;"><strong>ATTENZIONE! AL MOMENTO DELLA CONSEGNA CONTROLLARE L'INTEGRIT&Agrave; DELL'IMBALLAGGIO!</strong><br />Se al momento della consegna da parte del corriere riscontrassi delle anomalie dovrai indicarle nel documento di consegna del corriere. Qualora accettassi il pacco senza evidenziare anomalie, MagnaParma non potr&agrave; essere ritenuta responsabile di alcun danneggiamento conseguente il trasporto dei prodotti.</p>
					<p style="font-size:12px; margin:0 10px 10px 0">{{var comment}}</p>
				</td>
			</tr>
			<tr>
				<td>
					<table cellspacing="0" cellpadding="0" border="0" width="650">
						<thead>
						<tr>
							<th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Informazioni di fatturazione:</th>
							<th width="10"></th>
							<th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Metodo di pagamento:</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
								{{var order.billing_address.format('html')}}
							</td>
							<td>&nbsp;</td>
							<td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
								{{var payment_html}}
							</td>
						</tr>
						</tbody>
					</table>
					<br/>
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<thead>
						<tr>
							<th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Informazioni di spedizione:</th>
							<th width="10"></th>
							<th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Metodo di spedizione:</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
								{{var order.shipping_address.format('html')}}
								&nbsp;
							</td>
							<td>&nbsp;</td>
							<td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
								{{var order.shipping_description}}
								&nbsp;
							</td>
						</tr>
						</tbody>
					</table>
					<br/>
					{{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}
					{{block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order}}
				</td>
			</tr>
			<tr>
				<td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Grazie, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
			</tr>
		</table>
	</td>
</tr>
</table>
</div>
</body>