/* Modifiche al layout by KosmoSol */
@import url("styles.css");

body, strong {
	color: #000000;
	font-size: 12px;
}

p {
	text-align: justify;
}

.category-description  {
	background-color: #fcb908;
	padding: 5px;
	border: 1px solid #9b0214;
}

.featured {
  background-image: url("../images/feature_bg.png");
}

input.input-text, select, textarea {
	background-color: #999999;
	color: #000000;
}

a {
	color: #9b0214;
}

.form-search input.input-text {
	color: #000000;
}

#nav a {
	padding-left: 11px;
	padding-right: 11px;
}

.menu_sub_head .sub_head_list li {
	line-height: 22px;
}

.sub_head_list li a, .sub_head_list li a:hover {
	background-image: none;
	padding-left: 0px;
}

.menu_sub_head .sub_head_list li a {
	color: #FFFFFF;
	text-transform: uppercase;
}

.menu_sub_head .sub_head_list li a:hover {
	color: #fcb908;
}

.breadcrumbs, .breadcrumbs a, .std dl dt {
	color: #9b0214;
}

.newshome {
	padding: 0px;
}

.block .actions a {
	color: #fcb908;
}

/* FILTRI NAVIGAZIONE */
.block-layered-nav {
	width: 205px;
}

.block-layered-nav select {
	width: 185px;
	font-size: 12px;
}

.block-layered-nav .narrow-by-listbg {
	background-color: transparent;
	width: 205px;
	color: #FFFFFF;
}

.block-layered-nav dt, .narrow-by dd li a {
	color: #FFFFFF;
}

.block-layered-nav .currently li, .block-layered-nav .actions {
	background-color: #333333;
	color: #FFFFFF;
}

.block-layered-nav dd a:hover {
	color: #fcb908;
}

.narrow-by dd li a:hover {
	text-decoration: underline;
}

.block-layered-nav .block-subtitle {
	color: #FFFFFF;
}

.block-layered-nav .currently .label {
	padding-left: 0px;
}

.narrow-by dd li {
	color: #9b0214;
}

/* BARRA SORTER */
.sorter {
	background-image: none;
	background-color: #fcb908;
	border: 1px solid #9b0214;
}

.sorter .view-mode {
	color: #000000;
}

.sorter .sort-by select, .pager .limiter select {
	background-color: #CCCCCC;
	color: #000000;
}

/* LOGIN - ACCEDI - CREA ACCOUNT */
.account-login .content {
	background-image: none;
	background-color: #fcb908;
	border: 1px solid #9b0214;
	min-height: 200px;
}

.account-login .buttons-set {
	border-left: 1px solid #9b0214;
	border-right: 1px solid #9b0214;
	border-bottom: 1px solid #9b0214;
	background-color: #fcb908;
}

.account-create {
	background-image: none;
	background-color: #fcb908;
	border: 1px solid #9b0214;
}

.fieldset {
	background-image: none;
	margin-bottom: 5px;
}

.buttons-set {
	margin-top: 1em;
}

/* DASHBOARD */
.dashboard .box .box-title a {
	color: #fcb908;
}

.dashboard .box .box-title a:hover {
	color: #9b0214;
}

.my-account {
	background-image: none;
	background-color: #fcb908;
	border: 1px solid #9b0214;
}

.box-account .box-head h2 {
	color: #9b0214;
}

/* SCHEDA PRODOTTO */
.product-view {
	background-image: none;
	background-color: #fcb908;
}

#country1 {
	background-color: #FFFFFF;
}

.product-essential, .add-to-cart label, .product-collateral h2, .product-collateral .std {
	color: #000000;
}

.product-view .product-img-box .product-image-zoom {
	height: 390px;
}

.product-view .product-img-box {
	width: 395px;
	border: 1px solid #9b0214;
}

.product-view .product-img-box .more-views li a {
	width: 125px;
	height: 125px;
}

.product-view .product-shop .product-name h1 {
	color: #9b0214;
	border-bottom-color: #9b0214;
}

.availability {
  border-bottom-color: #9b0214;
}

.product-collateral .std {
	padding: 0px;
	font-size: 12px;
}

/* LISTA PRODOTTI */
.category-products .products-grid, .category-products .products-list {
	background-image: none;
	background-color: #cccccc;
	border-left: 1px solid #9b0214;
	border-right: 1px solid #9b0214;
	width: 731px;
}

.category-products ul.first, ol.products-list {
	border-top: 1px solid #9b0214;
}

.category-products ul.last, ol.products-list {
	border-bottom: 1px solid #9b0214;
}

.products-list li.item {
	border-bottom-color: #9b0214;
}

.products-list .product-image {
	height: 150px;
	margin-bottom: 2px;
}

ol {
	padding-left: 0px;
	padding-right: 0px;
}

.products-grid .product-name a, .regular-price .price, .addtolinks a, .no-rating a, .products-list .product-name a {
	color: #9b0214;
}

.category-products img {
	border: 1px solid #9b0214;
}

.products-grid li.item {
	padding-left: 4px;
}

.products-grid .actions {
	margin-left: 35px;
}

.products-grid .product-name a:hover, .products-list .product-name a:hover {
	text-decoration: underline;
}

/* PAGINA CARRELLO */
.col1-layout .col-main .cart {
	background-image: none;
	background-color: #fcb908;
}

.cart-table .product-name a, .data-table tbody th, .data-table tbody td, .success-msg span, .validation-advice {
	color: #9b0214;
}

.cart-table .product-image img {
	border: 1px solid #9b0214;
}

.cart .cart-collaterals .col2-set .col-2, .cart .discount, .cart .shipping, .cart .totals, .cart .crosssell {
	background-image: url("../images/media/body-bg-black.gif");
}

.cart .discount h2, .cart .shipping h2, .cart .discount, .cart .shipping, .cart .totals td, .cart .totals tfoot th strong, .cart .totals tfoot td strong {
  color: #ffffff;
}

.cart .discount input.input-text, .cart .shipping .form-list select, .cart .shipping .form-list input.input-text, .validation-failed {
	background-color: #999999 !important;
	color: #000000;
}

.cart .shipping .form-list select {
	padding-top: 3px;
}

.cart .discount .buttons-set, .cart .shipping .buttons-set {
	margin-left: 0px;
}

/* CHECKOUT */
.page-title h1, .page-title h2, .data-table tfoot strong {
	color: #000000;
}

.opc .step-title .number {
	background-color: #fcb908;
	color: #000000;
	border: none;
}

.opc .step {
	background-image: none;
	background-color: #fcb908;
}

#opc-login h3 {
	border-bottom-color: #9b0214;
	color: #000000;
}

.opc .buttons-set {
	border-top-color: #9b0214;
	margin-top: 5px;
	padding-top: 1em;
}

.form-list label.required em, p.required, #checkout-review-table h3 {
	color: #9b0214;
}

.data-table tfoot tr {
	background-image: none !important;
	background-color: #fcb908;
}

.product-name {
	margin-top: 0px;
}

.order-info ul, .order-info li.current {
	background-color: #000000;
}

.form-list .input-box, .form-list .field, .form-list textarea {
	width: 100%;
}

.form-list .input-box table {
	width: 350px;
}

.opc .buttons-set {
	margin-top: 0px;
}

/*BACKGROUND DELLE PAGINE*/
.wrapper {
  background-image: none;
}

/*FOOTER*/
.footer-container {
	background-color:#fcb908;
	margin-top: 20px;
}

.footer {
	padding-top: 10px;
}

.our_store {
	color:#000;
}

.footer_part1_store .our_store {
	color:#000;
}

.footer_part1_store {
	padding-left: 0px;
}

.footer a {
	color:#000;
}

.footer a:hover {
	color: #9b0215;
}

.footer_part1 {
	width: 180px;
	padding-left: 5px;
}

.our_store, .foote_links_new a, .foote_links_new a:hover {
	font-size: 11px;
}

/*COLORE DEL COPYRIGHT*/
.copyright {
	color:#000;
}