<?php
/**
 *  HTML Invoice
 *  
 *  Copyright (C) 2012 paj@gaiterjones.com 
 *
 *  v0.0.1 - 11.06.2012 - dev BETA release
 *  v0.0.2 - 15.08.2012
 
 *	This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *  @category   PAJ
 *  @package    HTMLInvoice
 *  @license    http://www.gnu.org/licenses/ GNU General Public License
 * 
 *
 */

	$order = $this->getOrder();
	$orderStoreID=$order->getStoreId();	
	
	$logoURL=trim(Mage::getStoreConfig('htmlinvoice_section1/general/logourl',(int)$orderStoreID));
	$watermarkURL=trim(Mage::getStoreConfig('htmlinvoice_section1/general/watermark',(int)$orderStoreID));
	$headerText=trim(Mage::getStoreConfig('htmlinvoice_section1/general/headertext',(int)$orderStoreID));
	$showComments=trim(Mage::getStoreConfig('htmlinvoice_section1/general/showcomments',(int)$orderStoreID));
	$footerText=trim(Mage::getStoreConfig('htmlinvoice_section1/general/footertext',(int)$orderStoreID));
	$addShippingVat=trim(Mage::getStoreConfig('htmlinvoice_section1/general/addshippingvat',(int)$orderStoreID));

	// add tax to shipping amount
	if ($addShippingVat)
	{
	$shippingInclTax = $order->getShippingAmount() + $order->getShippingTaxAmount();
	$order->setShippingAmount($shippingInclTax);
	}
	
	/*if ($order->hasInvoices()) {
		$invoiceIdText="Invoice";
		foreach ($order->getInvoiceCollection() as $_eachInvoice) {
			$invoiceId = $_eachInvoice->getIncrementId();
		}
	} else {*/
			$invoiceIdText="Ordine";
			$invoiceId = $order->getIncrementId();
	//}


?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><?php echo $invoiceIdText. " - ". $order->getIncrementId(); ?></title>
<link rel="stylesheet" type="text/css" href="includes/stylesheet.css">
<link rel="stylesheet" type="text/css" href="includes/watermark.css">
<style type="text/css">
BODY {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.wrapper {
	margin: 20px;
}
.dataTableHeadingRow {
	background: none;
}
.dataTableHeadingContent {
	font-size: 12px;
	color: #000;
	padding: 6px;
	border-bottom: 2px solid #999;
}
.dataTableRow {
	background: none;
}
.dataTableContent {
	padding: 2px 6px;
	border-bottom: 1px solid #eee;
}

.alt TD { background: #eee; }

@media screen {
	#printFooter {
		display: none;
	}
}
@media print {
	#printFooter {
		position: fixed;
		bottom: 0;
	}
}

#footer {
	text-align: center;
	margin: 60px 0 0 0;
	color: #666;
	font-size: 18px;
}
#notes {
	border: 1px solid #999;
	width: 530px;
	height: 80px;
	padding: 5px;
	margin: 0 0 0 20px;
}
#notes TEXTAREA {
	border: none;
	width: 470px;
	height: 60px;
	overflow: hidden;
	margin: 5px 0 0 0;
	border: 0;
}
a.addr_link {
	color: #000;
	text-decoration: none;
}
.option-menu {
	padding: 8px;
	background: #eee;
	font-size: 10px;
}
.totals .label {
	padding: 5px 20px 5px 0;
}
.totals .total td {
	font-size: 1.3em;
	border-top: 1px solid #ccc;
}
div.watermark {
	display:block;
	position:fixed;
	z-index:100;
	width:100%;
	height:100%;
}
 div.content > *:first-child, x:-moz-any-link {
margin-top:0;
}/* ff only */
 div.watermark, x:-moz-any-link {
z-index:auto;
}/* ff only */
 div.watermark, x:-moz-any-link, x:default {
z-index:100;
}/* ff3 only */
 @media all and (min-width: 0px) {
div.watermark {
width:8.5in;
}
} /* opera only */
div.watermark div {
	position:absolute;
	left:0;
	width:99%;
}
/* watermark position */
/* horizontal */
div.left {
	text-align:left;
}
div.center {
	text-align:center;
}
div.right {
	text-align:right;
}
 body:last-child:not(:root:root) div.right div {
left:-160px;
}/* safari only */
/* vertical */
div.top div {
	top:0;
}
div.middle div {
	top:50%;
	margin-top:-210px;
}
div.bottom div {
	bottom:2px;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}  /* for IE/Mac */


.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cc9f52;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.button:active {
	position:relative;
	top:1px;
}
</style>
<style media="print" type="text/css">
.wrapper {
	margin: 0;
}
.option-menu {
	display: none;
}
</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>
<body>
<div class="option-menu">
<?php if (!empty($watermarkURL)): ?>
  <!-- Watermark Option -->
  <strong>Options:</strong> &nbsp;  
  <label>
	<input id="cbk_paid" type="checkbox" onchange="if(this.checked){document.getElementById('watermark_graphic').style.display = 'block';}else{document.getElementById('watermark_graphic').style.display = 'none';}"  />
  Display watermark graphic
  </label>
 <!-- END Watermark OPtion -->
<?php endif; ?> 
 <!-- Print Button -->
   <p>
	<a href="#" class="button" onclick="window.print(); return false;">Stampa</a> 
  </p>
 <!-- END Print Button -->  
</div>
<?php if (!empty($watermarkURL)): ?>
<div id="watermark_graphic" class="watermark middle center" style="display: none;">
  <div><img src="<?php echo $watermarkURL; ?>" /></div>
</div>
<?php endif; ?> 
<div id="invoice" class="wrapper" >
  <!-- MAIN -->
  <!--<h1 style="float: right;">Invoice</h1>-->

  <div class="clearfix">
		<?php if (!empty($logoURL)): ?>
		<div style="float: left; width: 100%; font-size: 14px;" id="brand_logo"> <img src="<?php echo $logoURL; ?>" style="float:left;" />
		<?php endif; ?> 

		<?php if (!empty($headerText)): ?>	
		<div style="margin: 25px 0px 0px 40px;float:left;">
			<?php echo $headerText ?> 	
		</div>
		<?php endif; ?> 
		</div>
  </div>
  
  <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr>
      <td valign="top"><p><strong>Indirizzo Fatturazione:</strong></p>
        <?php echo $order->getBillingAddress()->format('html'); ?><br />
        <?php echo $order->getCustomerEmail(); ?></td>
      <td valign="top"><p><strong>Indirizzo Spedizione:</strong></p>
        <?php echo $order->getShippingAddress()->format('html'); ?> </td>
      <td valign="top"><p style="text-transform:uppercase;"><?php echo $invoiceIdText . ": <strong>". $invoiceId; ?></strong><br />
      DATA:
      <strong> <?php echo date("d.m.Y");  ?> </strong><br />
      PESO TOTALE ORDINE: <strong>Kg <?php echo $order->getWeight(); ?></strong></p>
      <p>
      METODO DI PAGAMENTO:<br />
        <strong><?php echo $order->getPayment()->getMethodInstance()->getTitle();  ?></strong><br /><br />
      METODO DI SPEDIZIONE:<br />
        <strong><?php echo $order->getShippingDescription();  ?></strong>
      </p>
    	</td>	
    </tr>
  </table>
  
  <table border="0" width="99%" cellspacing="0" cellpadding="0">
    <tr class="dataTableHeadingRow">
      <td class="dataTableHeadingContent">Quantità</td>
      <td class="dataTableHeadingContent">Codice</td>
      <td class="dataTableHeadingContent" align="left">Prodotto</td>
      <td class="dataTableHeadingContent" align="right">Prezzo</td>
      <td class="dataTableHeadingContent" align="right">Totale</td>
    </tr>
    <?php
	
	$_items = $order->getAllItems();
	
	$x = 0; 
	
   	foreach($_items as $_item) {

		if ($_item->getParentItem()) continue; 
		
		$_product = Mage::getModel('catalog/product')->load($_item->getProductId());
		$_imageURL = Mage::helper('catalog/image')->init($_product, 'small_image')->resize(50);
		
      echo '      <tr class="dataTableRow ' . ($x%2==0 ? "" : "alt") . '">' . "\n" .
           '        <td class="dataTableContent" valign="top" align="">' . number_format($_item->getQtyOrdered(), 0) . '</td>' . "\n" .
           '         <td class="dataTableContent" valign="top">' . $_item->getSku() . '</td>' . "\n" . 
		   '		 <td class="dataTableContent" valign="top">'. ($_showImages ? '<img src="'. $_imageURL. '">  ' : '') . $_item->getName();

		if ($options = $_item->getProductOptions()) {
		
			$result = array();
		
            if (isset($options['options'])) {
                $result = array_merge($result, $options['options']);
            }
            if (isset($options['additional_options'])) {
                $result = array_merge($result, $options['additional_options']);
            }
            if (!empty($options['attributes_info'])) {
                $result = array_merge($options['attributes_info'], $result);
            }
			
			// loop and print
			foreach ($result as $_option) {
					echo "<br /><em>" . $_option["label"] . ":</em>&nbsp;&nbsp;" . $_option["value"];
			}
			
			
			
        }
		

      echo '        </td>' . "\n" .
           '        <td class="dataTableContent" align="right" valign="top"><b>' . $order->formatPriceTxt($_item->getPriceInclTax()) .  '</b></td>' . "\n" .
           '        <td class="dataTableContent" align="right" valign="top"><b>' . $order->formatPriceTxt($_item->getRowTotalInclTax()) . '</b></td>' . "\n";
      echo '      </tr>' . "\n";
	  
	  $x++;
	  
    }
?>
    <tr>
      <td align="right" colspan="8"><table border="0" cellspacing="0" cellpadding="2" class="totals">
          <tr>
            <td align="right" class="label">Subtotale</td>
            <td align="right"><strong><?php echo $order->formatPriceTxt($order->getSubtotalInclTax()) ?></strong></td>
          </tr>
          <?php if ($order->getShippingDescription()): ?>
          <tr>
            <td align="right" class="label"><?php echo $order->getShippingDescription() ?></td>
            <td align="right"><strong><?php echo $order->formatPriceTxt($order->getShippingAmount()) ?></strong></td>
          </tr>
          <?php endif; ?>
          
          <?php if ($order->getDiscountAmount() != 0): ?>
          <tr>
            <td align="right" class="label"><?php echo $order->getDiscountDescription() ?></td>
            <td align="right"><strong><?php echo $order->formatPriceTxt($order->getDiscountAmount()) ?></strong></td>
          </tr>
          <?php endif; ?>
          
         <!-- <?php if ($order->getTaxAmount() > 0): ?>
          <tr>
            <td align="right" class="label">IVA</td>
            <td align="right"><strong><?php echo $order->formatPriceTxt($order->getTaxAmount()) ?></strong></td>
          </tr>
          <?php endif; ?>-->
          <tr class="total">
            <td align="right" class="label"><strong>Totale</strong></td>
            <td align="right"><strong><?php echo $order->formatPriceTxt($order->getGrandTotal()) ?></strong></td>
          </tr>
        </table></td>
    </tr>
  </table>
  
  <?php if ($showComments): ?>
  <div id="notes"> <strong>Notes:</strong><br />
    <textarea id="comments_area">[Type your comments here]</textarea>
  </div>
  <?php endif; ?>  

  <?php if (!empty($footerText)): ?>  
  <div id="footer">
    <p>
		<!-- Use for screen media footer text  -->
		<strong><?php echo $footerText; ?></strong>
	</p>
  </div>
  <div id="printFooter">
    <p>
		<!-- Use for printed media footer text  -->
	</p> 
	</div>  
  <?php endif; ?>       
  <!-- ENDS Main -->
</div>
</body>
</html>
