<?php
/**
 * @var $this Mage_Catalog_Block_Product_View
 */
?>
<div class="pccf_lightbox_wrapper" style="display: none">
    <div id="availability-request-form-wrapper" class="pccf yeti">
        <div class="form-view pccformwrapper well text-left">
            <form id="availability-request-form" class="form-horizontal pccform skip-shit requestAvailabilityForm" method="post" action="<?= $this->getUrl('magnaparma_catalog/availability/request')?>">
                <fieldset>
                    <input type="hidden" name="form_key" value="<?= Mage::getSingleton('core/session')->getFormKey()?>"/>
                    <input id="sku" type="hidden" name="sku" class="form-control required-entry" value="<?= $this->getProduct()->getSku()?>">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p><?= $this->getChildHtml('availability.form.header')?></p>
                        </div>
                    </div>
                    <div class="form-group required-control row">
                        <div class="col-xs-12">
                            <input id="name" name="name" placeholder="<?= $this->__('Contact name')?>" class="form-control required-entry" type="text"/>
                        </div>
                    </div>
                    <div class="form-group required-control row">
                        <div class="col-xs-12">
                            <input id="email" name="email" placeholder="<?= $this->__('Email')?>" class="form-control required-entry validate-email" type="text"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <input id="telephone" name="telephone" class="form-control" placeholder="<?= $this->__('Telephone')?>" type="text"/>
                        </div>
                    </div>
                    <div class="form-group required-control row">
                        <div class="col-xs-12">
                            <textarea id="message" name="message" class="form-control required-entry" placeholder="<?= $this->__('Request')?>"></textarea>
                        </div>
                    </div>
                    <div class="g-recaptcha" data-sitekey="<?= Mage::getStoreConfig('plugincompany_contactforms/form/recaptcha_key')?>"></div>
                    <div class="form-group">
                        <div class="col-xs-2 col-xs-offset-10">
                            <button type="submit" class="btn btn-primary"><?= $this->__('Send') ?></button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery('document').ready(function() {
        var availabilityRequestForm = new VarienForm(jQuery('.requestAvailabilityForm').first().attr('id'));
    });
</script>
