



 <div class="block1 block-categories">
    <div class="block-title">
 <!-- <strong style="color:#000000; font-weight:bold;"><?php //echo $this->__('COLLECTION') ?></strong>-->
    </div>
 
 
<div class="left_mid_bg">
	<div><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('we_recommend')->toHtml() ?></div>	
	<div class="menu_sub_head">
			<?php foreach ($this->getStoreCategories() as $_category): ?>
<?php $cateactive = $_category->getIsActive(); ?>
<?php if($cateactive == 1) { ?>
<?php $open = $_category->hasChildren(); ?>
	<div class="sub_head_list">
    <ul>
	<li><a href="<?php echo $this->getCategoryUrl($_category);?>"><?php echo $_category->getName();?></a></li></ul>
    <div class="bottom_bg"></div>
	</div>
	<?php if ($open): ?>
     <!--   		<div class="sub_head_list">
				<ul>
				<?php foreach ($_category->getChildren() as $child): ?>
					<?php $CatID = $child->getId(); ?>
					<?php $childCat = Mage::getModel('catalog/category')->load($CatID); ?>
					<li><a href="<?=$this->getCategoryUrl($childCat);?>"><?=$childCat->getName();?></a></li>
				<?php endforeach; ?>
				</ul>
			
				</div>-->
			<?php endif; ?>
<?php } ?>
<?php endforeach ?>
</div>
</div>
<div class="block-content"> </div>
</div>





