<?php
/**
 * Product:     Shop By Brands
 * Package:     Aitoc_Aitmanufacturers_3.1.4_333880
 * Purchase ID: 4D79STKSmQQjtDyqYrXg0fMBC4jIlEpde4DK5Nubhb
 * Generated:   2012-08-10 13:20:39
 * File path:   app/design/adminhtml/default/default/template/aitmanufacturers/manufacturers.phtml
 * Copyright:   (c) 2012 AITOC, Inc.
 */
?>
<!--<div class="content-header">
<table cellspacing="0">
    <tr>
        <td style="width:50%;"><h3 class="icon-head head-products"><?php echo Mage::helper('aitmanufacturers')->__('Brands Pages Manager') ?></h3></td>
        <td class="a-right">
            <?php echo $this->getAddNewButtonHtml() ?>
        </td>
    </tr>
</table>
</div>
-->
<div class="content-header">

    <table cellspacing="0">
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-adminhtml-aitmanufacturers"><?php echo Mage::helper('aitmanufacturers')->__('Attributes Pages Manager') ?></h3></td>
            <td class="form-buttons">
            	<?php echo $this->getBackButtonHtml() ?>
            	<?php echo $this->getFillOutButtonHtml() ?>
            	<?php echo $this->getAddNewButtonHtml() ?>
        </tr>
    </table>
</div>
<?php if( !$this->isSingleStoreMode() ): ?>
<?php echo $this->getChildHtml('store_switcher');?>
<?php endif;?>
<div>
    <?php echo $this->getGridHtml() ?>
</div>