<?php
/**
 * Product:     Shop By Brands
 * Package:     Aitoc_Aitmanufacturers_3.1.4_333880
 * Purchase ID: 4D79STKSmQQjtDyqYrXg0fMBC4jIlEpde4DK5Nubhb
 * Generated:   2012-08-10 13:20:39
 * File path:   app/design/adminhtml/default/default/template/aitmanufacturers/selectattribute.phtml
 * Copyright:   (c) 2012 AITOC, Inc.
 */
?>
<div class="entry-edit">
    <?php
        echo $this->getFormHtml();
    ?>
</div>
<script type="text/javascript">
//<![CDATA[
    var productTemplateSyntax = /(^|.|\r|\n)({{(\w+)}})/;
    function setSettings(urlTemplate, attElement) {
        var template = new Template(urlTemplate, productTemplateSyntax);
        setLocation(template.evaluate({attributecode:$F(attElement)}));
    }
//]]>
</script>