<?php
/**
 *
 * Created by:  Milan Simek
 * Company:     Plugin Company
 *
 * LICENSE: http://plugin.company/docs/magento-extensions/magento-extension-license-agreement
 *
 * YOU WILL ALSO FIND A PDF COPY OF THE LICENSE IN THE DOWNLOADED ZIP FILE
 *
 * FOR QUESTIONS AND SUPPORT
 * PLEASE DON'T HESITATE TO CONTACT US AT:
 *
 * SUPPORT@PLUGIN.COMPANY
 *
 */
?>

<?php
    $baseUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS) . 'plugincompany/contactforms/dfields/dist/';
?>

<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='initial-scale=1'>
    <title>Dependent Form Fields</title>

    <link rel='stylesheet' href='<?php echo $baseUrl; ?>styles.css'>
</html>

<body>

<main></main>

<script>
    var DfieldsJson = <?php echo $this->getDfieldsJSON(); ?>;
    var FormJSON = <?php echo $this->getFormContentsJSON(); ?>;
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src='<?php echo $baseUrl; ?>require.js' data-main='<?php echo $baseUrl; ?>js/main.js'></script>

</body>
