<?php
/**
 *
 * Created by:  Milan Simek
 * Company:     Plugin Company
 *
 * LICENSE: http://plugin.company/docs/magento-extensions/magento-extension-license-agreement
 *
 * YOU WILL ALSO FIND A PDF COPY OF THE LICENSE IN THE DOWNLOADED ZIP FILE
 *
 * FOR QUESTIONS AND SUPPORT
 * PLEASE DON'T HESITATE TO CONTACT US AT:
 *
 * SUPPORT@PLUGIN.COMPANY
 *
 */
?>
<?php
    $baseUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS) . 'plugincompany/contactforms/bfb/';
    $libUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS) . 'plugincompany/contactforms/lib/';
    $cssUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS) . 'plugincompany/contactforms/css/';
?>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap Form Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="<?php echo $baseUrl; ?>assets/css/lib/bootstrap-3.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $baseUrl; ?>assets/css/custom.css?v=2" rel="stylesheet">
    <link href="<?php echo $cssUrl; ?>shared.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
<!--    <div class="navbar navbar-default navbar-fixed-top">-->
<!--      <div class="container">-->
<!--        <div class="navbar-header">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="container pccf" style="margin-left:0px;width:100%;max-width:100%">
      <div class="row">
        <!-- Building Form. -->
        <div class="col-md-6">
          <div class="clearfix">
            <h2 class="header">Contact Form</h2>
              <p class="header">Build up your contact form below using the form components on the left.</p>
            <hr>
            <div id="build">
              <form id="target" class="form-horizontal">
              </form>
            </div>
          </div>
        </div>
        <!-- / Building Form. -->

        <!-- Components -->
        <div class="col-md-6">

          <h2 class="header">Form Components</h2>
            <p class="header">Drag and drop selected form components into the Contact Form area.</p>
          <hr>
          <div class="tabbable">
            <ul class="nav nav-tabs" id="formtabs">
              <!-- Tab nav -->
            </ul>
            <form id="components" class="form-horizontal">
              <fieldset>
                <div class="tab-content">
                  <!-- Tabs of snippets go here -->
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <!-- / Components -->
      </div>

        <input id="render" style="display:none"/>

    </div> <!-- /container -->
    <script type="text/javascript">
        var formcontents = <?php echo $this->getFormContentsJSON();?>
    </script>
    <script data-main="<?php echo $baseUrl; ?>assets/js/main-built.js" src="<?php echo $baseUrl; ?>assets/js/lib/require.js?v=3" ></script>
  </body>
</html>
