@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");
/*!
 * bootswatch v3.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2014 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
.pccf.amelia,
.pccf.amelia p,
.pccf.amelia h1,
.pccf.amelia h2,
.pccf.amelia h3,
.pccf.amelia h4,
.pccf.amelia h5,
.pccf.amelia h6
{
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.pccf.amelia,
.pccf.amelia p,
.pccf.amelia h1,
.pccf.amelia h2,
.pccf.amelia h3,
.pccf.amelia h4,
.pccf.amelia h5,
.pccf.amelia h6
{
  margin: 0;
}
.pccf.amelia h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.pccf.amelia button,
.pccf.amelia input,
.pccf.amelia select,
.pccf.amelia textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.pccf.amelia button {
  overflow: visible;
}
.pccf.amelia button,
.pccf.amelia select {
  text-transform: none;
}
.pccf.amelia button {
  -webkit-appearance: button;
  cursor: pointer;
}
.pccf.amelia button::-moz-focus-inner,
.pccf.amelia input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.pccf.amelia input {
  line-height: normal;
}
.pccf.amelia input[type="checkbox"],
.pccf.amelia input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.pccf.amelia input[type="number"]::-webkit-inner-spin-button,
.pccf.amelia input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.pccf.amelia input[type="search"]::-webkit-search-cancel-button,
.pccf.amelia input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.pccf.amelia fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.pccf.amelia legend {
  border: 0;
  padding: 0;
}
.pccf.amelia textarea {
  overflow: auto;
}
@media print {
  .pccf.amelia * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  .pccf.amelia p,
  .pccf.amelia h2,
  .pccf.amelia h3 {
    orphans: 3;
    widows: 3;
  }
  .pccf.amelia h2,
  .pccf.amelia h3 {
    page-break-after: avoid;
  }
  .pccf.amelia select {
    background: #fff !important;
  }
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.pccf.amelia * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pccf.amelia *:before,
.pccf.amelia *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pccf.amelia  {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.pccf.amelia,
.pccf.amelia p,
.pccf.amelia h1,
.pccf.amelia h2,
.pccf.amelia h3,
.pccf.amelia h4,
.pccf.amelia h5,
.pccf.amelia h6
{
  font-family: "Cabin", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ffffff;
}
.pccf.amelia {background-color: #108a93;}
.pccf.amelia input,
.pccf.amelia button,
.pccf.amelia select,
.pccf.amelia textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.pccf.amelia h1,
.pccf.amelia h2,
.pccf.amelia h3,
.pccf.amelia h4,
.pccf.amelia h5,
.pccf.amelia h6 {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.pccf.amelia h1,
.pccf.amelia h2,
.pccf.amelia h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.pccf.amelia h4,
.pccf.amelia h5,
.pccf.amelia h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pccf.amelia h1 {
  font-size: 36px;
}
.pccf.amelia h2 {
  font-size: 30px;
}
.pccf.amelia h3 {
  font-size: 24px;
}
.pccf.amelia h4 {
  font-size: 18px;
}
.pccf.amelia h5 {
  font-size: 14px;
}
.pccf.amelia h6 {
  font-size: 12px;
}
.pccf.amelia p {
  margin: 0 0 10px;
}
.pccf.amelia .text-center {
  text-align: center;
}
@media (min-width: 768px) {
}
.pccf.amelia .row {
  margin-left: -15px;
  margin-right: -15px;
}
.pccf.amelia .col-md-2,
.pccf.amelia .col-md-3,
.pccf.amelia .col-md-4,
.pccf.amelia .col-md-5,
.pccf.amelia .col-md-6,
.pccf.amelia .col-lg-6,
.pccf.amelia .col-md-8,
.pccf.amelia .col-lg-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .pccf.amelia .col-md-2,
  .pccf.amelia .col-md-3,
  .pccf.amelia .col-md-4,
  .pccf.amelia .col-md-5,
  .pccf.amelia .col-md-6,
  .pccf.amelia .col-md-8 {
    float: left;
  }
  .pccf.amelia .col-md-8 {
    width: 66.66666667%;
  }
  .pccf.amelia .col-md-6 {
    width: 50%;
  }
  .pccf.amelia .col-md-5 {
    width: 41.66666667%;
  }
  .pccf.amelia .col-md-4 {
    width: 33.33333333%;
  }
  .pccf.amelia .col-md-3 {
    width: 25%;
  }
  .pccf.amelia .col-md-2 {
    width: 16.66666667%;
  }
}
@media (min-width: 1200px) {
  .pccf.amelia .col-lg-6,
  .pccf.amelia .col-lg-8 {
    float: left;
  }
  .pccf.amelia .col-lg-8 {
    width: 66.66666667%;
  }
  .pccf.amelia .col-lg-6 {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
}
.pccf.amelia fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
.pccf.amelia legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #ffffff;
  border: 0;
  border-bottom: 1px solid #0d747c;
}
.pccf.amelia label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.pccf.amelia input[type="radio"],
.pccf.amelia input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
.pccf.amelia select[multiple] {
  height: auto;
}
.pccf.amelia input[type="radio"]:focus,
.pccf.amelia input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.pccf.amelia .form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #444444;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.pccf.amelia .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.pccf.amelia .form-control::-moz-placeholder {
  color: #bbbbbb;
  opacity: 1;
}
.pccf.amelia .form-control:-ms-input-placeholder {
  color: #bbbbbb;
}
.pccf.amelia .form-control::-webkit-input-placeholder {
  color: #bbbbbb;
}
.pccf.amelia textarea.form-control {
  height: auto;
}
.pccf.amelia .form-group {
  margin-bottom: 15px;
}
.pccf.amelia .radio,
.pccf.amelia .checkbox {
  position: relative;
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pccf.amelia .radio label,
.pccf.amelia .checkbox label {
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.pccf.amelia .radio input[type="radio"],
.pccf.amelia .radio-inline input[type="radio"],
.pccf.amelia .checkbox input[type="checkbox"],
.pccf.amelia .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.pccf.amelia .radio + .radio,
.pccf.amelia .checkbox + .checkbox {
  margin-top: -5px;
}
.pccf.amelia .radio-inline,
.pccf.amelia .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.pccf.amelia .radio-inline + .radio-inline,
.pccf.amelia .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.pccf.amelia .input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.pccf.amelia select.input-sm {
  height: 30px;
  line-height: 30px;
}
.pccf.amelia textarea.input-sm,
.pccf.amelia select[multiple].input-sm {
  height: auto;
}
.pccf.amelia .input-lg {
  height: 54px;
  padding: 14px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.pccf.amelia select.input-lg {
  height: 54px;
  line-height: 54px;
}
.pccf.amelia textarea.input-lg,
.pccf.amelia select[multiple].input-lg {
  height: auto;
}
.pccf.amelia .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ffffff;
}
@media (min-width: 768px) {
}
.pccf.amelia .form-horizontal .radio,
.pccf.amelia .form-horizontal .checkbox,
.pccf.amelia .form-horizontal .radio-inline,
.pccf.amelia .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 9px;
}
.pccf.amelia .form-horizontal .radio,
.pccf.amelia .form-horizontal .checkbox {
  min-height: 29px;
}
.pccf.amelia .form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .pccf.amelia .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 9px;
  }
}
.pccf.amelia .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pccf.amelia .btn:focus,
.pccf.amelia .btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.pccf.amelia .btn:hover,
.pccf.amelia .btn:focus {
  color: #444444;
  text-decoration: none;
}
.pccf.amelia .btn:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.pccf.amelia .btn-default {
  color: #444444;
  background-color: #dddddd;
  border-color: #dddddd;
}
.pccf.amelia .btn-default:hover,
.pccf.amelia .btn-default:focus,
.pccf.amelia .btn-default:active {
  color: #444444;
  background-color: #c4c4c4;
  border-color: #bebebe;
}
.pccf.amelia .btn-default:active {
  background-image: none;
}
.pccf.amelia .btn-primary {
  color: #ffffff;
  background-color: #ad1d28;
  border-color: #ad1d28;
}
.pccf.amelia .btn-primary:hover,
.pccf.amelia .btn-primary:focus,
.pccf.amelia .btn-primary:active {
  color: #ffffff;
  background-color: #81161e;
  border-color: #79141c;
}
.pccf.amelia .btn-primary:active {
  background-image: none;
}
.pccf.amelia .btn-success {
  color: #ffffff;
  background-color: #48ca3b;
  border-color: #48ca3b;
}
.pccf.amelia .btn-success:hover,
.pccf.amelia .btn-success:focus,
.pccf.amelia .btn-success:active {
  color: #ffffff;
  background-color: #38a52d;
  border-color: #359d2b;
}
.pccf.amelia .btn-success:active {
  background-image: none;
}
.pccf.amelia .btn-info {
  color: #ffffff;
  background-color: #4d3a7d;
  border-color: #4d3a7d;
}
.pccf.amelia .btn-info:hover,
.pccf.amelia .btn-info:focus,
.pccf.amelia .btn-info:active {
  color: #ffffff;
  background-color: #382a5a;
  border-color: #332753;
}
.pccf.amelia .btn-info:active {
  background-image: none;
}
.pccf.amelia .btn-warning {
  color: #ffffff;
  background-color: #debb27;
  border-color: #debb27;
}
.pccf.amelia .btn-warning:hover,
.pccf.amelia .btn-warning:focus,
.pccf.amelia .btn-warning:active {
  color: #ffffff;
  background-color: #b6991c;
  border-color: #ad911a;
}
.pccf.amelia .btn-warning:active {
  background-image: none;
}
.pccf.amelia .btn-danger {
  color: #ffffff;
  background-color: #df6e1e;
  border-color: #df6e1e;
}
.pccf.amelia .btn-danger:hover,
.pccf.amelia .btn-danger:focus,
.pccf.amelia .btn-danger:active {
  color: #ffffff;
  background-color: #b25818;
  border-color: #a95317;
}
.pccf.amelia .btn-danger:active {
  background-image: none;
}
@media (min-width: 768px) {
}
.pccf.amelia .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.pccf.amelia .input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.pccf.amelia .input-group-addon,
.pccf.amelia .input-group .form-control {
  display: table-cell;
}
.pccf.amelia .input-group-addon {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.pccf.amelia .input-group-addon {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #444444;
  text-align: center;
  background-color: #dddddd;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.pccf.amelia .input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.pccf.amelia .input-group .form-control:first-child,
.pccf.amelia .input-group-addon:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pccf.amelia .input-group-addon:first-child {
  border-right: 0;
}
.pccf.amelia .input-group .form-control:last-child,
.pccf.amelia .input-group-addon:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pccf.amelia .input-group-addon:last-child {
  border-left: 0;
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
.pccf.amelia .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.pccf.amelia .alert-success {
  background-color: #48ca3b;
  border-color: #55b932;
  color: #ffffff;
}
.pccf.amelia .alert-info {
  background-color: #4d3a7d;
  border-color: #352f65;
  color: #ffffff;
}
.pccf.amelia .alert-warning {
  background-color: #debb27;
  border-color: #d59521;
  color: #ffffff;
}
.pccf.amelia .alert-danger {
  background-color: #df6e1e;
  border-color: #d2491c;
  color: #ffffff;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.pccf.amelia .panel {
  margin-bottom: 20px;
  background-color: #13a0aa;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pccf.amelia .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.pccf.amelia .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.pccf.amelia .panel-default {
  border-color: #0d747c;
}
.pccf.amelia .panel-default > .panel-heading {
  color: #ffffff;
  background-color: #18cbd8;
  border-color: #0d747c;
}
.pccf.amelia .panel-primary {
  border-color: #ad1d28;
}
.pccf.amelia .panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #ad1d28;
  border-color: #ad1d28;
}
.pccf.amelia .panel-success {
  border-color: #55b932;
}
.pccf.amelia .panel-success > .panel-heading {
  color: #ffffff;
  background-color: #48ca3b;
  border-color: #55b932;
}
.pccf.amelia .panel-info {
  border-color: #352f65;
}
.pccf.amelia .panel-info > .panel-heading {
  color: #ffffff;
  background-color: #4d3a7d;
  border-color: #352f65;
}
.pccf.amelia .panel-warning {
  border-color: #d59521;
}
.pccf.amelia .panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #debb27;
  border-color: #d59521;
}
.pccf.amelia .well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #0d747c;
  border: 1px solid #0a565c;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
@media (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
.pccf.amelia .row:before,
.pccf.amelia .row:after,
.pccf.amelia .form-horizontal .form-group:before,
.pccf.amelia .form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.pccf.amelia .row:after,
.pccf.amelia .form-horizontal .form-group:after {
  clear: both;
}
@-ms-viewport {
  width: device-width;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media print {
}
.pccf.amelia .btn-default:hover {
  color: #444444;
}
.pccf.amelia input,
.pccf.amelia textarea {
  color: #444444;
}
.pccf.amelia legend {
  font-family: 'Lobster', cursive;
  color: #fff;
}
.pccf.amelia .input-group-addon {
  color: #444444;
}

@media (max-width: 992px) {
    .pccf fieldset {
        padding:10px!important;
    }
}

.pccf .col-lg-8>p {
    clear: both;
}
.pccf .validation-advice {color:inherit}
.pccf .required-control .control-label:after {
    content: " *";
    color: #fc4c5e;
}
.pccf label {font-size:inherit!important;}
.pccf {background:none!important;}

.pccf .input-group-addon {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.pccf .form-horizontal.pccform fieldset {padding:10px!important}

.pccf textarea {
    width: 100%;
    max-width: 100%;
}

/* navigation inactive tab */

.pccf.amelia .nav-wizard > li > a {
    color: #e8d069;
    background-color: rgba(60, 185, 198, 1);
    font-family: 'Cabin',Verdana,sans-serif;
}
.pccf.amelia .nav-wizard > li:not(:last-child) > a:after {
    border-left: 20px solid rgba(60, 185, 198, 1);
}

/* navigation active tab */

.pccf.amelia .nav-wizard > li.active > a:after {
    border-left-color: #8ad5dc;
}
.pccf.amelia .nav-wizard > li.active > a, .pccf.amelia .nav-wizard > li.active > a:hover, .pccf.amelia .nav-wizard > li.active > a:focus {
    color: #e1f0f0;
    background-color: #8ad5dc;
}

/* navigation background */

.pccf.amelia .well .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #0D747C;
}
.pccf.amelia .panel .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #13A0AA;
}

/* small navigation inactive tab */

.pccf.smallnav.amelia .nav-wizard > li:before {
    color: #e8d069;
    background-color: rgba(60, 185, 198, 1);
    border-color: rgba(60, 185, 198, 1);
}

/* small navigation active tab */

.pccf.smallnav.amelia .nav-wizard > li.active:before {
    color: #e1f0f0;
    background-color: #8ad5dc;
    border-color: #8ad5dc;
}

/* small navigation background */

.pccf.smallnav.amelia ul.nav-wizard:before {
    background: rgba(60, 185, 198, 1);
}