@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
    /*!
 * bootswatch v3.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2014 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*//*! normalize.css v3.0.1 | MIT License | git.io/normalize */

.pccf.cosmo {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
.pccf.cosmo {
    margin: 0;
}
.pccf.cosmo h1 {
    margin: .67em 0;
}
.pccf.cosmo button, .pccf.cosmo input, .pccf.cosmo select, .pccf.cosmo textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.pccf.cosmo button {
    overflow: visible;
}
.pccf.cosmo button, .pccf.cosmo select {
    text-transform: none;
}
.pccf.cosmo button {
    -webkit-appearance: button;
    cursor: pointer;
}
.pccf.cosmo button::-moz-focus-inner, .pccf.cosmo input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.pccf.cosmo input[type=checkbox], .pccf.cosmo input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.pccf.cosmo input[type=number]::-webkit-inner-spin-button, .pccf.cosmo input[type=number]::-webkit-outer-spin-button {
    height: auto;
}
.pccf.cosmo input[type=search]::-webkit-search-cancel-button, .pccf.cosmo input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
.pccf.cosmo textarea {
    overflow: auto;
}
@media print {
    .pccf.cosmo * {
    text-shadow: none!important;
    color: #000!important;
    box-shadow: none!important;
}
.pccf.cosmo h2, .pccf.cosmo h3, .pccf.cosmo p {
    orphans: 3;
    widows: 3;
}
.pccf.cosmo h2, .pccf.cosmo h3 {
    page-break-after: avoid;
}
.pccf.cosmo select {
    background: #fff!important;
}
}
.pccf.cosmo *, .pccf.cosmo :after, .pccf.cosmo :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pccf.cosmo {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
.pccf.cosmo {
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.pccf.cosmo button, .pccf.cosmo input, .pccf.cosmo select, .pccf.cosmo textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.pccf.cosmo h1, .pccf.cosmo h2, .pccf.cosmo h3, .pccf.cosmo h4, .pccf.cosmo h5, .pccf.cosmo h6 {
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}
.pccf.cosmo h1, .pccf.cosmo h2, .pccf.cosmo h3 {
    margin-top: 21px;
    margin-bottom: 10.5px;
}
.pccf.cosmo h4, .pccf.cosmo h5, .pccf.cosmo h6 {
    margin-top: 10.5px;
    margin-bottom: 10.5px;
}
.pccf.cosmo h1 {
    font-size: 39px;
}
.pccf.cosmo h2 {
    font-size: 32px;
}
.pccf.cosmo h3 {
    font-size: 26px;
}
.pccf.cosmo h4 {
    font-size: 19px;
}
.pccf.cosmo h5 {
    font-size: 15px;
}
.pccf.cosmo h6 {
    font-size: 13px;
}
.pccf.cosmo p {
    margin: 0 0 10.5px;
}
.pccf.cosmo .text-center {
    text-align: center;
}
@media (min-width:768px) {
}
.pccf.cosmo .row {
    margin-left: -15px;
    margin-right: -15px;
}
.pccf.cosmo .col-lg-6, .pccf.cosmo .col-lg-8, .pccf.cosmo .col-md-2, .pccf.cosmo .col-md-3, .pccf.cosmo .col-md-4, .pccf.cosmo .col-md-5, .pccf.cosmo .col-md-6, .pccf.cosmo .col-md-8 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width:768px) {
}
@media (min-width:992px) {
    .pccf.cosmo .col-md-2, .pccf.cosmo .col-md-3, .pccf.cosmo .col-md-4, .pccf.cosmo .col-md-5, .pccf.cosmo .col-md-6, .pccf.cosmo .col-md-8 {
    float: left;
}
.pccf.cosmo .col-md-8 {
    width: 66.66666667%}
.pccf.cosmo .col-md-6 {
    width: 50%}
.pccf.cosmo .col-md-5 {
    width: 41.66666667%}
.pccf.cosmo .col-md-4 {
    width: 33.33333333%}
.pccf.cosmo .col-md-3 {
    width: 25%}
.pccf.cosmo .col-md-2 {
    width: 16.66666667%}
}
@media (min-width:1200px) {
    .pccf.cosmo .col-lg-6, .pccf.cosmo .col-lg-8 {
    float: left;
}
.pccf.cosmo .col-lg-8 {
    width: 66.66666667%}
.pccf.cosmo .col-lg-6 {
    width: 50%}
}
@media screen and (max-width:767px) {
}
.pccf.cosmo fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}
.pccf.cosmo legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 21px;
    font-size: 22.5px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.pccf.cosmo label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.pccf.cosmo input[type=checkbox], .pccf.cosmo input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
}
.pccf.cosmo select[multiple] {
    height: auto;
}
.pccf.cosmo input[type=checkbox]:focus, .pccf.cosmo input[type=radio]:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
.pccf.cosmo .form-control {
    display: block;
    width: 100%;
    height: 43px;
    padding: 10px 18px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.pccf.cosmo .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.pccf.cosmo .form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.pccf.cosmo .form-control:-ms-input-placeholder {
    color: #999;
}
.pccf.cosmo .form-control::-webkit-input-placeholder {
    color: #999;
}
.pccf.cosmo textarea.form-control {
    height: auto;
}
.pccf.cosmo .form-group {
    margin-bottom: 15px;
}
.pccf.cosmo .checkbox, .pccf.cosmo .radio {
    position: relative;
    display: block;
    min-height: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pccf.cosmo .checkbox label, .pccf.cosmo .radio label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.pccf.cosmo .checkbox input[type=checkbox], .pccf.cosmo .checkbox-inline input[type=checkbox], .pccf.cosmo .radio input[type=radio], .pccf.cosmo .radio-inline input[type=radio] {
    position: absolute;
    margin-left: -20px;
}
.pccf.cosmo .checkbox+.checkbox, .pccf.cosmo .radio+.radio {
    margin-top: -5px;
}
.pccf.cosmo .checkbox-inline, .pccf.cosmo .radio-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
}
.pccf.cosmo .checkbox-inline+.checkbox-inline, .pccf.cosmo .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 10px;
}
.pccf.cosmo .input-sm {
    height: 31px;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 0;
}
.pccf.cosmo select.input-sm {
    height: 31px;
    line-height: 31px;
}
.pccf.cosmo select[multiple].input-sm, .pccf.cosmo textarea.input-sm {
    height: auto;
}
.pccf.cosmo .input-lg {
    height: 64px;
    padding: 18px 30px;
    font-size: 19px;
    line-height: 1.33;
    border-radius: 0;
}
.pccf.cosmo select.input-lg {
    height: 64px;
    line-height: 64px;
}
.pccf.cosmo select[multiple].input-lg, .pccf.cosmo textarea.input-lg {
    height: auto;
}
.pccf.cosmo .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
@media (min-width:768px) {
}
.pccf.cosmo .form-horizontal .checkbox, .pccf.cosmo .form-horizontal .checkbox-inline, .pccf.cosmo .form-horizontal .radio, .pccf.cosmo .form-horizontal .radio-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 11px;
}
.pccf.cosmo .form-horizontal .checkbox, .pccf.cosmo .form-horizontal .radio {
    min-height: 32px;
}
.pccf.cosmo .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width:768px) {
    .pccf.cosmo .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 11px;
}
}
.pccf.cosmo .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 18px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pccf.cosmo .btn:active:focus, .pccf.cosmo .btn:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
.pccf.cosmo .btn:focus, .pccf.cosmo .btn:hover {
    color: #fff;
    text-decoration: none;
}
.pccf.cosmo .btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.pccf.cosmo .btn-default {
    color: #fff;
    background-color: #222;
    border-color: #222;
}
.pccf.cosmo .btn-default:active, .pccf.cosmo .btn-default:focus, .pccf.cosmo .btn-default:hover {
    color: #fff;
    background-color: #090909;
    border-color: #040404;
}
.pccf.cosmo .btn-default:active {
    background-image: none;
}
.pccf.cosmo .btn-primary {
    color: #fff;
    background-color: #2780e3;
    border-color: #2780e3;
}
.pccf.cosmo .btn-primary:active, .pccf.cosmo .btn-primary:focus, .pccf.cosmo .btn-primary:hover {
    color: #fff;
    background-color: #1967be;
    border-color: #1862b5;
}
.pccf.cosmo .btn-primary:active {
    background-image: none;
}
.pccf.cosmo .btn-success {
    color: #fff;
    background-color: #3fb618;
    border-color: #3fb618;
}
.pccf.cosmo .btn-success:active, .pccf.cosmo .btn-success:focus, .pccf.cosmo .btn-success:hover {
    color: #fff;
    background-color: #2f8912;
    border-color: #2c8011;
}
.pccf.cosmo .btn-success:active {
    background-image: none;
}
.pccf.cosmo .btn-info {
    color: #fff;
    background-color: #9954bb;
    border-color: #9954bb;
}
.pccf.cosmo .btn-info:active, .pccf.cosmo .btn-info:focus, .pccf.cosmo .btn-info:hover {
    color: #fff;
    background-color: #7e3f9d;
    border-color: #783c96;
}
.pccf.cosmo .btn-info:active {
    background-image: none;
}
.pccf.cosmo .btn-warning {
    color: #fff;
    background-color: #ff7518;
    border-color: #ff7518;
}
.pccf.cosmo .btn-warning:active, .pccf.cosmo .btn-warning:focus, .pccf.cosmo .btn-warning:hover {
    color: #fff;
    background-color: #e45c00;
    border-color: #da5800;
}
.pccf.cosmo .btn-warning:active {
    background-image: none;
}
.pccf.cosmo .btn-danger {
    color: #fff;
    background-color: #ff0039;
    border-color: #ff0039;
}
.pccf.cosmo .btn-danger:active, .pccf.cosmo .btn-danger:focus, .pccf.cosmo .btn-danger:hover {
    color: #fff;
    background-color: #cc002e;
    border-color: #c2002b;
}
.pccf.cosmo .btn-danger:active {
    background-image: none;
}
@media (min-width:768px) {
}
.pccf.cosmo .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.pccf.cosmo .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.pccf.cosmo .input-group .form-control, .pccf.cosmo .input-group-addon {
    display: table-cell;
}
.pccf.cosmo .input-group-addon {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.pccf.cosmo .input-group-addon {
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    color: #333;
    text-align: center;
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    border-radius: 0;
}
.pccf.cosmo .input-group-addon input[type=checkbox] {
    margin-top: 0;
}
.pccf.cosmo .input-group .form-control:first-child, .pccf.cosmo .input-group-addon:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.pccf.cosmo .input-group-addon:first-child {
    border-right: 0;
}
.pccf.cosmo .input-group .form-control:last-child, .pccf.cosmo .input-group-addon:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.pccf.cosmo .input-group-addon:last-child {
    border-left: 0;
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (max-width:767px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (max-width:767px) {
}
@media (max-width:767px) {
}
@media screen and (min-width:768px) {
}
.pccf.cosmo .alert {
    padding: 15px;
    margin-bottom: 21px;
    border-radius: 0;
}
.pccf.cosmo .alert-success {
    background-color: #3fb618;
    border-color: #4e9f15;
    color: #fff;
}
.pccf.cosmo .alert-info {
    background-color: #9954bb;
    border-color: #7643a8;
    color: #fff;
}
.pccf.cosmo .alert-warning {
    background-color: #ff7518;
    border-color: #ff4309;
    color: #fff;
}
.pccf.cosmo .alert-danger {
    background-color: #ff0039;
    border-color: #f0005e;
    color: #fff;
}
@-webkit-keyframes progress-bar-stripes {
    from {
    background-position: 40px 0;
}
to {
    background-position: 0 0;
}
}
@keyframes progress-bar-stripes {
    from {
    background-position: 40px 0;
}
to {
    background-position: 0 0;
}
}
.pccf.cosmo .panel {
    margin-bottom: 21px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.pccf.cosmo .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}
.pccf.cosmo .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    color: inherit;
}
.pccf.cosmo .panel-default {
    border-color: #ddd;
}
.pccf.cosmo .panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.pccf.cosmo .panel-primary {
    border-color: #2780e3;
}
.pccf.cosmo .panel-primary>.panel-heading {
    color: #fff;
    background-color: #2780e3;
    border-color: #2780e3;
}
.pccf.cosmo .panel-success {
    border-color: #4e9f15;
}
.pccf.cosmo .panel-success>.panel-heading {
    color: #fff;
    background-color: #3fb618;
    border-color: #4e9f15;
}
.pccf.cosmo .panel-info {
    border-color: #7643a8;
}
.pccf.cosmo .panel-info>.panel-heading {
    color: #fff;
    background-color: #9954bb;
    border-color: #7643a8;
}
.pccf.cosmo .panel-warning {
    border-color: #ff4309;
}
.pccf.cosmo .panel-warning>.panel-heading {
    color: #fff;
    background-color: #ff7518;
    border-color: #ff4309;
}
.pccf.cosmo .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
@media (min-width:768px) {
}
@media screen and (min-width:768px) {
}
.pccf.cosmo .form-horizontal .form-group:after, .pccf.cosmo .form-horizontal .form-group:before, .pccf.cosmo .row:after, .pccf.cosmo .row:before {
    content: " ";
    display: table;
}
.pccf.cosmo .form-horizontal .form-group:after, .pccf.cosmo .row:after {
    clear: both;
}
@-ms-viewport {
    width: device-width;
}
@media (max-width:767px) {
}
@media (min-width:768px) and (max-width:991px) {
}
@media (min-width:992px) and (max-width:1199px) {
}
@media (min-width:1200px) {
}
@media print {
}
.pccf.cosmo {
    -webkit-font-smoothing: antialiased;
}
.pccf.cosmo .alert {
    border: none;
}
.pccf.cosmo .panel-heading {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

@media (max-width: 992px) {
    .pccf fieldset {
        padding:10px!important;
    }
}

.pccf .col-lg-8>p {
    clear: both;
}
.pccf textarea {
    width: 100%;
    max-width: 100%;
}

/* RTL FIX */
.pccf.cosmo.rtl .input-group-addon:last-child {
    border-right: 0!important;
    border-left: 1px solid #ccc!important;
}

.pccf.cosmo.rtl .input-group-addon:first-child {
    border-left: 0!important;
    border-right: 1px solid #ccc!important;
}

/* navigation inactive tab */

.pccf.cosmo .nav-wizard > li > a {
    color: #2780e3;
    background-color: #e6e6e6;
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}
.pccf.cosmo .nav-wizard > li:not(:last-child) > a:after {
    border-left: 20px solid #e6e6e6;
}

/* navigation active tab */

.pccf.cosmo .nav-wizard > li.active > a:after {
    border-left-color: #2780e3;
}
.pccf.cosmo .nav-wizard > li.active > a, .pccf.cosmo .nav-wizard > li.active > a:hover, .pccf.cosmo .nav-wizard > li.active > a:focus {
    color: #fff;
    background-color: #2780e3;
}

/* navigation background */

.pccf.cosmo .well .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #F5F5F5;
}
.pccf.cosmo .panel .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #fff;
}

/* small navigation inactive tab */

.pccf.smallnav.cosmo .nav-wizard > li:before {
    color: #2780e3;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

/* small navigation active tab */

.pccf.smallnav.cosmo .nav-wizard > li.active:before {
    color: #fff;
    background-color: #2780e3;
    border-color: #2780e3;
}

/* small navigation background */

.pccf.smallnav.cosmo ul.nav-wizard:before {
    background: #e6e6e6;
}