@import url(//fonts.googleapis.com/css?family=Roboto:400,700);
    /*!
 * bootswatch v3.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2014 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*//*! normalize.css v3.0.1 | MIT License | git.io/normalize */.pccf.cyborg {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
.pccf.cyborg {
    margin: 0;
}
.pccf.cyborg h1 {
    margin: .67em 0;
}
.pccf.cyborg button, .pccf.cyborg input, .pccf.cyborg select, .pccf.cyborg textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.pccf.cyborg button {
    overflow: visible;
}
.pccf.cyborg button, .pccf.cyborg select {
    text-transform: none;
}
.pccf.cyborg button {
    -webkit-appearance: button;
    cursor: pointer;
}
.pccf.cyborg button::-moz-focus-inner, .pccf.cyborg input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.pccf.cyborg input[type=checkbox], .pccf.cyborg input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.pccf.cyborg input[type=number]::-webkit-inner-spin-button, .pccf.cyborg input[type=number]::-webkit-outer-spin-button {
    height: auto;
}
.pccf.cyborg input[type=search]::-webkit-search-cancel-button, .pccf.cyborg input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
.pccf.cyborg textarea {
    overflow: auto;
}
@media print {
    .pccf.cyborg * {
    text-shadow: none!important;
    color: #000!important;
    box-shadow: none!important;
}
.pccf.cyborg h2, .pccf.cyborg h3, .pccf.cyborg p {
    orphans: 3;
    widows: 3;
}
.pccf.cyborg h2, .pccf.cyborg h3 {
    page-break-after: avoid;
}
.pccf.cyborg select {
    background: #fff!important;
}
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
.pccf.cyborg *, .pccf.cyborg :after, .pccf.cyborg :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pccf.cyborg {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
.pccf.cyborg {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #888;
    background-color: #060606;
}
.pccf.cyborg button, .pccf.cyborg input, .pccf.cyborg select, .pccf.cyborg textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.pccf.cyborg h1, .pccf.cyborg h2, .pccf.cyborg h3, .pccf.cyborg h4, .pccf.cyborg h5, .pccf.cyborg h6 {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
}
.pccf.cyborg h1, .pccf.cyborg h2, .pccf.cyborg h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.pccf.cyborg h4, .pccf.cyborg h5, .pccf.cyborg h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pccf.cyborg h1 {
    font-size: 56px;
}
.pccf.cyborg h2 {
    font-size: 45px;
}
.pccf.cyborg h3 {
    font-size: 34px;
}
.pccf.cyborg h4 {
    font-size: 24px;
}
.pccf.cyborg h5 {
    font-size: 20px;
}
.pccf.cyborg h6 {
    font-size: 16px;
}
.pccf.cyborg p {
    margin: 0 0 10px;
}
.pccf.cyborg .text-center {
    text-align: center;
}
@media (min-width:768px) {
}
.pccf.cyborg .row {
    margin-left: -15px;
    margin-right: -15px;
}
.pccf.cyborg .col-lg-6, .pccf.cyborg .col-lg-8, .pccf.cyborg .col-md-2, .pccf.cyborg .col-md-3, .pccf.cyborg .col-md-4, .pccf.cyborg .col-md-5, .pccf.cyborg .col-md-6, .pccf.cyborg .col-md-8 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width:768px) {
}
@media (min-width:992px) {
    .pccf.cyborg .col-md-2, .pccf.cyborg .col-md-3, .pccf.cyborg .col-md-4, .pccf.cyborg .col-md-5, .pccf.cyborg .col-md-6, .pccf.cyborg .col-md-8 {
    float: left;
}
.pccf.cyborg .col-md-8 {
    width: 66.66666667%}
.pccf.cyborg .col-md-6 {
    width: 50%}
.pccf.cyborg .col-md-5 {
    width: 41.66666667%}
.pccf.cyborg .col-md-4 {
    width: 33.33333333%}
.pccf.cyborg .col-md-3 {
    width: 25%}
.pccf.cyborg .col-md-2 {
    width: 16.66666667%}
}
@media (min-width:1200px) {
    .pccf.cyborg .col-lg-6, .pccf.cyborg .col-lg-8 {
    float: left;
}
.pccf.cyborg .col-lg-8 {
    width: 66.66666667%}
.pccf.cyborg .col-lg-6 {
    width: 50%}
}
@media screen and (max-width:767px) {
}
.pccf.cyborg fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}
.pccf.cyborg legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    border: 0;
    border-bottom: 1px solid #282828;
}
.pccf.cyborg label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.pccf.cyborg input[type=checkbox], .pccf.cyborg input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
}
.pccf.cyborg select[multiple] {
    height: auto;
}
.pccf.cyborg input[type=checkbox]:focus, .pccf.cyborg input[type=radio]:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
.pccf.cyborg .form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #888;
    background-color: #fff;
    background-image: none;
    border: 1px solid #282828;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.pccf.cyborg .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.pccf.cyborg .form-control::-moz-placeholder {
    color: #888;
    opacity: 1;
}
.pccf.cyborg .form-control:-ms-input-placeholder {
    color: #888;
}
.pccf.cyborg .form-control::-webkit-input-placeholder {
    color: #888;
}
.pccf.cyborg textarea.form-control {
    height: auto;
}
.pccf.cyborg .form-group {
    margin-bottom: 15px;
}
.pccf.cyborg .checkbox, .pccf.cyborg .radio {
    position: relative;
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pccf.cyborg .checkbox label, .pccf.cyborg .radio label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.pccf.cyborg .checkbox input[type=checkbox], .pccf.cyborg .checkbox-inline input[type=checkbox], .pccf.cyborg .radio input[type=radio], .pccf.cyborg .radio-inline input[type=radio] {
    position: absolute;
    margin-left: -20px;
}
.pccf.cyborg .checkbox+.checkbox, .pccf.cyborg .radio+.radio {
    margin-top: -5px;
}
.pccf.cyborg .checkbox-inline, .pccf.cyborg .radio-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
}
.pccf.cyborg .checkbox-inline+.checkbox-inline, .pccf.cyborg .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 10px;
}
.pccf.cyborg .input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.pccf.cyborg select.input-sm {
    height: 30px;
    line-height: 30px;
}
.pccf.cyborg select[multiple].input-sm, .pccf.cyborg textarea.input-sm {
    height: auto;
}
.pccf.cyborg .input-lg {
    height: 54px;
    padding: 14px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.pccf.cyborg select.input-lg {
    height: 54px;
    line-height: 54px;
}
.pccf.cyborg select[multiple].input-lg, .pccf.cyborg textarea.input-lg {
    height: auto;
}
.pccf.cyborg .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #c8c8c8;
}
@media (min-width:768px) {
}
.pccf.cyborg .form-horizontal .checkbox, .pccf.cyborg .form-horizontal .checkbox-inline, .pccf.cyborg .form-horizontal .radio, .pccf.cyborg .form-horizontal .radio-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 9px;
}
.pccf.cyborg .form-horizontal .checkbox, .pccf.cyborg .form-horizontal .radio {
    min-height: 29px;
}
.pccf.cyborg .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width:768px) {
    .pccf.cyborg .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 9px;
}
}
.pccf.cyborg .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pccf.cyborg .btn:active:focus, .pccf.cyborg .btn:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
.pccf.cyborg .btn:focus, .pccf.cyborg .btn:hover {
    color: #fff;
    text-decoration: none;
}
.pccf.cyborg .btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.pccf.cyborg .btn-default {
    color: #fff;
    background-color: #424242;
    border-color: #424242;
}
.pccf.cyborg .btn-default:active, .pccf.cyborg .btn-default:focus, .pccf.cyborg .btn-default:hover {
    color: #fff;
    background-color: #282828;
    border-color: #232323;
}
.pccf.cyborg .btn-default:active {
    background-image: none;
}
.pccf.cyborg .btn-primary {
    color: #fff;
    background-color: #2a9fd6;
    border-color: #2a9fd6;
}
.pccf.cyborg .btn-primary:active, .pccf.cyborg .btn-primary:focus, .pccf.cyborg .btn-primary:hover {
    color: #fff;
    background-color: #2180ac;
    border-color: #1f79a3;
}
.pccf.cyborg .btn-primary:active {
    background-image: none;
}
.pccf.cyborg .btn-success {
    color: #fff;
    background-color: #77b300;
    border-color: #77b300;
}
.pccf.cyborg .btn-success:active, .pccf.cyborg .btn-success:focus, .pccf.cyborg .btn-success:hover {
    color: #fff;
    background-color: #558000;
    border-color: #4e7600;
}
.pccf.cyborg .btn-success:active {
    background-image: none;
}
.pccf.cyborg .btn-info {
    color: #fff;
    background-color: #93c;
    border-color: #93c;
}
.pccf.cyborg .btn-info:active, .pccf.cyborg .btn-info:focus, .pccf.cyborg .btn-info:hover {
    color: #fff;
    background-color: #7a29a3;
    border-color: #74279b;
}
.pccf.cyborg .btn-info:active {
    background-image: none;
}
.pccf.cyborg .btn-warning {
    color: #fff;
    background-color: #f80;
    border-color: #f80;
}
.pccf.cyborg .btn-warning:active, .pccf.cyborg .btn-warning:focus, .pccf.cyborg .btn-warning:hover {
    color: #fff;
    background-color: #cc6d00;
    border-color: #c26700;
}
.pccf.cyborg .btn-warning:active {
    background-image: none;
}
.pccf.cyborg .btn-danger {
    color: #fff;
    background-color: #c00;
    border-color: #c00;
}
.pccf.cyborg .btn-danger:active, .pccf.cyborg .btn-danger:focus, .pccf.cyborg .btn-danger:hover {
    color: #fff;
    background-color: #900;
    border-color: #8f0000;
}
.pccf.cyborg .btn-danger:active {
    background-image: none;
}
@media (min-width:768px) {
}
.pccf.cyborg .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.pccf.cyborg .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.pccf.cyborg .input-group .form-control, .pccf.cyborg .input-group-addon {
    display: table-cell;
}
.pccf.cyborg .input-group-addon {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.pccf.cyborg .input-group-addon {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #888;
    text-align: center;
    border: 1px solid #282828;
    border-radius: 4px;
}
.pccf.cyborg .input-group-addon input[type=checkbox] {
    margin-top: 0;
}
.pccf.cyborg .input-group .form-control:first-child, .pccf.cyborg .input-group-addon:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.pccf.cyborg .input-group-addon:first-child {
    border-right: 0;
}
.pccf.cyborg .input-group .form-control:last-child, .pccf.cyborg .input-group-addon:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.pccf.cyborg .input-group-addon:last-child {
    border-left: 0;
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (max-width:767px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (max-width:767px) {
}
@media (max-width:767px) {
}
@media screen and (min-width:768px) {
}
.pccf.cyborg .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.pccf.cyborg .alert-success {
    background-color: #77b300;
    border-color: #809a00;
    color: #fff;
}
.pccf.cyborg .alert-info {
    background-color: #93c;
    border-color: #6e2caf;
    color: #fff;
}
.pccf.cyborg .alert-warning {
    background-color: #f80;
    border-color: #f05800;
    color: #fff;
}
.pccf.cyborg .alert-danger {
    background-color: #c00;
    border-color: #bd001f;
    color: #fff;
}
@-webkit-keyframes progress-bar-stripes {
    from {
    background-position: 40px 0;
}
to {
    background-position: 0 0;
}
}
@keyframes progress-bar-stripes {
    from {
    background-position: 40px 0;
}
to {
    background-position: 0 0;
}
}
.pccf.cyborg .panel {
    margin-bottom: 20px;
    background-color: #222;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.pccf.cyborg .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.pccf.cyborg .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.pccf.cyborg .panel-default {
    border-color: #282828;
}
.pccf.cyborg .panel-default>.panel-heading {
    color: #888;
    background-color: #3c3c3c;
    border-color: #282828;
}
.pccf.cyborg .panel-primary {
    border-color: #2a9fd6;
}
.pccf.cyborg .panel-primary>.panel-heading {
    color: #fff;
    background-color: #2a9fd6;
    border-color: #2a9fd6;
}
.pccf.cyborg .panel-success {
    border-color: #809a00;
}
.pccf.cyborg .panel-success>.panel-heading {
    color: #fff;
    background-color: #77b300;
    border-color: #809a00;
}
.pccf.cyborg .panel-info {
    border-color: #6e2caf;
}
.pccf.cyborg .panel-info>.panel-heading {
    color: #fff;
    background-color: #93c;
    border-color: #6e2caf;
}
.pccf.cyborg .panel-warning {
    border-color: #f05800;
}
.pccf.cyborg .panel-warning>.panel-heading {
    color: #fff;
    background-color: #f80;
    border-color: #f05800;
}
.pccf.cyborg .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #151515;
    border: 1px solid #030303;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
@media (min-width:768px) {
}
@media screen and (min-width:768px) {
}
.pccf.cyborg .form-horizontal .form-group:after, .pccf.cyborg .form-horizontal .form-group:before, .pccf.cyborg .row:after, .pccf.cyborg .row:before {
    content: " ";
    display: table;
}
.pccf.cyborg .form-horizontal .form-group:after, .pccf.cyborg .row:after {
    clear: both;
}
@-ms-viewport {
    width: device-width;
}
@media (max-width:767px) {
}
@media (min-width:768px) and (max-width:991px) {
}
@media (min-width:992px) and (max-width:1199px) {
}
@media (min-width:1200px) {
}
@media print {
}
.pccf.cyborg legend {
    color: #fff;
}
.pccf.cyborg .input-group-addon {
    background-color: #424242;
}

@media (max-width: 992px) {
    .pccf fieldset {
        padding:10px!important;
    }
}

.pccf .col-lg-8>p {
    clear: both;
}
.pccf .validation-advice {color:inherit}
.pccf .required-control .control-label:after {
    content: " *";
    color: #fc4c5e;
}
.pccf label {font-size:inherit!important;}
.pccf {background:none!important;}

.pccf .input-group-addon {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.pccf .form-horizontal.pccform fieldset {padding:10px!important}
.pccf textarea {
    width: 100%;
    max-width: 100%;
}

/* RTL FIX */
.pccf.cyborg.rtl .input-group-addon:last-child {
    border-right: 0!important;
    border-left: 1px solid #282828!important;
}

.pccf.cygborg.rtl .input-group-addon:first-child {
    border-left: 0!important;
    border-right: 1px solid #282828!important;
}

/* navigation inactive item */

.pccf.cyborg .nav-wizard > li > a {
    color: #fff;
    background-color: #424242;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pccf.cyborg .nav-wizard > li:not(:last-child) > a:after {
    border-left: 20px solid #424242;
}

/* navigation active item */

.pccf.cyborg .nav-wizard > li.active > a:after {
    border-left-color: #2a9fd6;
}
.pccf.cyborg .nav-wizard > li.active > a, .pccf.cyborg .nav-wizard > li.active > a:hover, .pccf.cyborg .nav-wizard > li.active > a:focus {
    color: #fff;
    background-color: #2a9fd6;
}

/* navigation background */

.pccf.cyborg .well .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #151515;
}
.pccf.cyborg .panel .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #222;
}

/* small navigation inactive tab */

.pccf.smallnav.cyborg .nav-wizard > li:before {
    color: #fff;
    background-color: #424242;
    border-color: #424242;
}

/* small navigation active tab */

.pccf.smallnav.cyborg .nav-wizard > li.active:before {
    color: #fff;
    background-color: #2a9fd6;
    border-color: #2a9fd6;
}

/* small navigation background */

.pccf.smallnav.cyborg ul.nav-wizard:before {
    background: #424242;
}