@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic);
    /*!
 * bootswatch v3.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2014 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*//*! normalize.css v3.0.1 | MIT License | git.io/normalize */.pccf.darkly {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
.pccf.darkly {
    margin: 0;
}
.pccf.darkly h1 {
    margin: .67em 0;
}
.pccf.darkly p,
.pccf.darkly h1,
.pccf.darkly h2,
.pccf.darkly h3,
.pccf.darkly h4,
.pccf.darkly h6,
.pccf.darkly h5{
    color: #fff!important;
}

.pccf.darkly button, .pccf.darkly input, .pccf.darkly select, .pccf.darkly textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.pccf.darkly button {
    overflow: visible;
}
.pccf.darkly button, .pccf.darkly select {
    text-transform: none;
}
.pccf.darkly button {
    -webkit-appearance: button;
    cursor: pointer;
}
.pccf.darkly button::-moz-focus-inner, .pccf.darkly input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.pccf.darkly input[type=checkbox], .pccf.darkly input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.pccf.darkly input[type=number]::-webkit-inner-spin-button, .pccf.darkly input[type=number]::-webkit-outer-spin-button {
    height: auto;
}
.pccf.darkly input[type=search]::-webkit-search-cancel-button, .pccf.darkly input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
.pccf.darkly textarea {
    overflow: auto;
}
@media print {
    .pccf.darkly * {
    text-shadow: none!important;
    color: #000!important;
    background: 0 0!important;
    box-shadow: none!important;
}
.pccf.darkly h2, .pccf.darkly h3, .pccf.darkly p {
    orphans: 3;
    widows: 3;
}
.pccf.darkly h2, .pccf.darkly h3 {
    page-break-after: avoid;
}
.pccf.darkly select {
    background: #fff!important;
}
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
.pccf.darkly *, .pccf.darkly :after, .pccf.darkly :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pccf.darkly {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
.pccf.darkly {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #222;
}
.pccf.darkly button, .pccf.darkly input, .pccf.darkly select, .pccf.darkly textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.pccf.darkly h1, .pccf.darkly h2, .pccf.darkly h3, .pccf.darkly h4, .pccf.darkly h5, .pccf.darkly h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}
.pccf.darkly h1, .pccf.darkly h2, .pccf.darkly h3 {
    margin-top: 21px;
    margin-bottom: 10.5px;
}
.pccf.darkly h4, .pccf.darkly h5, .pccf.darkly h6 {
    margin-top: 10.5px;
    margin-bottom: 10.5px;
}
.pccf.darkly h1 {
    font-size: 39px;
}
.pccf.darkly h2 {
    font-size: 32px;
}
.pccf.darkly h3 {
    font-size: 26px;
}
.pccf.darkly h4 {
    font-size: 19px;
}
.pccf.darkly h5 {
    font-size: 15px;
}
.pccf.darkly h6 {
    font-size: 13px;
}
.pccf.darkly p {
    margin: 0 0 10.5px;
}
.pccf.darkly .text-center {
    text-align: center;
}
.pccf.darkly .row {
    margin-left: -15px;
    margin-right: -15px;
}
.pccf.darkly .col-lg-6, .pccf.darkly .col-lg-8, .pccf.darkly .col-md-2, .pccf.darkly .col-md-3, .pccf.darkly .col-md-4, .pccf.darkly .col-md-5, .pccf.darkly .col-md-6, .pccf.darkly .col-md-8 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width:992px) {
    .pccf.darkly .col-md-2, .pccf.darkly .col-md-3, .pccf.darkly .col-md-4, .pccf.darkly .col-md-5, .pccf.darkly .col-md-6, .pccf.darkly .col-md-8 {
    float: left;
}
.pccf.darkly .col-md-8 {
    width: 66.66666667%}
.pccf.darkly .col-md-6 {
    width: 50%}
.pccf.darkly .col-md-5 {
    width: 41.66666667%}
.pccf.darkly .col-md-4 {
    width: 33.33333333%}
.pccf.darkly .col-md-3 {
    width: 25%}
.pccf.darkly .col-md-2 {
    width: 16.66666667%}
}
@media (min-width:1200px) {
    .pccf.darkly .col-lg-6, .pccf.darkly .col-lg-8 {
    float: left;
}
.pccf.darkly .col-lg-8 {
    width: 66.66666667%}
.pccf.darkly .col-lg-6 {
    width: 50%}
}
.pccf.darkly fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}
.pccf.darkly legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 21px;
    font-size: 22.5px;
    line-height: inherit;
    color: #fff;
    border: 0;
    border-bottom: 1px solid transparent;
}
.pccf.darkly label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.pccf.darkly input[type=checkbox], .pccf.darkly input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
}
.pccf.darkly select[multiple] {
    height: auto;
}
.pccf.darkly input[type=checkbox]:focus, .pccf.darkly input[type=radio]:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
.pccf.darkly .form-control {
    display: block;
    width: 100%;
    height: 43px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #464545;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.pccf.darkly .form-control:focus {
    border-color: #fff;
    outline: 0;
}
.pccf.darkly .form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.pccf.darkly .form-control:-ms-input-placeholder {
    color: #999;
}
.pccf.darkly .form-control::-webkit-input-placeholder {
    color: #999;
}
.pccf.darkly textarea.form-control {
    height: auto;
}
.pccf.darkly .form-group {
    margin-bottom: 15px;
}
.pccf.darkly .checkbox, .pccf.darkly .radio {
    position: relative;
    display: block;
    min-height: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pccf.darkly .checkbox label, .pccf.darkly .radio label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.pccf.darkly .checkbox input[type=checkbox], .pccf.darkly .checkbox-inline input[type=checkbox], .pccf.darkly .radio input[type=radio], .pccf.darkly .radio-inline input[type=radio] {
    position: absolute;
    margin-left: -20px;
}
.pccf.darkly .checkbox+.checkbox, .pccf.darkly .radio+.radio {
    margin-top: -5px;
}
.pccf.darkly .checkbox-inline, .pccf.darkly .radio-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
}
.pccf.darkly .checkbox-inline+.checkbox-inline, .pccf.darkly .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 10px;
}
.pccf.darkly .input-sm {
    height: 33px;
    padding: 6px 9px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
}
.pccf.darkly select.input-sm {
    height: 33px;
    line-height: 33px;
}
.pccf.darkly select[multiple].input-sm, .pccf.darkly textarea.input-sm {
    height: auto;
}
.pccf.darkly .input-lg {
    height: 64px;
    padding: 18px 27px;
    font-size: 19px;
    line-height: 1.33;
    border-radius: 6px;
}
.pccf.darkly select.input-lg {
    height: 64px;
    line-height: 64px;
}
.pccf.darkly select[multiple].input-lg, .pccf.darkly textarea.input-lg {
    height: auto;
}
.pccf.darkly .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #fff;
}
@media (min-width:768px) {
}
.pccf.darkly .form-horizontal .checkbox, .pccf.darkly .form-horizontal .checkbox-inline, .pccf.darkly .form-horizontal .radio, .pccf.darkly .form-horizontal .radio-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 11px;
}
.pccf.darkly .form-horizontal .checkbox, .pccf.darkly .form-horizontal .radio {
    min-height: 32px;
}
.pccf.darkly .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width:768px) {
    .pccf.darkly .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 11px;
}
}
.pccf.darkly .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pccf.darkly .btn:active:focus, .pccf.darkly .btn:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
.pccf.darkly .btn:focus, .pccf.darkly .btn:hover {
    color: #fff;
    text-decoration: none;
}
.pccf.darkly .btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.pccf.darkly .btn-default {
    color: #fff;
    background-color: #464545;
    border-color: #464545;
}
.pccf.darkly .btn-default:active, .pccf.darkly .btn-default:focus, .pccf.darkly .btn-default:hover {
    color: #fff;
    background-color: #2c2c2c;
    border-color: #272727;
}
.pccf.darkly .btn-default:active {
    background-image: none;
}
.pccf.darkly .btn-primary {
    color: #fff;
    background-color: #375a7f;
    border-color: #375a7f;
}
.pccf.darkly .btn-primary:active, .pccf.darkly .btn-primary:focus, .pccf.darkly .btn-primary:hover {
    color: #fff;
    background-color: #28415b;
    border-color: #253c54;
}
.pccf.darkly .btn-primary:active {
    background-image: none;
}
.pccf.darkly .btn-success {
    color: #fff;
    background-color: #00bc8c;
    border-color: #00bc8c;
}
.pccf.darkly .btn-success:active, .pccf.darkly .btn-success:focus, .pccf.darkly .btn-success:hover {
    color: #fff;
    background-color: #008966;
    border-color: #007f5e;
}
.pccf.darkly .btn-success:active {
    background-image: none;
}
.pccf.darkly .btn-info {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}
.pccf.darkly .btn-info:active, .pccf.darkly .btn-info:focus, .pccf.darkly .btn-info:hover {
    color: #fff;
    background-color: #217dbb;
    border-color: #2077b2;
}
.pccf.darkly .btn-info:active {
    background-image: none;
}
.pccf.darkly .btn-warning {
    color: #fff;
    background-color: #f39c12;
    border-color: #f39c12;
}
.pccf.darkly .btn-warning:active, .pccf.darkly .btn-warning:focus, .pccf.darkly .btn-warning:hover {
    color: #fff;
    background-color: #c87f0a;
    border-color: #be780a;
}
.pccf.darkly .btn-warning:active {
    background-image: none;
}
.pccf.darkly .btn-danger {
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}
.pccf.darkly .btn-danger:active, .pccf.darkly .btn-danger:focus, .pccf.darkly .btn-danger:hover {
    color: #fff;
    background-color: #d62c1a;
    border-color: #cd2a19;
}
.pccf.darkly .btn-danger:active {
    background-image: none;
}
@media (min-width:768px) {
}
.pccf.darkly .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.pccf.darkly .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.pccf.darkly .input-group .form-control, .pccf.darkly .input-group-addon {
    display: table-cell;
}
.pccf.darkly .input-group-addon {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.pccf.darkly .input-group-addon {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    background-color: #464545;
    border: 1px solid transparent;
    border-radius: 4px;
}
.pccf.darkly .input-group-addon input[type=checkbox] {
    margin-top: 0;
}
.pccf.darkly .input-group .form-control:first-child, .pccf.darkly .input-group-addon:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.pccf.darkly .input-group-addon:first-child {
    border-right: 0;
}
.pccf.darkly .input-group .form-control:last-child, .pccf.darkly .input-group-addon:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.pccf.darkly .input-group-addon:last-child {
    border-left: 0;
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (max-width:767px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (max-width:767px) {
}
@media (max-width:767px) {
}
@media screen and (min-width:768px) {
}
.pccf.darkly .alert {
    padding: 15px;
    margin-bottom: 21px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.pccf.darkly .alert-success {
    background-color: #00bc8c;
    border-color: #00bc8c;
    color: #fff;
}
.pccf.darkly .alert-info {
    background-color: #3498db;
    border-color: #3498db;
    color: #fff;
}
.pccf.darkly .alert-warning {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #fff;
}
.pccf.darkly .alert-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff;
}
@-webkit-keyframes progress-bar-stripes {
    from {
    background-position: 40px 0;
}
to {
    background-position: 0 0;
}
}
@keyframes progress-bar-stripes {
    from {
    background-position: 40px 0;
}
to {
    background-position: 0 0;
}
}
.pccf.darkly .panel {
    margin-bottom: 21px;
    background-color: #303030;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.pccf.darkly .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.pccf.darkly .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    color: inherit;
}
.pccf.darkly .panel-default {
    border-color: #464545;
}
.pccf.darkly .panel-default>.panel-heading {
    color: #fff;
    border-color: #464545;
}
.pccf.darkly .panel-primary {
    border-color: #375a7f;
}
.pccf.darkly .panel-primary>.panel-heading {
    color: #fff;
    background-color: #375a7f;
    border-color: #375a7f;
}
.pccf.darkly .panel-success {
    border-color: #00bc8c;
}
.pccf.darkly .panel-success>.panel-heading {
    color: #fff;
    background-color: #00bc8c;
    border-color: #00bc8c;
}
.pccf.darkly .panel-info {
    border-color: #3498db;
}
.pccf.darkly .panel-info>.panel-heading {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}
.pccf.darkly .panel-warning {
    border-color: #f39c12;
}
.pccf.darkly .panel-warning>.panel-heading {
    color: #fff;
    background-color: #f39c12;
    border-color: #f39c12;
}
.pccf.darkly .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #303030;
    border: 1px solid transparent;
    border-radius: 4px;
}
@media (min-width:768px) {
}
@media screen and (min-width:768px) {
}
.pccf.darkly .form-horizontal .form-group:after, .pccf.darkly .form-horizontal .form-group:before, .pccf.darkly .row:after, .pccf.darkly .row:before {
    content: " ";
    display: table;
}
.pccf.darkly .form-horizontal .form-group:after, .pccf.darkly .row:after {
    clear: both;
}
@-ms-viewport {
    width: device-width;
}
@media (max-width:767px) {
}
@media (min-width:768px) and (max-width:991px) {
}
@media (min-width:992px) and (max-width:1199px) {
}
@media (min-width:1200px) {
}
@media print {
}
.pccf.darkly .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pccf.darkly input, .pccf.darkly textarea {
    color: #464545;
}
.pccf.darkly .form-control, .pccf.darkly input, .pccf.darkly textarea {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pccf.darkly .form-control:focus, .pccf.darkly input:focus, .pccf.darkly textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pccf.darkly .input-group-addon {
    color: #fff;
}
.pccf.darkly .well {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pccf.darkly .panel-default>.panel-heading {
    background-color: #464545;
}

@media (max-width: 992px) {
    .pccf fieldset {
        padding:10px!important;
    }
}

.pccf .col-lg-8>p {
    clear: both;
}
.pccf textarea {
    width: 100%;
    max-width: 100%;
}

/* navigation inactive item */

.pccf.darkly .nav-wizard > li > a {
    color: #fff;
    background-color: #222222;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pccf.darkly .nav-wizard > li:not(:last-child) > a:after {
    border-left: 20px solid #222222;
}

/* navigation active item */

.pccf.darkly .nav-wizard > li.active > a:after {
    border-left-color: #375a7f;
}
.pccf.darkly .nav-wizard > li.active > a, .pccf.darkly .nav-wizard > li.active > a:hover, .pccf.darkly .nav-wizard > li.active > a:focus {
    color: #fff;
    background-color: #375a7f;
}

/* navigation background */

.pccf.darkly .well .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #303030;
}
.pccf.darkly .panel .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #303030;
}

/* small navigation inactive tab */

.pccf.smallnav.darkly .nav-wizard > li:before {
    color: #fff;
    background-color: #222222;
    border-color: #222222;
}

/* small navigation active tab */

.pccf.smallnav.darkly .nav-wizard > li.active:before {
    color: #fff;
    background-color: #375a7f;
    border-color: #375a7f;
}

/* small navigation background */

.pccf.smallnav.darkly ul.nav-wizard:before {
    background: #222222;
}