.pccf.default {
    /*!
 * Bootstrap v3.2.0 (http: //getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *//*! normalize.css v3.0.1 | MIT License | git.io/normalize */}
.pccf.default {
    font-family: sans-serif!important;
    -webkit-text-size-adjust: 100%!important;
    -ms-text-size-adjust: 100%!important;
}
.pccf.default {
    margin: 0!important;
}
.pccf.default h1 {
    margin: .67em 0!important;
}
.pccf.default button, .pccf.default input, .pccf.default select, .pccf.default textarea {
    margin: 0!important;
    font: inherit!important;
    color: inherit!important;
}
.pccf.default button {
    overflow: visible!important;
}
.pccf.default button, .pccf.default select {
    text-transform: none!important;
}
.pccf.default button {
    -webkit-appearance: button!important;
    cursor: pointer!important;
}
.pccf.default button::-moz-focus-inner, .pccf.default input::-moz-focus-inner {
    padding: 0!important;
    border: 0!important;
}
.pccf.default input[type=checkbox], .pccf.default input[type=radio] {
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    padding: 0!important;
}
.pccf.default input[type=number]::-webkit-inner-spin-button, .pccf.default input[type=number]::-webkit-outer-spin-button {
    height: auto!important;
}
.pccf.default input[type=search]::-webkit-search-cancel-button, .pccf.default input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none!important;
}
.pccf.default textarea {
    overflow: auto!important;
}
@media print {
    .pccf.default * {
    color: #000!important;
    text-shadow: none!important;
    background: transparent!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.pccf.default h2, .pccf.default h3, .pccf.default p {
    orphans: 3!important;
    widows: 3!important;
}
.pccf.default h2, .pccf.default h3 {
    page-break-after: avoid!important;
}
.pccf.default select {
    background: #fff!important;
}
}
@font-face {
    font-family: 'Glyphicons Halflings'!important;
    src: url(../fonts/glyphicons-halflings-regular.eot)!important;
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')!important;
}
.pccf.default *, .pccf.default :after, .pccf.default :before {
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
}
.pccf.default {
    font-size: 10px!important;
    -webkit-tap-highlight-color: transparent!important;
}
.pccf.default {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    color: #333!important;
    background-color: #fff!important;
}
.pccf.default button, .pccf.default input, .pccf.default select, .pccf.default textarea {
    font-family: inherit!important;
    font-size: inherit!important;
    line-height: inherit!important;
}
.pccf.default h1, .pccf.default h2, .pccf.default h3, .pccf.default h4, .pccf.default h5, .pccf.default h6 {
    font-family: inherit!important;
    font-weight: 500!important;
    line-height: 1.1!important;
    color: inherit!important;
}
.pccf.default h1, .pccf.default h2, .pccf.default h3 {
    margin-top: 20px!important;
    margin-bottom: 10px!important;
}
.pccf.default h4, .pccf.default h5, .pccf.default h6 {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
.pccf.default h1 {
    font-size: 36px!important;
}
.pccf.default h2 {
    font-size: 30px!important;
}
.pccf.default h3 {
    font-size: 24px!important;
}
.pccf.default h4 {
    font-size: 18px!important;
}
.pccf.default h5 {
    font-size: 14px!important;
}
.pccf.default h6 {
    font-size: 12px!important;
}
.pccf.default p {
    margin: 0 0 10px!important;
}
.pccf.default .text-center {
    text-align: center!important;
}
@media (min-width:768px) {
}
.pccf.default .row {
    margin-right: -15px!important;
    margin-left: -15px!important;
}
.pccf.default .col-lg-6, .pccf.default .col-lg-8, .pccf.default .col-md-2, .pccf.default .col-md-3, .pccf.default .col-md-4, .pccf.default .col-md-5, .pccf.default .col-md-6, .pccf.default .col-md-8 {
    position: relative!important;
    min-height: 1px!important;
    padding-right: 15px!important;
    padding-left: 15px!important;
}
@media (min-width:768px) {
}
@media (min-width:992px) {
    .pccf.default .col-md-2, .pccf.default .col-md-3, .pccf.default .col-md-4, .pccf.default .col-md-5, .pccf.default .col-md-6, .pccf.default .col-md-8 {
    float: left!important;
}
.pccf.default .col-md-8 {
    width: 66.66666667%!important;
}
.pccf.default .col-md-6 {
    width: 50%!important;
}
.pccf.default .col-md-5 {
    width: 41.66666667%!important;
}
.pccf.default .col-md-4 {
    width: 33.33333333%!important;
}
.pccf.default .col-md-3 {
    width: 25%!important;
}
.pccf.default .col-md-2 {
    width: 16.66666667%!important;
}
}
@media (min-width:1200px) {
    .pccf.default .col-lg-6, .pccf.default .col-lg-8 {
    float: left!important;
}
.pccf.default .col-lg-8 {
    width: 66.66666667%!important;
}
.pccf.default .col-lg-6 {
    width: 50%!important;
}
}
@media screen and (max-width:767px) {
}
.pccf.default fieldset {
    min-width: 0!important;
    padding: 0!important;
    margin: 0!important;
    border: 0!important;
}
.pccf.default legend {
    display: block!important;
    width: 100%!important;
    padding: 0!important;
    margin-bottom: 20px!important;
    font-size: 21px!important;
    line-height: inherit!important;
    color: #333!important;
    border: 0!important;
    border-bottom: 1px solid #e5e5e5!important;
}
.pccf.default label {
    display: inline-block!important;
    max-width: 100%!important;
    margin-bottom: 5px!important;
    font-weight: 700!important;
}
.pccf.default input[type=checkbox], .pccf.default input[type=radio] {
    margin: 4px 0 0!important;
    line-height: normal!important;
}
.pccf.default select[multiple] {
    height: auto!important;
}
.pccf.default input[type=checkbox]:focus, .pccf.default input[type=radio]:focus {
    outline: dotted thin!important;
    outline: -webkit-focus-ring-color auto 5px!important;
    outline-offset: -2px!important;
}
.pccf.default .form-control {
    display: block!important;
    width: 100%!important;
    height: 34px!important;
    padding: 6px 12px!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    color: #555!important;
    background-color: #fff!important;
    background-image: none!important;
    border: 1px solid #ccc!important;
    border-radius: 4px!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)!important;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s!important;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important;
}
.pccf.default .form-control:focus {
    border-color: #66afe9!important;
    outline: 0!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)!important;
}
.pccf.default .form-control::-moz-placeholder {
    color: #777!important;
    opacity: 1!important;
}
.pccf.default .form-control:-ms-input-placeholder {
    color: #777!important;
}
.pccf.default .form-control::-webkit-input-placeholder {
    color: #777!important;
}
.pccf.default textarea.form-control {
    height: auto!important;
}
.pccf.default .form-group {
    margin-bottom: 15px!important;
}
.pccf.default .checkbox, .pccf.default .radio {
    position: relative!important;
    display: block!important;
    min-height: 20px!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
.pccf.default .checkbox label, .pccf.default .radio label {
    padding-left: 20px!important;
    margin-bottom: 0!important;
    font-weight: 400!important;
    cursor: pointer!important;
}
.pccf.default .checkbox input[type=checkbox], .pccf.default .checkbox-inline input[type=checkbox], .pccf.default .radio input[type=radio], .pccf.default .radio-inline input[type=radio] {
    position: absolute!important;
    margin-top: 4px \9!important;
    margin-left: -20px!important;
}
.pccf.default .checkbox+.checkbox, .pccf.default .radio+.radio {
    margin-top: -5px!important;
}
.pccf.default .checkbox-inline, .pccf.default .radio-inline {
    display: inline-block!important;
    padding-left: 20px!important;
    margin-bottom: 0!important;
    font-weight: 400!important;
    vertical-align: middle!important;
    cursor: pointer!important;
}
.pccf.default .checkbox-inline+.checkbox-inline, .pccf.default .radio-inline+.radio-inline {
    margin-top: 0!important;
    margin-left: 10px!important;
}
.pccf.default .input-sm {
    height: 30px!important;
    padding: 5px 10px!important;
    font-size: 12px!important;
    line-height: 1.5!important;
    border-radius: 3px!important;
}
.pccf.default select.input-sm {
    height: 30px!important;
    line-height: 30px!important;
}
.pccf.default select[multiple].input-sm, .pccf.default textarea.input-sm {
    height: auto!important;
}
.pccf.default .input-lg {
    height: 46px!important;
    padding: 10px 16px!important;
    font-size: 18px!important;
    line-height: 1.33!important;
    border-radius: 6px!important;
}
.pccf.default select.input-lg {
    height: 46px!important;
    line-height: 46px!important;
}
.pccf.default select[multiple].input-lg, .pccf.default textarea.input-lg {
    height: auto!important;
}
.pccf.default .help-block {
    display: block!important;
    margin-top: 5px!important;
    margin-bottom: 10px!important;
    color: #737373!important;
}
@media (min-width:768px) {
}
.pccf.default .form-horizontal .checkbox, .pccf.default .form-horizontal .checkbox-inline, .pccf.default .form-horizontal .radio, .pccf.default .form-horizontal .radio-inline {
    padding-top: 7px!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.pccf.default .form-horizontal .checkbox, .pccf.default .form-horizontal .radio {
    min-height: 27px!important;
}
.pccf.default .form-horizontal .form-group {
    margin-right: -15px!important;
    margin-left: -15px!important;
}
@media (min-width:768px) {
    .pccf.default .form-horizontal .control-label {
    padding-top: 7px!important;
    margin-bottom: 0!important;
    text-align: right!important;
}
}
.pccf.default .btn {
    display: inline-block!important;
    padding: 6px 12px!important;
    margin-bottom: 0!important;
    font-size: 14px!important;
    font-weight: 400!important;
    line-height: 1.42857143!important;
    text-align: center!important;
    white-space: nowrap!important;
    vertical-align: middle!important;
    cursor: pointer!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    background-image: none!important;
    border: 1px solid transparent!important;
    border-radius: 4px!important;
}
.pccf.default .btn:active:focus, .pccf.default .btn:focus {
    outline: dotted thin!important;
    outline: -webkit-focus-ring-color auto 5px!important;
    outline-offset: -2px!important;
}
.pccf.default .btn:focus, .pccf.default .btn:hover {
    color: #333!important;
    text-decoration: none!important;
}
.pccf.default .btn:active {
    background-image: none!important;
    outline: 0!important;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)!important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)!important;
}
.pccf.default .btn-default {
    color: #333!important;
    background-color: #fff!important;
    border-color: #ccc!important;
}
.pccf.default .btn-default:active, .pccf.default .btn-default:focus, .pccf.default .btn-default:hover {
    color: #333!important;
    background-color: #e6e6e6!important;
    border-color: #adadad!important;
}
.pccf.default .btn-default:active {
    background-image: none!important;
}
.pccf.default .btn-primary {
    color: #fff!important;
    background-color: #428bca!important;
    border-color: #357ebd!important;
}
.pccf.default .btn-primary:active, .pccf.default .btn-primary:focus, .pccf.default .btn-primary:hover {
    color: #fff!important;
    background-color: #3071a9!important;
    border-color: #285e8e!important;
}
.pccf.default .btn-primary:active {
    background-image: none!important;
}
.pccf.default .btn-success {
    color: #fff!important;
    background-color: #5cb85c!important;
    border-color: #4cae4c!important;
}
.pccf.default .btn-success:active, .pccf.default .btn-success:focus, .pccf.default .btn-success:hover {
    color: #fff!important;
    background-color: #449d44!important;
    border-color: #398439!important;
}
.pccf.default .btn-success:active {
    background-image: none!important;
}
.pccf.default .btn-info {
    color: #fff!important;
    background-color: #5bc0de!important;
    border-color: #46b8da!important;
}
.pccf.default .btn-info:active, .pccf.default .btn-info:focus, .pccf.default .btn-info:hover {
    color: #fff!important;
    background-color: #31b0d5!important;
    border-color: #269abc!important;
}
.pccf.default .btn-info:active {
    background-image: none!important;
}
.pccf.default .btn-warning {
    color: #fff!important;
    background-color: #f0ad4e!important;
    border-color: #eea236!important;
}
.pccf.default .btn-warning:active, .pccf.default .btn-warning:focus, .pccf.default .btn-warning:hover {
    color: #fff!important;
    background-color: #ec971f!important;
    border-color: #d58512!important;
}
.pccf.default .btn-warning:active {
    background-image: none!important;
}
.pccf.default .btn-danger {
    color: #fff!important;
    background-color: #d9534f!important;
    border-color: #d43f3a!important;
}
.pccf.default .btn-danger:active, .pccf.default .btn-danger:focus, .pccf.default .btn-danger:hover {
    color: #fff!important;
    background-color: #c9302c!important;
    border-color: #ac2925!important;
}
.pccf.default .btn-danger:active {
    background-image: none!important;
}
@media (min-width:768px) {
}
.pccf.default .input-group {
    position: relative!important;
    display: table!important;
    border-collapse: separate!important;
}
.pccf.default .input-group .form-control {
    position: relative!important;
    z-index: 2!important;
    float: left!important;
    width: 100%!important;
    margin-bottom: 0!important;
}
.pccf.default .input-group .form-control, .pccf.default .input-group-addon {
    display: table-cell!important;
}
.pccf.default .input-group-addon {
    width: 1%!important;
    white-space: nowrap!important;
    vertical-align: middle!important;
}
.pccf.default .input-group-addon {
    padding: 6px 12px!important;
    font-size: 14px!important;
    font-weight: 400!important;
    line-height: 1!important;
    color: #555!important;
    text-align: center!important;
    background-color: #eee!important;
    border: 1px solid #ccc!important;
    border-radius: 4px!important;
}
.pccf.default .input-group-addon input[type=checkbox] {
    margin-top: 0!important;
}
.pccf.default .input-group .form-control:first-child, .pccf.default .input-group-addon:first-child {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
.pccf.default .input-group-addon:first-child {
    border-right: 0!important;
}

.pccf.default.rtl .input-group-addon:first-child {
    border-left: 0!important;
    border-right: 1px solid #ccc!important;
}

.pccf.default .input-group .form-control:last-child, .pccf.default .input-group-addon:last-child {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
.pccf.default .input-group-addon:last-child {
    border-left: 0!important;
}

.pccf.default.rtl .input-group-addon:last-child {
    border-right: 0!important;
    border-left: 1px solid #ccc!important;
}

.pccf.default .alert {
    padding: 15px!important;
    margin-bottom: 20px!important;
    border: 1px solid transparent!important;
    border-radius: 4px!important;
}
.pccf.default .alert-success {
    color: #3c763d!important;
    background-color: #dff0d8!important;
    border-color: #d6e9c6!important;
}
.pccf.default .alert-info {
    color: #31708f!important;
    background-color: #d9edf7!important;
    border-color: #bce8f1!important;
}
.pccf.default .alert-warning {
    color: #8a6d3b!important;
    background-color: #fcf8e3!important;
    border-color: #faebcc!important;
}
.pccf.default .alert-danger {
    color: #a94442!important;
    background-color: #f2dede!important;
    border-color: #ebccd1!important;
}
@-webkit-keyframes progress-bar-stripes {
    from {
    background-position: 40px 0!important;
}
to {
    background-position: 0 0!important;
}
}
@-o-keyframes progress-bar-stripes {
    from {
    background-position: 40px 0!important;
}
to {
    background-position: 0 0!important;
}
}
@keyframes progress-bar-stripes {
    from {
    background-position: 40px 0!important;
}
to {
    background-position: 0 0!important;
}
}
.pccf.default .panel {
    margin-bottom: 20px!important;
    background-color: #fff!important;
    border: 1px solid transparent!important;
    border-radius: 4px!important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05)!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)!important;
}
.pccf.default .panel-heading {
    padding: 10px 15px!important;
    border-bottom: 1px solid transparent!important;
    border-top-left-radius: 3px!important;
    border-top-right-radius: 3px!important;
}
.pccf.default .panel-title {
    margin-top: 0!important;
    margin-bottom: 0!important;
    font-size: 16px!important;
    color: inherit!important;
}
.pccf.default .panel-default {
    border-color: #ddd!important;
}
.pccf.default .panel-default>.panel-heading {
    color: #333!important;
    background-color: #f5f5f5!important;
    border-color: #ddd!important;
}
.pccf.default .panel-primary {
    border-color: #428bca!important;
}
.pccf.default .panel-primary>.panel-heading {
    color: #fff!important;
    background-color: #428bca!important;
    border-color: #428bca!important;
}
.pccf.default .panel-success {
    border-color: #d6e9c6!important;
}
.pccf.default .panel-success>.panel-heading {
    color: #3c763d!important;
    background-color: #dff0d8!important;
    border-color: #d6e9c6!important;
}
.pccf.default .panel-info {
    border-color: #bce8f1!important;
}
.pccf.default .panel-info>.panel-heading {
    color: #31708f!important;
    background-color: #d9edf7!important;
    border-color: #bce8f1!important;
}
.pccf.default .panel-warning {
    border-color: #faebcc!important;
}
.pccf.default .panel-warning>.panel-heading {
    color: #8a6d3b!important;
    background-color: #fcf8e3!important;
    border-color: #faebcc!important;
}
.pccf.default .well {
    min-height: 20px!important;
    padding: 19px!important;
    margin-bottom: 20px!important;
    background-color: #f5f5f5!important;
    border: 1px solid #e3e3e3!important;
    border-radius: 4px!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)!important;
}
.pccf.default .form-horizontal .form-group:after, .pccf.default .form-horizontal .form-group:before, .pccf.default .row:after, .pccf.default .row:before {
    display: table!important;
    content: " "!important;
}
.pccf.default .form-horizontal .form-group:after, .pccf.default .row:after {
    clear: both!important;
}
@-ms-viewport {
    width: device-width!important;
}

@media (max-width: 992px) {
    .pccf fieldset {
        padding:10px!important;
    }
}

.pccf .col-lg-8>p {
    clear: both;
}
.pccf textarea {
    width: 100%;
    max-width: 100%;
}


/* navigation inactive item */

.pccf.default .nav-wizard > li > a {
    color: #337ab7;
    background-color: #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pccf.default .nav-wizard > li:not(:last-child) > a:after {
    border-left: 20px solid #eee;
}

/* navigation active item */

.pccf.default .nav-wizard > li.active > a:after {
    border-left-color: #337AB7;
}
.pccf.default .nav-wizard > li.active > a, .pccf.default .nav-wizard > li.active > a:hover, .pccf.default .nav-wizard > li.active > a:focus {
    color: #fff;
    background-color: #337AB7;
}

/* navigation background */

.pccf.default .well .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #F5F5F5;
}
.pccf.default .panel .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #fff;
}

/* small navigation inactive tab */

.pccf.smallnav.default .nav-wizard > li:before {
    color: #337ab7;
    background-color: #eee;
    border-color: #eee;
}

/* small navigation active tab */

.pccf.smallnav.default .nav-wizard > li.active:before {
    color: #fff;
    background-color: #337AB7;
    border-color: #337AB7;
}

/* small navigation background */

.pccf.smallnav.default ul.nav-wizard:before {
    background: #eee;
}