@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic);
    /*!
 * bootswatch v3.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2014 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*//*! normalize.css v3.0.1 | MIT License | git.io/normalize */.pccf.flatly {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
.pccf.flatly {
    margin: 0;
}
.pccf.flatly h1 {
    margin: .67em 0;
}
.pccf.flatly button, .pccf.flatly input, .pccf.flatly select, .pccf.flatly textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.pccf.flatly button {
    overflow: visible;
}
.pccf.flatly button, .pccf.flatly select {
    text-transform: none;
}
.pccf.flatly button {
    -webkit-appearance: button;
    cursor: pointer;
}
.pccf.flatly button::-moz-focus-inner, .pccf.flatly input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.pccf.flatly input[type=checkbox], .pccf.flatly input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.pccf.flatly input[type=number]::-webkit-inner-spin-button, .pccf.flatly input[type=number]::-webkit-outer-spin-button {
    height: auto;
}
.pccf.flatly input[type=search]::-webkit-search-cancel-button, .pccf.flatly input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
.pccf.flatly textarea {
    overflow: auto;
}
@media print {
    .pccf.flatly * {
    text-shadow: none!important;
    color: #000!important;
    background: 0 0!important;
    box-shadow: none!important;
}
.pccf.flatly h2, .pccf.flatly h3, .pccf.flatly p {
    orphans: 3;
    widows: 3;
}
.pccf.flatly h2, .pccf.flatly h3 {
    page-break-after: avoid;
}
.pccf.flatly select {
    background: #fff!important;
}
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
.pccf.flatly *, .pccf.flatly :after, .pccf.flatly :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pccf.flatly {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
.pccf.flatly {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #fff;
}
.pccf.flatly button, .pccf.flatly input, .pccf.flatly select, .pccf.flatly textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.pccf.flatly h1, .pccf.flatly h2, .pccf.flatly h3, .pccf.flatly h4, .pccf.flatly h5, .pccf.flatly h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}
.pccf.flatly h1, .pccf.flatly h2, .pccf.flatly h3 {
    margin-top: 21px;
    margin-bottom: 10.5px;
}
.pccf.flatly h4, .pccf.flatly h5, .pccf.flatly h6 {
    margin-top: 10.5px;
    margin-bottom: 10.5px;
}
.pccf.flatly h1 {
    font-size: 39px;
}
.pccf.flatly h2 {
    font-size: 32px;
}
.pccf.flatly h3 {
    font-size: 26px;
}
.pccf.flatly h4 {
    font-size: 19px;
}
.pccf.flatly h5 {
    font-size: 15px;
}
.pccf.flatly h6 {
    font-size: 13px;
}
.pccf.flatly p {
    margin: 0 0 10.5px;
}
.pccf.flatly .text-center {
    text-align: center;
}
@media (min-width:768px) {
}
.pccf.flatly .row {
    margin-left: -15px;
    margin-right: -15px;
}
.pccf.flatly .col-lg-6, .pccf.flatly .col-lg-8, .pccf.flatly .col-md-2, .pccf.flatly .col-md-3, .pccf.flatly .col-md-4, .pccf.flatly .col-md-5, .pccf.flatly .col-md-6, .pccf.flatly .col-md-8 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width:768px) {
}
@media (min-width:992px) {
    .pccf.flatly .col-md-2, .pccf.flatly .col-md-3, .pccf.flatly .col-md-4, .pccf.flatly .col-md-5, .pccf.flatly .col-md-6, .pccf.flatly .col-md-8 {
    float: left;
}
.pccf.flatly .col-md-8 {
    width: 66.66666667%}
.pccf.flatly .col-md-6 {
    width: 50%}
.pccf.flatly .col-md-5 {
    width: 41.66666667%}
.pccf.flatly .col-md-4 {
    width: 33.33333333%}
.pccf.flatly .col-md-3 {
    width: 25%}
.pccf.flatly .col-md-2 {
    width: 16.66666667%}
}
@media (min-width:1200px) {
    .pccf.flatly .col-lg-6, .pccf.flatly .col-lg-8 {
    float: left;
}
.pccf.flatly .col-lg-8 {
    width: 66.66666667%}
.pccf.flatly .col-lg-6 {
    width: 50%}
}
@media screen and (max-width:767px) {
}
.pccf.flatly fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}
.pccf.flatly legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 21px;
    font-size: 22.5px;
    line-height: inherit;
    color: #2c3e50;
    border: 0;
    border-bottom: 1px solid transparent;
}
.pccf.flatly label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.pccf.flatly input[type=checkbox], .pccf.flatly input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
}
.pccf.flatly select[multiple] {
    height: auto;
}
.pccf.flatly input[type=checkbox]:focus, .pccf.flatly input[type=radio]:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
.pccf.flatly .form-control {
    display: block;
    width: 100%;
    height: 43px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.pccf.flatly .form-control:focus { border-color: #2c3e50; outline: 0; }
.pccf.flatly .form-control::-moz-placeholder {
    color: #acb6c0;
    opacity: 1;
}
.pccf.flatly .form-control:-ms-input-placeholder {
    color: #acb6c0;
}
.pccf.flatly .form-control::-webkit-input-placeholder {
    color: #acb6c0;
}
.pccf.flatly textarea.form-control {
    height: auto;
}
.pccf.flatly .form-group {
    margin-bottom: 15px;
}
.pccf.flatly .checkbox, .pccf.flatly .radio {
    position: relative;
    display: block;
    min-height: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pccf.flatly .checkbox label, .pccf.flatly .radio label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.pccf.flatly .checkbox input[type=checkbox], .pccf.flatly .checkbox-inline input[type=checkbox], .pccf.flatly .radio input[type=radio], .pccf.flatly .radio-inline input[type=radio] {
    position: absolute;
    margin-left: -20px;
}
.pccf.flatly .checkbox+.checkbox, .pccf.flatly .radio+.radio {
    margin-top: -5px;
}
.pccf.flatly .checkbox-inline, .pccf.flatly .radio-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
}
.pccf.flatly .checkbox-inline+.checkbox-inline, .pccf.flatly .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 10px;
}
.pccf.flatly .input-sm {
    height: 33px;
    padding: 6px 9px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
}
.pccf.flatly select.input-sm {
    height: 33px;
    line-height: 33px;
}
.pccf.flatly select[multiple].input-sm, .pccf.flatly textarea.input-sm {
    height: auto;
}
.pccf.flatly .input-lg {
    height: 64px;
    padding: 18px 27px;
    font-size: 19px;
    line-height: 1.33;
    border-radius: 6px;
}
.pccf.flatly select.input-lg {
    height: 64px;
    line-height: 64px;
}
.pccf.flatly select[multiple].input-lg, .pccf.flatly textarea.input-lg {
    height: auto;
}
.pccf.flatly .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #597ea2;
}
@media (min-width:768px) {
}
.pccf.flatly .form-horizontal .checkbox, .pccf.flatly .form-horizontal .checkbox-inline, .pccf.flatly .form-horizontal .radio, .pccf.flatly .form-horizontal .radio-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 11px;
}
.pccf.flatly .form-horizontal .checkbox, .pccf.flatly .form-horizontal .radio {
    min-height: 32px;
}
.pccf.flatly .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width:768px) {
    .pccf.flatly .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 11px;
}
}
.pccf.flatly .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pccf.flatly .btn:active:focus, .pccf.flatly .btn:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
.pccf.flatly .btn:focus, .pccf.flatly .btn:hover {
    color: #fff;
    text-decoration: none;
}
.pccf.flatly .btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.pccf.flatly .btn-primary {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}
.pccf.flatly .btn-primary:active, .pccf.flatly .btn-primary:focus, .pccf.flatly .btn-primary:hover {
    color: #fff;
    background-color: #1a242f;
    border-color: #161f29;
}
.pccf.flatly .btn-primary:active {
    background-image: none;
}
.pccf.flatly .btn-success {
    color: #fff;
    background-color: #18bc9c;
    border-color: #18bc9c;
}
.pccf.flatly .btn-success:active, .pccf.flatly .btn-success:focus, .pccf.flatly .btn-success:hover {
    color: #fff;
    background-color: #128f76;
    border-color: #11866f;
}
.pccf.flatly .btn-success:active {
    background-image: none;
}
.pccf.flatly .btn-info {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}
.pccf.flatly .btn-info:active, .pccf.flatly .btn-info:focus, .pccf.flatly .btn-info:hover {
    color: #fff;
    background-color: #217dbb;
    border-color: #2077b2;
}
.pccf.flatly .btn-info:active {
    background-image: none;
}
.pccf.flatly .btn-warning {
    color: #fff;
    background-color: #f39c12;
    border-color: #f39c12;
}
.pccf.flatly .btn-warning:active, .pccf.flatly .btn-warning:focus, .pccf.flatly .btn-warning:hover {
    color: #fff;
    background-color: #c87f0a;
    border-color: #be780a;
}
.pccf.flatly .btn-warning:active {
    background-image: none;
}
.pccf.flatly .btn-danger {
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}
.pccf.flatly .btn-danger:active, .pccf.flatly .btn-danger:focus, .pccf.flatly .btn-danger:hover {
    color: #fff;
    background-color: #d62c1a;
    border-color: #cd2a19;
}
.pccf.flatly .btn-danger:active {
    background-image: none;
}
@media (min-width:768px) {
}
.pccf.flatly .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.pccf.flatly .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.pccf.flatly .input-group .form-control, .pccf.flatly .input-group-addon {
    display: table-cell;
}
.pccf.flatly .input-group-addon {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.pccf.flatly .input-group-addon {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    color: #2c3e50;
    text-align: center;
    background-color: #ecf0f1;
    border: 1px solid #dce4ec;
    border-radius: 4px;
}
.pccf.flatly .input-group-addon input[type=checkbox] {
    margin-top: 0;
}
.pccf.flatly .input-group .form-control:first-child, .pccf.flatly .input-group-addon:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.pccf.flatly .input-group-addon:first-child {
    border-right: 0;
}
.pccf.flatly .input-group .form-control:last-child, .pccf.flatly .input-group-addon:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.pccf.flatly .input-group-addon:last-child {
    border-left: 0;
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (max-width:767px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (min-width:768px) {
}
@media (max-width:767px) {
}
@media (max-width:767px) {
}
@media screen and (min-width:768px) {
}
.pccf.flatly .alert {
    padding: 15px;
    margin-bottom: 21px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.pccf.flatly .alert-success {
    background-color: #18bc9c;
    border-color: #18bc9c;
    color: #fff;
}
.pccf.flatly .alert-info {
    background-color: #3498db;
    border-color: #3498db;
    color: #fff;
}
.pccf.flatly .alert-warning {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #fff;
}
.pccf.flatly .alert-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff;
}
@-webkit-keyframes progress-bar-stripes {
    from {
    background-position: 40px 0;
}
to {
    background-position: 0 0;
}
}
@keyframes progress-bar-stripes {
    from {
    background-position: 40px 0;
}
to {
    background-position: 0 0;
}
}
.pccf.flatly .panel {
    margin-bottom: 21px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.pccf.flatly .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.pccf.flatly .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    color: inherit;
}
.pccf.flatly .panel-primary {
    border-color: #2c3e50;
}
.pccf.flatly .panel-primary>.panel-heading {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}
.pccf.flatly .panel-success {
    border-color: #18bc9c;
}
.pccf.flatly .panel-success>.panel-heading {
    color: #fff;
    background-color: #18bc9c;
    border-color: #18bc9c;
}
.pccf.flatly .panel-info {
    border-color: #3498db;
}
.pccf.flatly .panel-info>.panel-heading {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}
.pccf.flatly .panel-warning {
    border-color: #f39c12;
}
.pccf.flatly .panel-warning>.panel-heading {
    color: #fff;
    background-color: #f39c12;
    border-color: #f39c12;
}
.pccf.flatly .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    border: 1px solid transparent;
    border-radius: 4px;
}
@media (min-width:768px) {
}
@media screen and (min-width:768px) {
}
.pccf.flatly .form-horizontal .form-group:after, .pccf.flatly .form-horizontal .form-group:before, .pccf.flatly .row:after, .pccf.flatly .row:before {
    content: " ";
    display: table;
}
.pccf.flatly .form-horizontal .form-group:after, .pccf.flatly .row:after {
    clear: both;
}
@-ms-viewport {
    width: device-width;
}
@media (max-width:767px) {
}
@media (min-width:768px) and (max-width:991px) {
}
@media (min-width:992px) and (max-width:1199px) {
}
@media (min-width:1200px) {
}
@media print {
}
.pccf.flatly .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pccf.flatly .form-control, .pccf.flatly input {
    border-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pccf.flatly .form-control:focus, .pccf.flatly input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pccf.flatly .well {
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 992px) {
    .pccf fieldset {
        padding:10px!important;
    }
}

.pccf .col-lg-8>p {
    clear: both;
}
.pccf textarea {
    width: 100%;
    max-width: 100%;
}

/* navigation inactive item */

.pccf.flatly .nav-wizard > li > a {
    color: #18bc9c;
    background-color: #ddd;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pccf.flatly .nav-wizard > li:not(:last-child) > a:after {
    border-left: 20px solid #ddd;
}

/* navigation active item */

.pccf.flatly .nav-wizard > li.active > a:after {
    border-left-color: #2c3e50;
}
.pccf.flatly .nav-wizard > li.active > a, .pccf.flatly .nav-wizard > li.active > a:hover, .pccf.flatly .nav-wizard > li.active > a:focus {
    color: #fff;
    background-color: #2c3e50;
}

/* navigation background */

.pccf.flatly .well .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #ECF0F1;
}
.pccf.flatly .panel .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #fff;
}

/* small navigation inactive tab */

.pccf.smallnav.flatly .nav-wizard > li:before {
    color: #18bc9c;
    background-color: #ddd;
    border-color: #ddd;
}

/* small navigation active tab */

.pccf.smallnav.flatly .nav-wizard > li.active:before {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

/* small navigation background */

.pccf.smallnav.flatly ul.nav-wizard:before {
    background: #ddd;
}