@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic);
    /*!
 * bootswatch v3.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2014 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*//*! normalize.css v3.0.1 | MIT License | git.io/normalize */.pccf.lumen {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
.pccf.lumen {
    margin: 0;
}
.pccf.lumen h1 {
    margin: .67em 0;
}
.pccf.lumen button, .pccf.lumen input, .pccf.lumen select, .pccf.lumen textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.pccf.lumen button {
    overflow: visible;
}
.pccf.lumen button, .pccf.lumen select {
    text-transform: none;
}
.pccf.lumen button {
    -webkit-appearance: button;
    cursor: pointer;
}
.pccf.lumen button::-moz-focus-inner, .pccf.lumen input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.pccf.lumen input[type=checkbox], .pccf.lumen input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.pccf.lumen input[type=number]::-webkit-inner-spin-button, .pccf.lumen input[type=number]::-webkit-outer-spin-button {
    height: auto;
}
.pccf.lumen input[type=search]::-webkit-search-cancel-button, .pccf.lumen input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
.pccf.lumen textarea {
    overflow: auto;
}
@media print {
    .pccf.lumen * {
    text-shadow: none!important;
    color: #000!important;
    box-shadow: none!important;
}
.pccf.lumen h2, .pccf.lumen h3, .pccf.lumen p {
    orphans: 3;
    widows: 3;
}
.pccf.lumen h2, .pccf.lumen h3 {
    page-break-after: avoid;
}
.pccf.lumen select {
    background: #fff!important;
}
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
.pccf.lumen *, .pccf.lumen :after, .pccf.lumen :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pccf.lumen {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
.pccf.lumen {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
}
.pccf.lumen button, .pccf.lumen input, .pccf.lumen select, .pccf.lumen textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.pccf.lumen h1, .pccf.lumen h2, .pccf.lumen h3, .pccf.lumen h4, .pccf.lumen h5, .pccf.lumen h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: #333;
}
.pccf.lumen h1, .pccf.lumen h2, .pccf.lumen h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.pccf.lumen h4, .pccf.lumen h5, .pccf.lumen h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pccf.lumen h1 {
    font-size: 36px;
}
.pccf.lumen h2 {
    font-size: 30px;
}
.pccf.lumen h3 {
    font-size: 24px;
}
.pccf.lumen h4 {
    font-size: 18px;
}
.pccf.lumen h5 {
    font-size: 14px;
}
.pccf.lumen h6 {
    font-size: 12px;
}
.pccf.lumen p {
    margin: 0 0 10px;
}
.pccf.lumen .text-center {
    text-align: center;
}
@media (min-width:768px) {
}
.pccf.lumen .row {
    margin-left: -15px;
    margin-right: -15px;
}
.pccf.lumen .col-lg-6, .pccf.lumen .col-lg-8, .pccf.lumen .col-md-2, .pccf.lumen .col-md-3, .pccf.lumen .col-md-4, .pccf.lumen .col-md-5, .pccf.lumen .col-md-6, .pccf.lumen .col-md-8 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width:768px) {
}
@media (min-width:992px) {
    .pccf.lumen .col-md-2, .pccf.lumen .col-md-3, .pccf.lumen .col-md-4, .pccf.lumen .col-md-5, .pccf.lumen .col-md-6, .pccf.lumen .col-md-8 {
    float: left;
}
.pccf.lumen .col-md-8 {
    width: 66.66666667%}
.pccf.lumen .col-md-6 {
    width: 50%}
.pccf.lumen .col-md-5 {
    width: 41.66666667%}
.pccf.lumen .col-md-4 {
    width: 33.33333333%}
.pccf.lumen .col-md-3 {
    width: 25%}
.pccf.lumen .col-md-2 {
    width: 16.66666667%}
}
@media (min-width:1200px) {
    .pccf.lumen .col-lg-6, .pccf.lumen .col-lg-8 {
    float: left;
}
.pccf.lumen .col-lg-8 {
    width: 66.66666667%}
.pccf.lumen .col-lg-6 {
    width: 50%}
}
@media screen and (max-width:767px) {
}
.pccf.lumen fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}
.pccf.lumen legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.pccf.lumen label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
.pccf.lumen input[type=checkbox], .pccf.lumen input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
}
.pccf.lumen select[multiple] {
    height: auto;
}
.pccf.lumen input[type=checkbox]:focus, .pccf.lumen input[type=radio]:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
.pccf.lumen .form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.pccf.lumen .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.pccf.lumen .form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.pccf.lumen .form-control:-ms-input-placeholder {
    color: #999;
}
.pccf.lumen .form-control::-webkit-input-placeholder {
    color: #999;
}
.pccf.lumen textarea.form-control {
    height: auto;
}
.pccf.lumen .form-group {
    margin-bottom: 15px;
}
.pccf.lumen .checkbox, .pccf.lumen .radio {
    position: relative;
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pccf.lumen .checkbox label, .pccf.lumen .radio label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.pccf.lumen .checkbox input[type=checkbox], .pccf.lumen .checkbox-inline input[type=checkbox], .pccf.lumen .radio input[type=radio], .pccf.lumen .radio-inline input[type=radio] {
    position: absolute;
    margin-left: -20px;
}
.pccf.lumen .checkbox+.checkbox, .pccf.lumen .radio+.radio {
    margin-top: -5px;
}
.pccf.lumen .checkbox-inline, .pccf.lumen .radio-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
}
.pccf.lumen .checkbox-inline+.checkbox-inline, .pccf.lumen .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 10px;
}
.pccf.lumen .input-sm {
    height: 28px;
    padding: 4px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}
.pccf.lumen select.input-sm {
    height: 28px;
    line-height: 28px;
}
.pccf.lumen select[multiple].input-sm, .pccf.lumen textarea.input-sm {
    height: auto;
}
.pccf.lumen .input-lg {
    height: 52px;
    padding: 13px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 5px;
}
.pccf.lumen select.input-lg {
    height: 52px;
    line-height: 52px;
}
.pccf.lumen select[multiple].input-lg, .pccf.lumen textarea.input-lg {
    height: auto;
}
.pccf.lumen .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #959595;
}
@media (min-width:768px) {
}
.pccf.lumen .form-horizontal .checkbox, .pccf.lumen .form-horizontal .checkbox-inline, .pccf.lumen .form-horizontal .radio, .pccf.lumen .form-horizontal .radio-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8px;
}
.pccf.lumen .form-horizontal .checkbox, .pccf.lumen .form-horizontal .radio {
    min-height: 28px;
}
.pccf.lumen .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width:768px) {
    .pccf.lumen .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 8px;
}
}
.pccf.lumen .btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pccf.lumen .btn:active:focus, .pccf.lumen .btn:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
.pccf.lumen .btn:focus, .pccf.lumen .btn:hover {
    color: #555;
    text-decoration: none;
}
.pccf.lumen .btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.pccf.lumen .btn-primary {
    color: #fff;
    background-color: #158cba;
    border-color: #127ba3;
}
.pccf.lumen .btn-primary:active, .pccf.lumen .btn-primary:focus, .pccf.lumen .btn-primary:hover {
    color: #fff;
    background-color: #106a8c;
    border-color: #0c516c;
}
.pccf.lumen .btn-primary:active {
    background-image: none;
}
.pccf.lumen .btn-success {
    color: #fff;
    background-color: #28b62c;
    border-color: #23a127;
}
.pccf.lumen .btn-success:active, .pccf.lumen .btn-success:focus, .pccf.lumen .btn-success:hover {
    color: #fff;
    background-color: #1f8c22;
    border-color: #186f1b;
}
.pccf.lumen .btn-success:active {
    background-image: none;
}
.pccf.lumen .btn-info {
    color: #fff;
    background-color: #75caeb;
    border-color: #5fc1e8;
}
.pccf.lumen .btn-info:active, .pccf.lumen .btn-info:focus, .pccf.lumen .btn-info:hover {
    color: #fff;
    background-color: #48b9e5;
    border-color: #29ade0;
}
.pccf.lumen .btn-info:active {
    background-image: none;
}
.pccf.lumen .btn-warning {
    color: #fff;
    background-color: #ff851b;
    border-color: #ff7701;
}
.pccf.lumen .btn-warning:active, .pccf.lumen .btn-warning:focus, .pccf.lumen .btn-warning:hover {
    color: #fff;
    background-color: #e76b00;
    border-color: #c35b00;
}
.pccf.lumen .btn-warning:active {
    background-image: none;
}
.pccf.lumen .btn-danger {
    color: #fff;
    background-color: #ff4136;
    border-color: #ff291c;
}
.pccf.lumen .btn-danger:active, .pccf.lumen .btn-danger:focus, .pccf.lumen .btn-danger:hover {
    color: #fff;
    background-color: #ff1103;
    border-color: #de0c00;
}
.pccf.lumen .btn-danger:active {
    background-image: none;
}
@media (min-width:768px) {
}
.pccf.lumen .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.pccf.lumen .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.pccf.lumen .input-group .form-control, .pccf.lumen .input-group-addon {
    display: table-cell;
}
.pccf.lumen .input-group-addon {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.pccf.lumen .input-group-addon {
    padding: 7px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}
.pccf.lumen .input-group-addon input[type=checkbox] {
    margin-top: 0;
}
.pccf.lumen .input-group .form-control:first-child, .pccf.lumen .input-group-addon:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.pccf.lumen .input-group-addon:first-child {
    border-right: 0;
}
.pccf.lumen .input-group .form-control:last-child, .pccf.lumen .input-group-addon:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.pccf.lumen .input-group-addon:last-child {
    border-left: 0;
}
.pccf.lumen .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.pccf.lumen .alert-success {
    background-color: #28b62c;
    border-color: #24a528;
    color: #fff;
}
.pccf.lumen .alert-info {
    background-color: #75caeb;
    border-color: #40b5e3;
    color: #fff;
}
.pccf.lumen .alert-warning {
    background-color: #ff851b;
    border-color: #ff7701;
    color: #fff;
}
.pccf.lumen .alert-danger {
    background-color: #ff4136;
    border-color: #ff1103;
    color: #fff;
}
@-webkit-keyframes progress-bar-stripes {
    from {
    background-position: 40px 0;
}
to {
    background-position: 0 0;
}
}
@keyframes progress-bar-stripes {
    from {
    background-position: 40px 0;
}
to {
    background-position: 0 0;
}
}
.pccf.lumen .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.pccf.lumen .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.pccf.lumen .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.pccf.lumen .panel-primary {
    border-color: transparent;
}
.pccf.lumen .panel-primary>.panel-heading {
    color: #fff;
    background-color: #158cba;
    border-color: transparent;
}
.pccf.lumen .panel-success {
    border-color: transparent;
}
.pccf.lumen .panel-success>.panel-heading {
    color: #fff;
    background-color: #28b62c;
    border-color: transparent;
}
.pccf.lumen .panel-info {
    border-color: transparent;
}
.pccf.lumen .panel-info>.panel-heading {
    color: #fff;
    background-color: #75caeb;
    border-color: transparent;
}
.pccf.lumen .panel-warning {
    border-color: transparent;
}
.pccf.lumen .panel-warning>.panel-heading {
    color: #fff;
    background-color: #ff851b;
    border-color: transparent;
}
.pccf.lumen .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fafafa;
    border-radius: 4px;
}
@media (min-width:768px) {
}
@media screen and (min-width:768px) {
}
.pccf.lumen .form-horizontal .form-group:after, .pccf.lumen .form-horizontal .form-group:before, .pccf.lumen .row:after, .pccf.lumen .row:before {
    content: " ";
    display: table;
}
.pccf.lumen .form-horizontal .form-group:after, .pccf.lumen .row:after {
    clear: both;
}
@-ms-viewport {
    width: device-width;
}

.pccf.lumen .btn {
    padding: 9px 12px 7px;
    border-width: 0 1px 4px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.pccf.lumen .btn:hover {
    margin-top: 1px;
    border-bottom-width: 3px;
}
.pccf.lumen .btn:active {
    margin-top: 2px;
    border-bottom-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pccf.lumen .btn-primary:focus, .pccf.lumen .btn-primary:hover {
    background-color: #158cba;
    border-color: #127ba3;
}
.pccf.lumen .btn-success:focus, .pccf.lumen .btn-success:hover {
    background-color: #28b62c;
    border-color: #23a127;
}
.pccf.lumen .btn-info:focus, .pccf.lumen .btn-info:hover {
    background-color: #75caeb;
    border-color: #5fc1e8;
}
.pccf.lumen .btn-warning:focus, .pccf.lumen .btn-warning:hover {
    background-color: #ff851b;
    border-color: #ff7701;
}
.pccf.lumen .btn-danger:focus, .pccf.lumen .btn-danger:hover {
    background-color: #ff4136;
    border-color: #ff291c;
}
.pccf.lumen .form-control {
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .075);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .075);
}
.pccf.lumen label {
    font-weight: 400;
}
.pccf.lumen .alert {
    border-width: 0 1px 4px;
}
.pccf.lumen .well {
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .05);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .05);
}
.pccf.lumen .panel {
    border: 1px solid #e7e7e7;
    border-width: 0 1px 4px;
}

@media (max-width: 992px) {
    .pccf fieldset {
        padding:10px!important;
    }
}

.pccf .col-lg-8>p {
    clear: both;
}
.pccf textarea {
    width: 100%;
    max-width: 100%;
}

/* navigation inactive item */

.pccf.lumen .nav-wizard > li > a {
    color: #158cba;
    background-color: #ddd;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pccf.lumen .nav-wizard > li:not(:last-child) > a:after {
    border-left: 20px solid #ddd;
}

/* navigation active item */

.pccf.lumen .nav-wizard > li.active > a:after {
    border-left-color: #158cba;
}
.pccf.lumen .nav-wizard > li.active > a, .pccf.lumen .nav-wizard > li.active > a:hover, .pccf.lumen .nav-wizard > li.active > a:focus {
    color: #fff;
    background-color: #158cba;
}

/* navigation background */

.pccf.lumen .well .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #FAFAFA;
}
.pccf.lumen .panel .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #fff;
}

/* small navigation inactive tab */

.pccf.smallnav.lumen .nav-wizard > li:before {
    color: #158cba;
    background-color: #ddd;
    border-color: #ddd;
}

/* small navigation active tab */

.pccf.smallnav.lumen .nav-wizard > li.active:before {
    color: #fff;
    background-color: #158cba;
    border-color: #158cba;
}

/* small navigation background */

.pccf.smallnav.lumen ul.nav-wizard:before {
    background: #ddd;
}