@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500");
/*!
 * bootswatch v3.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2014 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
.pccf.paper {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}
.pccf.paper h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.pccf.paper button,
.pccf.paper input,
.pccf.paper select,
.pccf.paper textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.pccf.paper button {
  overflow: visible;
}
.pccf.paper button,
.pccf.paper select {
  text-transform: none;
}
.pccf.paper button {
  -webkit-appearance: button;
  cursor: pointer;
}
.pccf.paper button::-moz-focus-inner,
.pccf.paper input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.pccf.paper input {
  line-height: normal;
}
.pccf.paper input[type="checkbox"],
.pccf.paper input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.pccf.paper input[type="number"]::-webkit-inner-spin-button,
.pccf.paper input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.pccf.paper input[type="search"]::-webkit-search-cancel-button,
.pccf.paper input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.pccf.paper fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.pccf.paper legend {
  border: 0;
  padding: 0;
}
.pccf.paper textarea {
  overflow: auto;
}
@media print {
  .pccf.paper * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  .pccf.paper p,
  .pccf.paper h2,
  .pccf.paper h3 {
    orphans: 3;
    widows: 3;
  }
  .pccf.paper h2,
  .pccf.paper h3 {
    page-break-after: avoid;
  }
  .pccf.paper select {
    background: #fff !important;
  }
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.pccf.paper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pccf.paper *:before,
.pccf.paper *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pccf.paper input,
.pccf.paper button,
.pccf.paper select,
.pccf.paper textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.pccf.paper h1,
.pccf.paper h2,
.pccf.paper h3,
.pccf.paper h4,
.pccf.paper h5,
.pccf.paper h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: #444444;
}
.pccf.paper h1,
.pccf.paper h2,
.pccf.paper h3 {
  margin-top: 23px;
  margin-bottom: 11.5px;
}
.pccf.paper h4,
.pccf.paper h5,
.pccf.paper h6 {
  margin-top: 11.5px;
  margin-bottom: 11.5px;
}
.pccf.paper h1 {
  font-size: 56px;
}
.pccf.paper h2 {
  font-size: 45px;
}
.pccf.paper h3 {
  font-size: 34px;
}
.pccf.paper h4 {
  font-size: 24px;
}
.pccf.paper h5 {
  font-size: 20px;
}
.pccf.paper h6 {
  font-size: 14px;
}
.pccf.paper p {
  margin: 0 0 11.5px;
}
.pccf.paper .text-center {
  text-align: center;
}
@media (min-width: 768px) {
}
.pccf.paper .row {
  margin-left: -15px;
  margin-right: -15px;
}
.pccf.paper .col-md-2,
.pccf.paper .col-md-3,
.pccf.paper .col-md-4,
.pccf.paper .col-md-5,
.pccf.paper .col-md-6,
.pccf.paper .col-lg-6,
.pccf.paper .col-md-8,
.pccf.paper .col-lg-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .pccf.paper .col-md-2,
  .pccf.paper .col-md-3,
  .pccf.paper .col-md-4,
  .pccf.paper .col-md-5,
  .pccf.paper .col-md-6,
  .pccf.paper .col-md-8 {
    float: left;
  }
  .pccf.paper .col-md-8 {
    width: 66.66666667%;
  }
  .pccf.paper .col-md-6 {
    width: 50%;
  }
  .pccf.paper .col-md-5 {
    width: 41.66666667%;
  }
  .pccf.paper .col-md-4 {
    width: 33.33333333%;
  }
  .pccf.paper .col-md-3 {
    width: 25%;
  }
  .pccf.paper .col-md-2 {
    width: 16.66666667%;
  }
}
@media (min-width: 1200px) {
  .pccf.paper .col-lg-6,
  .pccf.paper .col-lg-8 {
    float: left;
  }
  .pccf.paper .col-lg-8 {
    width: 66.66666667%;
  }
  .pccf.paper .col-lg-6 {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
}
.pccf.paper fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
.pccf.paper legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 23px;
  font-size: 19.5px;
  line-height: inherit;
  color: #212121;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.pccf.paper label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.pccf.paper input[type="radio"],
.pccf.paper input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
.pccf.paper select[multiple] {
  height: auto;
}
.pccf.paper input[type="radio"]:focus,
.pccf.paper input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.pccf.paper .form-control {
  display: block;
  width: 100%;
  height: 37px;
  padding: 6px 16px;
  font-size: 13px;
  line-height: 1.846;
  color: #666666;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.pccf.paper .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.pccf.paper .form-control::-moz-placeholder {
  color: #bbbbbb;
  opacity: 1;
}
.pccf.paper .form-control:-ms-input-placeholder {
  color: #bbbbbb;
}
.pccf.paper .form-control::-webkit-input-placeholder {
  color: #bbbbbb;
}
.pccf.paper textarea.form-control {
  height: auto;
}
.pccf.paper .form-group {
  margin-bottom: 15px;
}
.pccf.paper .radio,
.pccf.paper .checkbox {
  position: relative;
  display: block;
  min-height: 23px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pccf.paper .radio label,
.pccf.paper .checkbox label {
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.pccf.paper .radio input[type="radio"],
.pccf.paper .radio-inline input[type="radio"],
.pccf.paper .checkbox input[type="checkbox"],
.pccf.paper .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.pccf.paper .radio + .radio,
.pccf.paper .checkbox + .checkbox {
  margin-top: -5px;
}
.pccf.paper .radio-inline,
.pccf.paper .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.pccf.paper .radio-inline + .radio-inline,
.pccf.paper .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.pccf.paper .input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.pccf.paper select.input-sm {
  height: 30px;
  line-height: 30px;
}
.pccf.paper textarea.input-sm,
.pccf.paper select[multiple].input-sm {
  height: auto;
}
.pccf.paper .input-lg {
  height: 45px;
  padding: 10px 16px;
  font-size: 17px;
  line-height: 1.33;
  border-radius: 3px;
}
.pccf.paper select.input-lg {
  height: 45px;
  line-height: 45px;
}
.pccf.paper textarea.input-lg,
.pccf.paper select[multiple].input-lg {
  height: auto;
}
.pccf.paper .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #a6a6a6;
}
@media (min-width: 768px) {
}
.pccf.paper .form-horizontal .radio,
.pccf.paper .form-horizontal .checkbox,
.pccf.paper .form-horizontal .radio-inline,
.pccf.paper .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.pccf.paper .form-horizontal .radio,
.pccf.paper .form-horizontal .checkbox {
  min-height: 30px;
}
.pccf.paper .form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .pccf.paper .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
.pccf.paper .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 16px;
  font-size: 13px;
  line-height: 1.846;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pccf.paper .btn:focus,
.pccf.paper .btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.pccf.paper .btn:hover,
.pccf.paper .btn:focus {
  color: #666666;
  text-decoration: none;
}
.pccf.paper .btn:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.pccf.paper .btn-primary {
  color: #ffffff;
  background-color: #2196f3;
  border-color: transparent;
}
.pccf.paper .btn-primary:hover,
.pccf.paper .btn-primary:focus,
.pccf.paper .btn-primary:active {
  color: #ffffff;
  background-color: #0c7cd5;
  border-color: rgba(0, 0, 0, 0);
}
.pccf.paper .btn-primary:active {
  background-image: none;
}
.pccf.paper .btn-success {
  color: #ffffff;
  background-color: #4caf50;
  border-color: transparent;
}
.pccf.paper .btn-success:hover,
.pccf.paper .btn-success:focus,
.pccf.paper .btn-success:active {
  color: #ffffff;
  background-color: #3d8b40;
  border-color: rgba(0, 0, 0, 0);
}
.pccf.paper .btn-success:active {
  background-image: none;
}
.pccf.paper .btn-info {
  color: #ffffff;
  background-color: #9c27b0;
  border-color: transparent;
}
.pccf.paper .btn-info:hover,
.pccf.paper .btn-info:focus,
.pccf.paper .btn-info:active {
  color: #ffffff;
  background-color: #771e86;
  border-color: rgba(0, 0, 0, 0);
}
.pccf.paper .btn-info:active {
  background-image: none;
}
.pccf.paper .btn-warning {
  color: #ffffff;
  background-color: #ff9800;
  border-color: transparent;
}
.pccf.paper .btn-warning:hover,
.pccf.paper .btn-warning:focus,
.pccf.paper .btn-warning:active {
  color: #ffffff;
  background-color: #cc7a00;
  border-color: rgba(0, 0, 0, 0);
}
.pccf.paper .btn-warning:active {
  background-image: none;
}
.pccf.paper .btn-danger {
  color: #ffffff;
  background-color: #e51c23;
  border-color: transparent;
}
.pccf.paper .btn-danger:hover,
.pccf.paper .btn-danger:focus,
.pccf.paper .btn-danger:active {
  color: #ffffff;
  background-color: #b9151b;
  border-color: rgba(0, 0, 0, 0);
}
.pccf.paper .btn-danger:active {
  background-image: none;
}
@media (min-width: 768px) {
}
.pccf.paper .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.pccf.paper .input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.pccf.paper .input-group-addon,
.pccf.paper .input-group .form-control {
  display: table-cell;
}
.pccf.paper .input-group-addon {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.pccf.paper .input-group-addon {
  padding: 6px 16px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #666666;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
}
.pccf.paper .input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.pccf.paper .input-group .form-control:first-child,
.pccf.paper .input-group-addon:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pccf.paper .input-group-addon:first-child {
  border-right: 0;
}
.pccf.paper .input-group .form-control:last-child,
.pccf.paper .input-group-addon:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pccf.paper .input-group-addon:last-child {
  border-left: 0;
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
.pccf.paper .alert {
  padding: 15px;
  margin-bottom: 23px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.pccf.paper .alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #4caf50;
}
.pccf.paper .alert-info {
  background-color: #e1bee7;
  border-color: #cba4dd;
  color: #9c27b0;
}
.pccf.paper .alert-warning {
  background-color: #ffe0b2;
  border-color: #ffc599;
  color: #ff9800;
}
.pccf.paper .alert-danger {
  background-color: #f9bdbb;
  border-color: #f7a4af;
  color: #e51c23;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.pccf.paper .panel {
  margin-bottom: 23px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pccf.paper .panel-body {
  padding: 15px;
}
.pccf.paper .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.pccf.paper .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  color: inherit;
}
.pccf.paper .panel-primary {
  border-color: #2196f3;
}
.pccf.paper .panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
}
.pccf.paper .panel-success {
  border-color: #d6e9c6;
}
.pccf.paper .panel-success > .panel-heading {
  color: #4caf50;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.pccf.paper .panel-info {
  border-color: #cba4dd;
}
.pccf.paper .panel-info > .panel-heading {
  color: #9c27b0;
  background-color: #e1bee7;
  border-color: #cba4dd;
}
.pccf.paper .panel-warning {
  border-color: #ffc599;
}
.pccf.paper .panel-warning > .panel-heading {
  color: #ff9800;
  background-color: #ffe0b2;
  border-color: #ffc599;
}
.pccf.paper .well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
@media (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
.pccf.paper .row:before,
.pccf.paper .row:after,
.pccf.paper .form-horizontal .form-group:before,
.pccf.paper .form-horizontal .form-group:after,
.pccf.paper .panel-body:before,
.pccf.paper .panel-body:after {
  content: " ";
  display: table;
}
.pccf.paper .row:after,
.pccf.paper .form-horizontal .form-group:after,
.pccf.paper .panel-body:after {
  clear: both;
}
@-ms-viewport {
  width: device-width;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media print {
}
.pccf.paper .navbar-inverse .form-control:-ms-input-placeholder {
  color: #b2dbfb;
}
.pccf.paper .navbar-inverse .form-control::-webkit-input-placeholder {
  color: #b2dbfb;
}
.pccf.paper .btn-primary {
  background-image: -webkit-radial-gradient(circle, #2196f3 80%, #0d87e9 81%);
  background-image: radial-gradient(circle, #2196f3 80%, #0d87e9 81%);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 50%;
  transition: background-size 2s;
}
.pccf.paper .btn-primary:hover {
  background-size: 100%;
  border-color: #0d87e9;
}
.pccf.paper .btn-primary:active {
  background-color: #0d87e9;
  background-image: -webkit-radial-gradient(circle, #0d87e9 10%, #2196f3 11%);
  background-image: radial-gradient(circle, #0d87e9 10%, #2196f3 11%);
  background-repeat: no-repeat;
  background-size: 1000%;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.pccf.paper .btn-success {
  background-image: -webkit-radial-gradient(circle, #4caf50 80%, #439a46 81%);
  background-image: radial-gradient(circle, #4caf50 80%, #439a46 81%);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 50%;
  transition: background-size 2s;
}
.pccf.paper .btn-success:hover {
  background-size: 100%;
  border-color: #439a46;
}
.pccf.paper .btn-success:active {
  background-color: #439a46;
  background-image: -webkit-radial-gradient(circle, #439a46 10%, #4caf50 11%);
  background-image: radial-gradient(circle, #439a46 10%, #4caf50 11%);
  background-repeat: no-repeat;
  background-size: 1000%;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.pccf.paper .btn-info {
  background-image: -webkit-radial-gradient(circle, #9c27b0 80%, #862197 81%);
  background-image: radial-gradient(circle, #9c27b0 80%, #862197 81%);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 50%;
  transition: background-size 2s;
}
.pccf.paper .btn-info:hover {
  background-size: 100%;
  border-color: #862197;
}
.pccf.paper .btn-info:active {
  background-color: #862197;
  background-image: -webkit-radial-gradient(circle, #862197 10%, #9c27b0 11%);
  background-image: radial-gradient(circle, #862197 10%, #9c27b0 11%);
  background-repeat: no-repeat;
  background-size: 1000%;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.pccf.paper .btn-warning {
  background-image: -webkit-radial-gradient(circle, #ff9800 80%, #e08600 81%);
  background-image: radial-gradient(circle, #ff9800 80%, #e08600 81%);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 50%;
  transition: background-size 2s;
}
.pccf.paper .btn-warning:hover {
  background-size: 100%;
  border-color: #e08600;
}
.pccf.paper .btn-warning:active {
  background-color: #e08600;
  background-image: -webkit-radial-gradient(circle, #e08600 10%, #ff9800 11%);
  background-image: radial-gradient(circle, #e08600 10%, #ff9800 11%);
  background-repeat: no-repeat;
  background-size: 1000%;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.pccf.paper .btn-danger {
  background-image: -webkit-radial-gradient(circle, #e51c23 80%, #cb171e 81%);
  background-image: radial-gradient(circle, #e51c23 80%, #cb171e 81%);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 50%;
  transition: background-size 2s;
}
.pccf.paper .btn-danger:hover {
  background-size: 100%;
  border-color: #cb171e;
}
.pccf.paper .btn-danger:active {
  background-color: #cb171e;
  background-image: -webkit-radial-gradient(circle, #cb171e 10%, #e51c23 11%);
  background-image: radial-gradient(circle, #cb171e 10%, #e51c23 11%);
  background-repeat: no-repeat;
  background-size: 1000%;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.pccf.paper .btn {
  text-transform: uppercase;
  border-right: none;
  border-bottom: none;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.pccf.paper p {
  margin: 0 0 1em;
}
.pccf.paper input,
.pccf.paper button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
}
.pccf.paper textarea,
.pccf.paper textarea.form-control,
.pccf.paper input[type=text],
.pccf.paper [type=text].form-control {
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: inset 0 -1px 0 #dddddd;
  box-shadow: inset 0 -1px 0 #dddddd;
  font-size: 16px;
}
.pccf.paper textarea:focus,
.pccf.paper textarea.form-control:focus,
.pccf.paper input[type=text]:focus,
.pccf.paper [type=text].form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #2196f3;
  box-shadow: inset 0 -2px 0 #2196f3;
}
.pccf.paper select,
.pccf.paper select.form-control {
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pccf.paper .alert {
  border: none;
  color: #fff;
}
.pccf.paper .alert-success {
  background-color: #4caf50;
}
.pccf.paper .alert-info {
  background-color: #9c27b0;
}
.pccf.paper .alert-warning {
  background-color: #ff9800;
}
.pccf.paper .alert-danger {
  background-color: #e51c23;
}
.pccf.paper .well {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pccf.paper .panel {
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.pccf.paper .panel-heading {
  border-bottom: none;
}
.pccf.paper .panel-success .panel-heading {
  background-color: #4caf50;
}
.pccf.paper .panel-success .panel-title {
  color: #fff;
}
.pccf.paper .panel-info .panel-heading {
  background-color: #9c27b0;
}
.pccf.paper .panel-info .panel-title {
  color: #fff;
}
.pccf.paper .panel-warning .panel-heading {
  background-color: #ff9800;
}
.pccf.paper .panel-warning .panel-title {
  color: #fff;
}

@media (max-width: 992px) {
    .pccf fieldset {
        padding:10px!important;
    }
}

.pccf .col-lg-8>p {
    clear: both;
}
.pccf .validation-advice {color:inherit}
.pccf .required-control .control-label:after {
content: " *";
    color: #fc4c5e;
}
.pccf label {font-size:inherit!important;}
.pccf {background:none!important;}

.pccf .input-group-addon {
padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.pccf .form-horizontal.pccform fieldset {padding:10px!important}
.pccf textarea {
    width: 100%;
    max-width: 100%;
}

/* navigation inactive item */

.pccf.paper .nav-wizard > li > a {
    color: #2196f3;
    background-color: #f5f5f5;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pccf.paper .nav-wizard > li:not(:last-child) > a:after {
    border-left: 20px solid #f5f5f5;
}

/* navigation active item */

.pccf.paper .nav-wizard > li.active > a:after {
    border-left-color: #2196f3;
}
.pccf.paper .nav-wizard > li.active > a, .pccf.paper .nav-wizard > li.active > a:hover, .pccf.paper .nav-wizard > li.active > a:focus {
    color: #fff;
    background-color: #2196f3;
}

/* navigation background */

.pccf.paper .well .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #F9F9F9;
}
.pccf.paper .panel .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #fff;
}

/* small navigation inactive tab */

.pccf.smallnav.paper .nav-wizard > li:before {
    color: #2196f3;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

/* small navigation active tab */

.pccf.smallnav.paper .nav-wizard > li.active:before {
    color: #fff;
    background-color: #2196f3;
    border-color: #2196f3;
}

/* small navigation background */

.pccf.smallnav.paper ul.nav-wizard:before {
    background: #f5f5f5;
}