/*!
 * bootswatch v3.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2014 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
.pccf.slate  {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.pccf.slate  {
  margin: 0;
}
.pccf.slate h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.pccf.slate button,
.pccf.slate input,
.pccf.slate select,
.pccf.slate textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.pccf.slate button {
  overflow: visible;
}
.pccf.slate button,
.pccf.slate select {
  text-transform: none;
}
.pccf.slate button {
  -webkit-appearance: button;
  cursor: pointer;
}
.pccf.slate button::-moz-focus-inner,
.pccf.slate input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.pccf.slate input {
  line-height: normal;
}
.pccf.slate input[type="checkbox"],
.pccf.slate input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.pccf.slate input[type="number"]::-webkit-inner-spin-button,
.pccf.slate input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.pccf.slate input[type="search"]::-webkit-search-cancel-button,
.pccf.slate input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.pccf.slate fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.pccf.slate legend {
  border: 0;
  padding: 0;
}
.pccf.slate textarea {
  overflow: auto;
}
@media print {
  .pccf.slate * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  .pccf.slate p,
  .pccf.slate h2,
  .pccf.slate h3 {
    orphans: 3;
    widows: 3;
  }
  .pccf.slate h2,
  .pccf.slate h3 {
    page-break-after: avoid;
  }
  .pccf.slate select {
    background: #fff !important;
  }
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.pccf.slate * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pccf.slate *:before,
.pccf.slate *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pccf.slate  {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.pccf.slate  {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #c8c8c8;
  background-color: #272b30;
}
.pccf.slate input,
.pccf.slate button,
.pccf.slate select,
.pccf.slate textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.pccf.slate h1,
.pccf.slate h2,
.pccf.slate h3,
.pccf.slate h4,
.pccf.slate h5,
.pccf.slate h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.pccf.slate h1,
.pccf.slate h2,
.pccf.slate h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.pccf.slate h4,
.pccf.slate h5,
.pccf.slate h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pccf.slate h1 {
  font-size: 36px;
}
.pccf.slate h2 {
  font-size: 30px;
}
.pccf.slate h3 {
  font-size: 24px;
}
.pccf.slate h4 {
  font-size: 18px;
}
.pccf.slate h5 {
  font-size: 14px;
}
.pccf.slate h6 {
  font-size: 12px;
}
.pccf.slate p {
  margin: 0 0 10px;
}
.pccf.slate .text-center {
  text-align: center;
}
@media (min-width: 768px) {
}
.pccf.slate .row {
  margin-left: -15px;
  margin-right: -15px;
}
.pccf.slate .col-md-2,
.pccf.slate .col-md-3,
.pccf.slate .col-md-4,
.pccf.slate .col-md-5,
.pccf.slate .col-md-6,
.pccf.slate .col-lg-6,
.pccf.slate .col-md-8,
.pccf.slate .col-lg-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .pccf.slate .col-md-2,
  .pccf.slate .col-md-3,
  .pccf.slate .col-md-4,
  .pccf.slate .col-md-5,
  .pccf.slate .col-md-6,
  .pccf.slate .col-md-8 {
    float: left;
  }
  .pccf.slate .col-md-8 {
    width: 66.66666667%;
  }
  .pccf.slate .col-md-6 {
    width: 50%;
  }
  .pccf.slate .col-md-5 {
    width: 41.66666667%;
  }
  .pccf.slate .col-md-4 {
    width: 33.33333333%;
  }
  .pccf.slate .col-md-3 {
    width: 25%;
  }
  .pccf.slate .col-md-2 {
    width: 16.66666667%;
  }
}
@media (min-width: 1200px) {
  .pccf.slate .col-lg-6,
  .pccf.slate .col-lg-8 {
    float: left;
  }
  .pccf.slate .col-lg-8 {
    width: 66.66666667%;
  }
  .pccf.slate .col-lg-6 {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
}
.pccf.slate fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
.pccf.slate legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #c8c8c8;
  border: 0;
  border-bottom: 1px solid #1c1e22;
}
.pccf.slate label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.pccf.slate input[type="radio"],
.pccf.slate input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
.pccf.slate select[multiple] {
  height: auto;
}
.pccf.slate input[type="radio"]:focus,
.pccf.slate input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.pccf.slate .form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #272b30;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.pccf.slate .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.pccf.slate .form-control::-moz-placeholder {
  color: #7a8288;
  opacity: 1;
}
.pccf.slate .form-control:-ms-input-placeholder {
  color: #7a8288;
}
.pccf.slate .form-control::-webkit-input-placeholder {
  color: #7a8288;
}
.pccf.slate textarea.form-control {
  height: auto;
}
.pccf.slate .form-group {
  margin-bottom: 15px;
}
.pccf.slate .radio,
.pccf.slate .checkbox {
  position: relative;
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pccf.slate .radio label,
.pccf.slate .checkbox label {
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.pccf.slate .radio input[type="radio"],
.pccf.slate .radio-inline input[type="radio"],
.pccf.slate .checkbox input[type="checkbox"],
.pccf.slate .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.pccf.slate .radio + .radio,
.pccf.slate .checkbox + .checkbox {
  margin-top: -5px;
}
.pccf.slate .radio-inline,
.pccf.slate .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.pccf.slate .radio-inline + .radio-inline,
.pccf.slate .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.pccf.slate .input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.pccf.slate select.input-sm {
  height: 30px;
  line-height: 30px;
}
.pccf.slate textarea.input-sm,
.pccf.slate select[multiple].input-sm {
  height: auto;
}
.pccf.slate .input-lg {
  height: 54px;
  padding: 14px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.pccf.slate select.input-lg {
  height: 54px;
  line-height: 54px;
}
.pccf.slate textarea.input-lg,
.pccf.slate select[multiple].input-lg {
  height: auto;
}
.pccf.slate .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ffffff;
}
@media (min-width: 768px) {
}
.pccf.slate .form-horizontal .radio,
.pccf.slate .form-horizontal .checkbox,
.pccf.slate .form-horizontal .radio-inline,
.pccf.slate .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 9px;
}
.pccf.slate .form-horizontal .radio,
.pccf.slate .form-horizontal .checkbox {
  min-height: 29px;
}
.pccf.slate .form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .pccf.slate .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 9px;
  }
}
.pccf.slate .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pccf.slate .btn:focus,
.pccf.slate .btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.pccf.slate .btn:hover,
.pccf.slate .btn:focus {
  color: #ffffff;
  text-decoration: none;
}
.pccf.slate .btn:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.pccf.slate .btn-primary {
  color: #ffffff;
  background-color: #7a8288;
  border-color: #7a8288;
}
.pccf.slate .btn-primary:hover,
.pccf.slate .btn-primary:focus,
.pccf.slate .btn-primary:active {
  color: #ffffff;
  background-color: #62686d;
  border-color: #5d6368;
}
.pccf.slate .btn-primary:active {
  background-image: none;
}
.pccf.slate .btn-success {
  color: #ffffff;
  background-color: #62c462;
  border-color: #62c462;
}
.pccf.slate .btn-success:hover,
.pccf.slate .btn-success:focus,
.pccf.slate .btn-success:active {
  color: #ffffff;
  background-color: #42b142;
  border-color: #40a940;
}
.pccf.slate .btn-success:active {
  background-image: none;
}
.pccf.slate .btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.pccf.slate .btn-info:hover,
.pccf.slate .btn-info:focus,
.pccf.slate .btn-info:active {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #2aabd2;
}
.pccf.slate .btn-info:active {
  background-image: none;
}
.pccf.slate .btn-warning {
  color: #ffffff;
  background-color: #f89406;
  border-color: #f89406;
}
.pccf.slate .btn-warning:hover,
.pccf.slate .btn-warning:focus,
.pccf.slate .btn-warning:active {
  color: #ffffff;
  background-color: #c67605;
  border-color: #bc7005;
}
.pccf.slate .btn-warning:active {
  background-image: none;
}
.pccf.slate .btn-danger {
  color: #ffffff;
  background-color: #ee5f5b;
  border-color: #ee5f5b;
}
.pccf.slate .btn-danger:hover,
.pccf.slate .btn-danger:focus,
.pccf.slate .btn-danger:active {
  color: #ffffff;
  background-color: #e9322d;
  border-color: #e82924;
}
.pccf.slate .btn-danger:active {
  background-image: none;
}
@media (min-width: 768px) {
}
.pccf.slate .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.pccf.slate .input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.pccf.slate .input-group-addon,
.pccf.slate .input-group .form-control {
  display: table-cell;
}
.pccf.slate .input-group-addon {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.pccf.slate .input-group-addon {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #272b30;
  text-align: center;
  background-color: #999999;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.pccf.slate .input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.pccf.slate .input-group .form-control:first-child,
.pccf.slate .input-group-addon:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pccf.slate .input-group-addon:first-child {
  border-right: 0;
}
.pccf.slate .input-group .form-control:last-child,
.pccf.slate .input-group-addon:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pccf.slate .input-group-addon:last-child {
  border-left: 0;
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
.pccf.slate .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.pccf.slate .alert-success {
  background-color: #62c462;
  border-color: #62bd4f;
  color: #ffffff;
}
.pccf.slate .alert-info {
  background-color: #5bc0de;
  border-color: #3dced8;
  color: #ffffff;
}
.pccf.slate .alert-warning {
  background-color: #f89406;
  border-color: #e96506;
  color: #ffffff;
}
.pccf.slate .alert-danger {
  background-color: #ee5f5b;
  border-color: #ed4d63;
  color: #ffffff;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.pccf.slate .panel {
  margin-bottom: 20px;
  background-color: #2e3338;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pccf.slate .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.pccf.slate .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.pccf.slate .panel-primary {
  border-color: rgba(0, 0, 0, 0.6);
}
.pccf.slate .panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #7a8288;
  border-color: rgba(0, 0, 0, 0.6);
}
.pccf.slate .panel-success {
  border-color: rgba(0, 0, 0, 0.6);
}
.pccf.slate .panel-success > .panel-heading {
  color: #ffffff;
  background-color: #62c462;
  border-color: rgba(0, 0, 0, 0.6);
}
.pccf.slate .panel-info {
  border-color: rgba(0, 0, 0, 0.6);
}
.pccf.slate .panel-info > .panel-heading {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: rgba(0, 0, 0, 0.6);
}
.pccf.slate .panel-warning {
  border-color: rgba(0, 0, 0, 0.6);
}
.pccf.slate .panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #f89406;
  border-color: rgba(0, 0, 0, 0.6);
}
.pccf.slate .well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #1c1e22;
  border: 1px solid #0c0d0e;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
@media (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
.pccf.slate .row:before,
.pccf.slate .row:after,
.pccf.slate .form-horizontal .form-group:before,
.pccf.slate .form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.pccf.slate .row:after,
.pccf.slate .form-horizontal .form-group:after {
  clear: both;
}
@-ms-viewport {
  width: device-width;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media print {
}
.pccf.slate .btn,
.pccf.slate .btn:hover {
  border-color: rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.pccf.slate .btn-primary {
  background-image: -webkit-linear-gradient(#8a9196, #7a8288 60%, #70787d);
  background-image: -o-linear-gradient(#8a9196, #7a8288 60%, #70787d);
  background-image: linear-gradient(#8a9196, #7a8288 60%, #70787d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a9196', endColorstr='#ff70787d', GradientType=0);
  filter: none;
}
.pccf.slate .btn-primary:hover {
  background-image: -webkit-linear-gradient(#404448, #4e5458 40%, #585e62);
  background-image: -o-linear-gradient(#404448, #4e5458 40%, #585e62);
  background-image: linear-gradient(#404448, #4e5458 40%, #585e62);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff404448', endColorstr='#ff585e62', GradientType=0);
  filter: none;
}
.pccf.slate .btn-success {
  background-image: -webkit-linear-gradient(#78cc78, #62c462 60%, #53be53);
  background-image: -o-linear-gradient(#78cc78, #62c462 60%, #53be53);
  background-image: linear-gradient(#78cc78, #62c462 60%, #53be53);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff78cc78', endColorstr='#ff53be53', GradientType=0);
  filter: none;
}
.pccf.slate .btn-success:hover {
  background-image: -webkit-linear-gradient(#2f7d2f, #379337 40%, #3da23d);
  background-image: -o-linear-gradient(#2f7d2f, #379337 40%, #3da23d);
  background-image: linear-gradient(#2f7d2f, #379337 40%, #3da23d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2f7d2f', endColorstr='#ff3da23d', GradientType=0);
  filter: none;
}
.pccf.slate .btn-info {
  background-image: -webkit-linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
  background-image: -o-linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
  background-image: linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff74cae3', endColorstr='#ff4ab9db', GradientType=0);
  filter: none;
}
.pccf.slate .btn-info:hover {
  background-image: -webkit-linear-gradient(#20829f, #2596b8 40%, #28a4c9);
  background-image: -o-linear-gradient(#20829f, #2596b8 40%, #28a4c9);
  background-image: linear-gradient(#20829f, #2596b8 40%, #28a4c9);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff20829f', endColorstr='#ff28a4c9', GradientType=0);
  filter: none;
}
.pccf.slate .btn-warning {
  background-image: -webkit-linear-gradient(#faa123, #f89406 60%, #e48806);
  background-image: -o-linear-gradient(#faa123, #f89406 60%, #e48806);
  background-image: linear-gradient(#faa123, #f89406 60%, #e48806);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffaa123', endColorstr='#ffe48806', GradientType=0);
  filter: none;
}
.pccf.slate .btn-warning:hover {
  background-image: -webkit-linear-gradient(#804d03, #9e5f04 40%, #b26a04);
  background-image: -o-linear-gradient(#804d03, #9e5f04 40%, #b26a04);
  background-image: linear-gradient(#804d03, #9e5f04 40%, #b26a04);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff804d03', endColorstr='#ffb26a04', GradientType=0);
  filter: none;
}
.pccf.slate .btn-danger {
  background-image: -webkit-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
  background-image: -o-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
  background-image: linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff17a77', endColorstr='#ffec4d49', GradientType=0);
  filter: none;
}
.pccf.slate .btn-danger:hover {
  background-image: -webkit-linear-gradient(#bb1813, #d71c16 40%, #e7201a);
  background-image: -o-linear-gradient(#bb1813, #d71c16 40%, #e7201a);
  background-image: linear-gradient(#bb1813, #d71c16 40%, #e7201a);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbb1813', endColorstr='#ffe7201a', GradientType=0);
  filter: none;
}
.pccf.slate h1,
.pccf.slate h2,
.pccf.slate h3,
.pccf.slate h4,
.pccf.slate h5,
.pccf.slate h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.pccf.slate input,
.pccf.slate textarea {
  color: #272b30;
}
.pccf.slate legend {
  color: #fff;
}
.pccf.slate .input-group-addon {
  border-color: rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
  filter: none;
  color: #ffffff;
}
.pccf.slate .panel-primary .panel-heading,
.pccf.slate .panel-success .panel-heading,
.pccf.slate .panel-warning .panel-heading,
.pccf.slate .panel-info .panel-heading {
  border-color: #000;
}

@media (max-width: 992px) {
    .pccf fieldset {
        padding:10px!important;
    }
}

.pccf .col-lg-8>p {
    clear: both;
}
.pccf .validation-advice {color:inherit}
.pccf .required-control .control-label:after {
content: " *";
    color: #fc4c5e;
}
.pccf label {font-size:inherit!important;}
.pccf {background:none!important;}

.pccf .input-group-addon {
padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.pccf .form-horizontal.pccform fieldset {padding:10px!important}
.pccf textarea {
    width: 100%;
    max-width: 100%;
}

/* navigation inactive item */

.pccf.slate .nav-wizard > li > a {
    color: #fff;
    background-color: #272B30;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pccf.slate .nav-wizard > li:not(:last-child) > a:after {
    border-left: 20px solid #272B30;
}

/* navigation active item */

.pccf.slate .nav-wizard > li.active > a:after {
    border-left-color: #3E444C;
}
.pccf.slate .nav-wizard > li.active > a, .pccf.slate .nav-wizard > li.active > a:hover, .pccf.slate .nav-wizard > li.active > a:focus {
    color: #fff;
    background-color: #3E444C;
}

/* navigation background */

.pccf.slate .well .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #1C1E22;
}
.pccf.slate .panel .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #2E3338;
}

/* small navigation inactive tab */

.pccf.smallnav.slate .nav-wizard > li:before {
    color: #fff;
    background-color: #272B30;
    border-color: #272B30;
}

/* small navigation active tab */

.pccf.smallnav.slate .nav-wizard > li.active:before {
    color: #fff;
    background-color: #3E444C;
    border-color: #3E444C;
}

/* small navigation background */

.pccf.smallnav.slate ul.nav-wizard:before {
    background: #272B30;
}