@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");
/*!
 * bootswatch v3.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2014 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
.pccf.spacelab  {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.pccf.spacelab  {
  margin: 0;
}
.pccf.spacelab h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.pccf.spacelab button,
.pccf.spacelab input,
.pccf.spacelab select,
.pccf.spacelab textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.pccf.spacelab button {
  overflow: visible;
}
.pccf.spacelab button,
.pccf.spacelab select {
  text-transform: none;
}
.pccf.spacelab button {
  -webkit-appearance: button;
  cursor: pointer;
}
.pccf.spacelab button::-moz-focus-inner,
.pccf.spacelab input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.pccf.spacelab input {
  line-height: normal;
}
.pccf.spacelab input[type="checkbox"],
.pccf.spacelab input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.pccf.spacelab input[type="number"]::-webkit-inner-spin-button,
.pccf.spacelab input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.pccf.spacelab input[type="search"]::-webkit-search-cancel-button,
.pccf.spacelab input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.pccf.spacelab fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.pccf.spacelab legend {
  border: 0;
  padding: 0;
}
.pccf.spacelab textarea {
  overflow: auto;
}
@media print {
  .pccf.spacelab * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  .pccf.spacelab p,
  .pccf.spacelab h2,
  .pccf.spacelab h3 {
    orphans: 3;
    widows: 3;
  }
  .pccf.spacelab h2,
  .pccf.spacelab h3 {
    page-break-after: avoid;
  }
  .pccf.spacelab select {
    background: #fff !important;
  }
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.pccf.spacelab * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pccf.spacelab *:before,
.pccf.spacelab *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pccf.spacelab  {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.pccf.spacelab  {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #666666;
  background-color: #ffffff;
}
.pccf.spacelab input,
.pccf.spacelab button,
.pccf.spacelab select,
.pccf.spacelab textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.pccf.spacelab h1,
.pccf.spacelab h2,
.pccf.spacelab h3,
.pccf.spacelab h4,
.pccf.spacelab h5,
.pccf.spacelab h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #2d2d2d;
}
.pccf.spacelab h1,
.pccf.spacelab h2,
.pccf.spacelab h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.pccf.spacelab h4,
.pccf.spacelab h5,
.pccf.spacelab h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pccf.spacelab h1 {
  font-size: 36px;
}
.pccf.spacelab h2 {
  font-size: 30px;
}
.pccf.spacelab h3 {
  font-size: 24px;
}
.pccf.spacelab h4 {
  font-size: 18px;
}
.pccf.spacelab h5 {
  font-size: 14px;
}
.pccf.spacelab h6 {
  font-size: 12px;
}
.pccf.spacelab p {
  margin: 0 0 10px;
}
.pccf.spacelab .text-center {
  text-align: center;
}
@media (min-width: 768px) {
}
.pccf.spacelab .row {
  margin-left: -15px;
  margin-right: -15px;
}
.pccf.spacelab .col-md-2,
.pccf.spacelab .col-md-3,
.pccf.spacelab .col-md-4,
.pccf.spacelab .col-md-5,
.pccf.spacelab .col-md-6,
.pccf.spacelab .col-lg-6,
.pccf.spacelab .col-md-8,
.pccf.spacelab .col-lg-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .pccf.spacelab .col-md-2,
  .pccf.spacelab .col-md-3,
  .pccf.spacelab .col-md-4,
  .pccf.spacelab .col-md-5,
  .pccf.spacelab .col-md-6,
  .pccf.spacelab .col-md-8 {
    float: left;
  }
  .pccf.spacelab .col-md-8 {
    width: 66.66666667%;
  }
  .pccf.spacelab .col-md-6 {
    width: 50%;
  }
  .pccf.spacelab .col-md-5 {
    width: 41.66666667%;
  }
  .pccf.spacelab .col-md-4 {
    width: 33.33333333%;
  }
  .pccf.spacelab .col-md-3 {
    width: 25%;
  }
  .pccf.spacelab .col-md-2 {
    width: 16.66666667%;
  }
}
@media (min-width: 1200px) {
  .pccf.spacelab .col-lg-6,
  .pccf.spacelab .col-lg-8 {
    float: left;
  }
  .pccf.spacelab .col-lg-8 {
    width: 66.66666667%;
  }
  .pccf.spacelab .col-lg-6 {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
}
.pccf.spacelab fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
.pccf.spacelab legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #666666;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.pccf.spacelab label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.pccf.spacelab input[type="radio"],
.pccf.spacelab input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
.pccf.spacelab select[multiple] {
  height: auto;
}
.pccf.spacelab input[type="radio"]:focus,
.pccf.spacelab input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.pccf.spacelab .form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #666666;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.pccf.spacelab .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.pccf.spacelab .form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.pccf.spacelab .form-control:-ms-input-placeholder {
  color: #999999;
}
.pccf.spacelab .form-control::-webkit-input-placeholder {
  color: #999999;
}
.pccf.spacelab textarea.form-control {
  height: auto;
}
.pccf.spacelab .form-group {
  margin-bottom: 15px;
}
.pccf.spacelab .radio,
.pccf.spacelab .checkbox {
  position: relative;
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pccf.spacelab .radio label,
.pccf.spacelab .checkbox label {
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.pccf.spacelab .radio input[type="radio"],
.pccf.spacelab .radio-inline input[type="radio"],
.pccf.spacelab .checkbox input[type="checkbox"],
.pccf.spacelab .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.pccf.spacelab .radio + .radio,
.pccf.spacelab .checkbox + .checkbox {
  margin-top: -5px;
}
.pccf.spacelab .radio-inline,
.pccf.spacelab .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.pccf.spacelab .radio-inline + .radio-inline,
.pccf.spacelab .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.pccf.spacelab .input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.pccf.spacelab select.input-sm {
  height: 30px;
  line-height: 30px;
}
.pccf.spacelab textarea.input-sm,
.pccf.spacelab select[multiple].input-sm {
  height: auto;
}
.pccf.spacelab .input-lg {
  height: 54px;
  padding: 14px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.pccf.spacelab select.input-lg {
  height: 54px;
  line-height: 54px;
}
.pccf.spacelab textarea.input-lg,
.pccf.spacelab select[multiple].input-lg {
  height: auto;
}
.pccf.spacelab .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #a6a6a6;
}
@media (min-width: 768px) {
}
.pccf.spacelab .form-horizontal .radio,
.pccf.spacelab .form-horizontal .checkbox,
.pccf.spacelab .form-horizontal .radio-inline,
.pccf.spacelab .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 9px;
}
.pccf.spacelab .form-horizontal .radio,
.pccf.spacelab .form-horizontal .checkbox {
  min-height: 29px;
}
.pccf.spacelab .form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .pccf.spacelab .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 9px;
  }
}
.pccf.spacelab .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pccf.spacelab .btn:focus,
.pccf.spacelab .btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.pccf.spacelab .btn:hover,
.pccf.spacelab .btn:focus {
  color: #ffffff;
  text-decoration: none;
}
.pccf.spacelab .btn:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.pccf.spacelab .btn-default {
    color: #ffffff;
    background-color: #474949;
    border-color: #474949;
}
.pccf.spacelab .btn-default:hover,
.pccf.spacelab .btn-default:focus,
.pccf.spacelab .btn-default.focus,
.pccf.spacelab .btn-default:active,
.pccf.spacelab .btn-default.active,
.pccf.spacelab .open > .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #2e2f2f;
    border-color: #292a2a;
}
.pccf.spacelab .btn-default:active,
.pccf.spacelab .btn-default.active,
.pccf.spacelab .open > .dropdown-toggle.btn-default {
    background-image: none;
}
.pccf.spacelab .btn-default.disabled,
.pccf.spacelab .btn-default[disabled],
.pccf.spacelab fieldset[disabled] .btn-default,
.pccf.spacelab .btn-default.disabled:hover,
.pccf.spacelab .btn-default[disabled]:hover,
.pccf.spacelab fieldset[disabled] .btn-default:hover,
.pccf.spacelab .btn-default.disabled:focus,
.pccf.spacelab .btn-default[disabled]:focus,
.pccf.spacelab fieldset[disabled] .btn-default:focus,
.pccf.spacelab .btn-default.disabled.focus,
.pccf.spacelab .btn-default[disabled].focus,
.pccf.spacelab fieldset[disabled] .btn-default.focus,
.pccf.spacelab .btn-default.disabled:active,
.pccf.spacelab .btn-default[disabled]:active,
.pccf.spacelab fieldset[disabled] .btn-default:active,
.pccf.spacelab .btn-default.disabled.active,
.pccf.spacelab .btn-default[disabled].active,
.pccf.spacelab fieldset[disabled] .btn-default.active {
    background-color: #474949;
    border-color: #474949;
}
.pccf.spacelab .btn-default .badge {
    color: #474949;
    background-color: #ffffff;
}
.pccf.spacelab .btn-default {
    background-image: -webkit-linear-gradient(#6d7070, #474949 50%, #3d3f3f);
    background-image: -o-linear-gradient(#6d7070, #474949 50%, #3d3f3f);
    background-image: linear-gradient(#6d7070, #474949 50%, #3d3f3f);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d7070', endColorstr='#ff3d3f3f', GradientType=0);
    filter: none;
    border: 1px solid #2e2f2f;
}
.pccf.spacelab .btn-default:hover {
    background-image: -webkit-linear-gradient(#636565, #3d3f3f 50%, #333434);
    background-image: -o-linear-gradient(#636565, #3d3f3f 50%, #333434);
    background-image: linear-gradient(#636565, #3d3f3f 50%, #333434);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff636565', endColorstr='#ff333434', GradientType=0);
    filter: none;
    border: 1px solid #242525;
}

.pccf.spacelab .btn-primary {
  color: #ffffff;
  background-color: #446e9b;
  border-color: #446e9b;
}
.pccf.spacelab .btn-primary:hover,
.pccf.spacelab .btn-primary:focus,
.pccf.spacelab .btn-primary:active {
  color: #ffffff;
  background-color: #345578;
  border-color: #315070;
}
.pccf.spacelab .btn-primary:active {
  background-image: none;
}
.pccf.spacelab .btn-success {
  color: #ffffff;
  background-color: #3cb521;
  border-color: #3cb521;
}
.pccf.spacelab .btn-success:hover,
.pccf.spacelab .btn-success:focus,
.pccf.spacelab .btn-success:active {
  color: #ffffff;
  background-color: #2e8a19;
  border-color: #2b8118;
}
.pccf.spacelab .btn-success:active {
  background-image: none;
}
.pccf.spacelab .btn-info {
  color: #ffffff;
  background-color: #3399f3;
  border-color: #3399f3;
}
.pccf.spacelab .btn-info:hover,
.pccf.spacelab .btn-info:focus,
.pccf.spacelab .btn-info:active {
  color: #ffffff;
  background-color: #0e80e5;
  border-color: #0d7bdc;
}
.pccf.spacelab .btn-info:active {
  background-image: none;
}
.pccf.spacelab .btn-warning {
  color: #ffffff;
  background-color: #d47500;
  border-color: #d47500;
}
.pccf.spacelab .btn-warning:hover,
.pccf.spacelab .btn-warning:focus,
.pccf.spacelab .btn-warning:active {
  color: #ffffff;
  background-color: #a15900;
  border-color: #975300;
}
.pccf.spacelab .btn-warning:active {
  background-image: none;
}
.pccf.spacelab .btn-danger {
  color: #ffffff;
  background-color: #cd0200;
  border-color: #cd0200;
}
.pccf.spacelab .btn-danger:hover,
.pccf.spacelab .btn-danger:focus,
.pccf.spacelab .btn-danger:active {
  color: #ffffff;
  background-color: #9a0200;
  border-color: #900100;
}
.pccf.spacelab .btn-danger:active {
  background-image: none;
}
@media (min-width: 768px) {
}
.pccf.spacelab .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.pccf.spacelab .input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.pccf.spacelab .input-group-addon,
.pccf.spacelab .input-group .form-control {
  display: table-cell;
}
.pccf.spacelab .input-group-addon {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.pccf.spacelab .input-group-addon {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #666666;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.pccf.spacelab .input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.pccf.spacelab .input-group .form-control:first-child,
.pccf.spacelab .input-group-addon:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pccf.spacelab .input-group-addon:first-child {
  border-right: 0;
}
.pccf.spacelab .input-group .form-control:last-child,
.pccf.spacelab .input-group-addon:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pccf.spacelab .input-group-addon:last-child {
  border-left: 0;
}
.pccf.spacelab .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.pccf.spacelab .alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.pccf.spacelab .alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.pccf.spacelab .alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}
.pccf.spacelab .alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.pccf.spacelab .panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pccf.spacelab .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.pccf.spacelab .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.pccf.spacelab .panel-primary {
  border-color: #446e9b;
}
.pccf.spacelab .panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #446e9b;
  border-color: #446e9b;
}
.pccf.spacelab .panel-success {
  border-color: #d6e9c6;
}
.pccf.spacelab .panel-success > .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.pccf.spacelab .panel-info {
  border-color: #bce8f1;
}
.pccf.spacelab .panel-info > .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.pccf.spacelab .panel-warning {
  border-color: #fbeed5;
}
.pccf.spacelab .panel-warning > .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}
.pccf.spacelab .well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
@media (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
.pccf.spacelab .row:before,
.pccf.spacelab .row:after,
.pccf.spacelab .form-horizontal .form-group:before,
.pccf.spacelab .form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.pccf.spacelab .row:after,
.pccf.spacelab .form-horizontal .form-group:after {
  clear: both;
}
@-ms-viewport {
  width: device-width;
}

.pccf.spacelab .btn {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}



.pccf.spacelab .btn-primary {
  background-image: -webkit-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
  background-image: -o-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
  background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d94bf', endColorstr='#ff3e648d', GradientType=0);
  filter: none;
  border: 1px solid #345578;
}
.pccf.spacelab .btn-primary:hover {
  background-image: -webkit-linear-gradient(#5f8ab9, #3e648d 50%, #385a7f);
  background-image: -o-linear-gradient(#5f8ab9, #3e648d 50%, #385a7f);
  background-image: linear-gradient(#5f8ab9, #3e648d 50%, #385a7f);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f8ab9', endColorstr='#ff385a7f', GradientType=0);
  filter: none;
  border: 1px solid #2e4b69;
}
.pccf.spacelab .btn-success {
  background-image: -webkit-linear-gradient(#61dd45, #3cb521 50%, #36a41e);
  background-image: -o-linear-gradient(#61dd45, #3cb521 50%, #36a41e);
  background-image: linear-gradient(#61dd45, #3cb521 50%, #36a41e);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff61dd45', endColorstr='#ff36a41e', GradientType=0);
  filter: none;
  border: 1px solid #2e8a19;
}
.pccf.spacelab .btn-success:hover {
  background-image: -webkit-linear-gradient(#52da34, #36a41e 50%, #31921b);
  background-image: -o-linear-gradient(#52da34, #36a41e 50%, #31921b);
  background-image: linear-gradient(#52da34, #36a41e 50%, #31921b);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff52da34', endColorstr='#ff31921b', GradientType=0);
  filter: none;
  border: 1px solid #287916;
}
.pccf.spacelab .btn-info {
  background-image: -webkit-linear-gradient(#7bbdf7, #3399f3 50%, #208ff2);
  background-image: -o-linear-gradient(#7bbdf7, #3399f3 50%, #208ff2);
  background-image: linear-gradient(#7bbdf7, #3399f3 50%, #208ff2);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7bbdf7', endColorstr='#ff208ff2', GradientType=0);
  filter: none;
  border: 1px solid #0e80e5;
}
.pccf.spacelab .btn-info:hover {
  background-image: -webkit-linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-image: -o-linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-image: linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff68b3f6', endColorstr='#ff0e86ef', GradientType=0);
  filter: none;
  border: 1px solid #0c75d2;
}
.pccf.spacelab .btn-warning {
  background-image: -webkit-linear-gradient(#ff9c21, #d47500 50%, #c06a00);
  background-image: -o-linear-gradient(#ff9c21, #d47500 50%, #c06a00);
  background-image: linear-gradient(#ff9c21, #d47500 50%, #c06a00);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9c21', endColorstr='#ffc06a00', GradientType=0);
  filter: none;
  border: 1px solid #a15900;
}
.pccf.spacelab .btn-warning:hover {
  background-image: -webkit-linear-gradient(#ff930d, #c06a00 50%, #ab5e00);
  background-image: -o-linear-gradient(#ff930d, #c06a00 50%, #ab5e00);
  background-image: linear-gradient(#ff930d, #c06a00 50%, #ab5e00);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff930d', endColorstr='#ffab5e00', GradientType=0);
  filter: none;
  border: 1px solid #8d4e00;
}
.pccf.spacelab .btn-danger {
  background-image: -webkit-linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
  background-image: -o-linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
  background-image: linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff1d1b', endColorstr='#ffb90200', GradientType=0);
  filter: none;
  border: 1px solid #9a0200;
}
.pccf.spacelab .btn-danger:hover {
  background-image: -webkit-linear-gradient(#ff0906, #b90200 50%, #a40200);
  background-image: -o-linear-gradient(#ff0906, #b90200 50%, #a40200);
  background-image: linear-gradient(#ff0906, #b90200 50%, #a40200);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff0906', endColorstr='#ffa40200', GradientType=0);
  filter: none;
  border: 1px solid #860100;
}
.pccf.spacelab .btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.pccf.spacelab .panel-primary .panel-title {
  color: #fff;
}

@media (max-width: 992px) {
    .pccf fieldset {
        padding:10px!important;
    }
}

.pccf .col-lg-8>p {
    clear: both;
}
.pccf .validation-advice {color:inherit}
.pccf .required-control .control-label:after {
    content: " *";
    color: #fc4c5e;
}
.pccf label {font-size:inherit!important;}
.pccf {background:none!important;}

.pccf .input-group-addon {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.pccf .form-horizontal.pccform fieldset {padding:10px!important}
.pccf textarea {
    width: 100%;
    max-width: 100%;
}

/* RTL FIX */
.pccf.spacelab.rtl .input-group-addon:last-child {
    border-right: 0!important;
    border-left: 1px solid #ccc!important;
}

.pccf.spacelab.rtl .input-group-addon:first-child {
    border-left: 0!important;
    border-right: 1px solid #ccc!important;
}

/* navigation inactive item */

.pccf.spacelab .nav-wizard > li > a {
    color: #3399f3;
    background-color: #eee;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pccf.spacelab .nav-wizard > li:not(:last-child) > a:after {
    border-left: 20px solid #eee;
}

/* navigation active item */

.pccf.spacelab .nav-wizard > li.active > a:after {
    border-left-color: #446e9b;
}
.pccf.spacelab .nav-wizard > li.active > a, .pccf.spacelab .nav-wizard > li.active > a:hover, .pccf.spacelab .nav-wizard > li.active > a:focus {
    color: #fff;
    background-color: #446e9b;
}

/* navigation background */

.pccf.spacelab .well .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #F5F5F5;
}
.pccf.spacelab .panel .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #fff;
}

/* small navigation inactive tab */

.pccf.smallnav.spacelab .nav-wizard > li:before {
    color: #3399f3;
    background-color: #eee;
    border-color: #eee;
}

/* small navigation active tab */

.pccf.smallnav.spacelab .nav-wizard > li.active:before {
    color: #fff;
    background-color: #446e9b;
    border-color: #446e9b;
}

/* small navigation background */

.pccf.smallnav.spacelab ul.nav-wizard:before {
    background: #eee;
}