@import url("//fonts.googleapis.com/css?family=Ubuntu");
/*!
 * bootswatch v3.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2014 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
.pccf.united  {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.pccf.united  {
  margin: 0;
}
.pccf.united h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.pccf.united button,
.pccf.united input,
.pccf.united select,
.pccf.united textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.pccf.united button {
  overflow: visible;
}
.pccf.united button,
.pccf.united select {
  text-transform: none;
}
.pccf.united button {
  -webkit-appearance: button;
  cursor: pointer;
}
.pccf.united button::-moz-focus-inner,
.pccf.united input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.pccf.united input {
  line-height: normal;
}
.pccf.united input[type="checkbox"],
.pccf.united input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.pccf.united input[type="number"]::-webkit-inner-spin-button,
.pccf.united input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.pccf.united input[type="search"]::-webkit-search-cancel-button,
.pccf.united input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.pccf.united fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.pccf.united legend {
  border: 0;
  padding: 0;
}
.pccf.united textarea {
  overflow: auto;
}
@media print {
  .pccf.united * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  .pccf.united p,
  .pccf.united h2,
  .pccf.united h3 {
    orphans: 3;
    widows: 3;
  }
  .pccf.united h2,
  .pccf.united h3 {
    page-break-after: avoid;
  }
  .pccf.united select {
    background: #fff !important;
  }
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.pccf.united * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pccf.united *:before,
.pccf.united *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pccf.united  {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.pccf.united  {
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
.pccf.united input,
.pccf.united button,
.pccf.united select,
.pccf.united textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.pccf.united h1,
.pccf.united h2,
.pccf.united h3,
.pccf.united h4,
.pccf.united h5,
.pccf.united h6 {
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.pccf.united h1,
.pccf.united h2,
.pccf.united h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.pccf.united h4,
.pccf.united h5,
.pccf.united h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pccf.united h1 {
  font-size: 36px;
}
.pccf.united h2 {
  font-size: 30px;
}
.pccf.united h3 {
  font-size: 24px;
}
.pccf.united h4 {
  font-size: 18px;
}
.pccf.united h5 {
  font-size: 14px;
}
.pccf.united h6 {
  font-size: 12px;
}
.pccf.united p {
  margin: 0 0 10px;
}
.pccf.united .text-center {
  text-align: center;
}
@media (min-width: 768px) {
}
.pccf.united .row {
  margin-left: -15px;
  margin-right: -15px;
}
.pccf.united .col-md-2,
.pccf.united .col-md-3,
.pccf.united .col-md-4,
.pccf.united .col-md-5,
.pccf.united .col-md-6,
.pccf.united .col-lg-6,
.pccf.united .col-md-8,
.pccf.united .col-lg-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .pccf.united .col-md-2,
  .pccf.united .col-md-3,
  .pccf.united .col-md-4,
  .pccf.united .col-md-5,
  .pccf.united .col-md-6,
  .pccf.united .col-md-8 {
    float: left;
  }
  .pccf.united .col-md-8 {
    width: 66.66666667%;
  }
  .pccf.united .col-md-6 {
    width: 50%;
  }
  .pccf.united .col-md-5 {
    width: 41.66666667%;
  }
  .pccf.united .col-md-4 {
    width: 33.33333333%;
  }
  .pccf.united .col-md-3 {
    width: 25%;
  }
  .pccf.united .col-md-2 {
    width: 16.66666667%;
  }
}
@media (min-width: 1200px) {
  .pccf.united .col-lg-6,
  .pccf.united .col-lg-8 {
    float: left;
  }
  .pccf.united .col-lg-8 {
    width: 66.66666667%;
  }
  .pccf.united .col-lg-6 {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
}
.pccf.united fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
.pccf.united legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.pccf.united label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.pccf.united input[type="radio"],
.pccf.united input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
.pccf.united select[multiple] {
  height: auto;
}
.pccf.united input[type="radio"]:focus,
.pccf.united input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.pccf.united .form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.pccf.united .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.pccf.united .form-control::-moz-placeholder {
  color: #aea79f;
  opacity: 1;
}
.pccf.united .form-control:-ms-input-placeholder {
  color: #aea79f;
}
.pccf.united .form-control::-webkit-input-placeholder {
  color: #aea79f;
}
.pccf.united textarea.form-control {
  height: auto;
}
.pccf.united .form-group {
  margin-bottom: 15px;
}
.pccf.united .radio,
.pccf.united .checkbox {
  position: relative;
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pccf.united .radio label,
.pccf.united .checkbox label {
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.pccf.united .radio input[type="radio"],
.pccf.united .radio-inline input[type="radio"],
.pccf.united .checkbox input[type="checkbox"],
.pccf.united .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.pccf.united .radio + .radio,
.pccf.united .checkbox + .checkbox {
  margin-top: -5px;
}
.pccf.united .radio-inline,
.pccf.united .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.pccf.united .radio-inline + .radio-inline,
.pccf.united .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.pccf.united .input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.pccf.united select.input-sm {
  height: 30px;
  line-height: 30px;
}
.pccf.united textarea.input-sm,
.pccf.united select[multiple].input-sm {
  height: auto;
}
.pccf.united .input-lg {
  height: 54px;
  padding: 14px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.pccf.united select.input-lg {
  height: 54px;
  line-height: 54px;
}
.pccf.united textarea.input-lg,
.pccf.united select[multiple].input-lg {
  height: auto;
}
.pccf.united .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
}
.pccf.united .form-horizontal .radio,
.pccf.united .form-horizontal .checkbox,
.pccf.united .form-horizontal .radio-inline,
.pccf.united .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 9px;
}
.pccf.united .form-horizontal .radio,
.pccf.united .form-horizontal .checkbox {
  min-height: 29px;
}
.pccf.united .form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .pccf.united .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 9px;
  }
}
.pccf.united .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pccf.united .btn:focus,
.pccf.united .btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.pccf.united .btn:hover,
.pccf.united .btn:focus {
  color: #ffffff;
  text-decoration: none;
}
.pccf.united .btn:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.pccf.united .btn-primary {
  color: #ffffff;
  background-color: #dd4814;
  border-color: #dd4814;
}
.pccf.united .btn-primary:hover,
.pccf.united .btn-primary:focus,
.pccf.united .btn-primary:active {
  color: #ffffff;
  background-color: #ae3910;
  border-color: #a5360f;
}
.pccf.united .btn-primary:active {
  background-image: none;
}
.pccf.united .btn-success {
  color: #ffffff;
  background-color: #38b44a;
  border-color: #38b44a;
}
.pccf.united .btn-success:hover,
.pccf.united .btn-success:focus,
.pccf.united .btn-success:active {
  color: #ffffff;
  background-color: #2c8d3a;
  border-color: #298537;
}
.pccf.united .btn-success:active {
  background-image: none;
}
.pccf.united .btn-info {
  color: #ffffff;
  background-color: #772953;
  border-color: #772953;
}
.pccf.united .btn-info:hover,
.pccf.united .btn-info:focus,
.pccf.united .btn-info:active {
  color: #ffffff;
  background-color: #511c39;
  border-color: #491933;
}
.pccf.united .btn-info:active {
  background-image: none;
}
.pccf.united .btn-warning {
  color: #ffffff;
  background-color: #efb73e;
  border-color: #efb73e;
}
.pccf.united .btn-warning:hover,
.pccf.united .btn-warning:focus,
.pccf.united .btn-warning:active {
  color: #ffffff;
  background-color: #e7a413;
  border-color: #dd9d12;
}
.pccf.united .btn-warning:active {
  background-image: none;
}
.pccf.united .btn-danger {
  color: #ffffff;
  background-color: #df382c;
  border-color: #df382c;
}
.pccf.united .btn-danger:hover,
.pccf.united .btn-danger:focus,
.pccf.united .btn-danger:active {
  color: #ffffff;
  background-color: #bc271c;
  border-color: #b3251b;
}
.pccf.united .btn-danger:active {
  background-image: none;
}
@media (min-width: 768px) {
}
.pccf.united .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.pccf.united .input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.pccf.united .input-group-addon,
.pccf.united .input-group .form-control {
  display: table-cell;
}
.pccf.united .input-group-addon {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.pccf.united .input-group-addon {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #333333;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.pccf.united .input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.pccf.united .input-group .form-control:first-child,
.pccf.united .input-group-addon:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pccf.united .input-group-addon:first-child {
  border-right: 0;
}
.pccf.united .input-group .form-control:last-child,
.pccf.united .input-group-addon:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pccf.united .input-group-addon:last-child {
  border-left: 0;
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
.pccf.united .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.pccf.united .alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.pccf.united .alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.pccf.united .alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}
.pccf.united .alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.pccf.united .panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pccf.united .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.pccf.united .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.pccf.united .panel-primary {
  border-color: #dd4814;
}
.pccf.united .panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #dd4814;
  border-color: #dd4814;
}
.pccf.united .panel-success {
  border-color: #d6e9c6;
}
.pccf.united .panel-success > .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.pccf.united .panel-info {
  border-color: #bce8f1;
}
.pccf.united .panel-info > .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.pccf.united .panel-warning {
  border-color: #fbeed5;
}
.pccf.united .panel-warning > .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}
.pccf.united .well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
@media (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
.pccf.united .row:before,
.pccf.united .row:after,
.pccf.united .form-horizontal .form-group:before,
.pccf.united .form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.pccf.united .row:after,
.pccf.united .form-horizontal .form-group:after {
  clear: both;
}
@-ms-viewport {
  width: device-width;
}

@media (max-width: 992px) {
    .pccf fieldset {
        padding:10px!important;
    }
}

.pccf .col-lg-8>p {
    clear: both;
}
.pccf .validation-advice {color:inherit}
.pccf .required-control .control-label:after {
content: " *";
    color: #fc4c5e;
}
.pccf label {font-size:inherit!important;}
.pccf {background:none!important;}

.pccf .input-group-addon {
padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.pccf .form-horizontal.pccform fieldset {padding:10px!important}
.pccf textarea {
    width: 100%;
    max-width: 100%;
}

/* RTL FIX */
.pccf.united.rtl .input-group-addon:last-child {
    border-right: 0!important;
    border-left: 1px solid #ccc!important;
}

.pccf.united.rtl .input-group-addon:first-child {
    border-left: 0!important;
    border-right: 1px solid #ccc!important;
}

/* navigation inactive item */

.pccf.united .nav-wizard > li > a {
    color: #dd4814;
    background-color: #ddd;
    font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pccf.united .nav-wizard > li:not(:last-child) > a:after {
    border-left: 20px solid #ddd;
}

/* navigation active item */

.pccf.united .nav-wizard > li.active > a:after {
    border-left-color: #dd4814;
}
.pccf.united .nav-wizard > li.active > a, .pccf.united .nav-wizard > li.active > a:hover, .pccf.united .nav-wizard > li.active > a:focus {
    color: #fff;
    background-color: #dd4814;
}

/* navigation background */

.pccf.united .well .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #F5F5F5;
}
.pccf.united .panel .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #fff;
}

/* small navigation inactive tab */

.pccf.smallnav.united .nav-wizard > li:before {
    color: #dd4814;
    background-color: #ddd;
    border-color: #ddd;
}

/* small navigation active tab */

.pccf.smallnav.united .nav-wizard > li.active:before {
    color: #fff;
    background-color: #dd4814;
    border-color: #dd4814;
}

/* small navigation background */

.pccf.smallnav.united ul.nav-wizard:before {
    background: #ddd;
}