<?php

/**

 *

 * @category MultiSafepay

 * @package  MultiSafepay_Msp

 */

?>

<?php /** @var $this MultiSafepay_Msp_Block_Checkout_Onepage_Payment_Methods */ ?>

<?php

$methods = $this->getMethods();

$oneMethod = count($methods) <= 1;

?>

<?php if (empty($methods)): ?>

    <dt>

    <?php //echo $this->__('No Payment Methods') ?>

    </dt>

<?php else: ?>

    <?php foreach ($methods as $_method): ?>

        <?php $_code = $_method->getCode() ?>

        <dt>

        <?php if (!$oneMethod): ?>

            <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" title="<?php echo $this->htmlEscape($_method->getTitle()) ?>" onclick="payment.switchMethod('<?php echo $_code ?>')"<?php if ($this->getSelectedMethodCode() == $_code): ?> checked="checked"<?php endif; ?> class="radio" />

        <?php else: ?>

            <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" checked="checked" class="radio" /></span>

            <?php $oneMethod = $_code ?>

        <?php endif ?>

        <label for="p_method_<?php echo $_code ?>"><?php echo $this->getMethodTitle($_method) ?> <?php echo $this->getMethodLabelAfterHtml($_method) ?></label>

        </dt>



        <?php if ($_code == 'msp_fastcheckout') { ?>

            <dd>

                <a class="msp_checkout_link" href="<?php echo Mage::getUrl("msp/checkout/redirect") ?>">

                    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'msp' . DS . 'button.png' ?>" style="margin-left: -0px;"/>

                </a>

                <script type="text/javascript">

                    element1 = document.getElementById('p_method_msp_fastcheckout');

                    element1.style.display = 'none';

                </script>

            </dd>

        <?php } elseif ($_code != 'msp_ideal' && $_code != 'msp') { ?>

            <?php if ($instruction = Mage::getStoreConfig('msp/' . $_code . '/instructions')) { ?>

                <dd>

                    <ul  class="form-list" id="payment_form_<?php echo $_code ?>" style="display: none;">

                        <li>

                            <?php echo $instruction ?>

                        </li>

                    </ul>

                </dd>

            <?php } elseif ($html = $this->getPaymentMethodFormHtml($_method)) { ?>

                <dd>

                    <?php echo $html; ?>

                </dd>

            <?php } ?>

        <?php } elseif ($_code == 'msp_ideal' && Mage::getStoreConfig('msp/' . $_code . '/bank_select')) { ?>

            <dd>

                <ul class="5 form-list" id="payment_form_<?php echo $_code ?>" style="display: none;">

                    <li>

                        <?php $_banks = $_method->getIdealIssuers(); ?>

                        <select id="<?php echo $_code ?>_bank" name="payment[<?php echo $_code ?>_bank]" class="input-text validate-text required-entry">

                            <option value=""><?php echo $this->__('Selecteer een bank...') ?></option>

                            <?php foreach ($_banks as $bank) { ?>

                                <option value="<?php echo $bank['code']['VALUE'] ?>"><?php echo $bank['description']['VALUE'] ?></option>

                            <?php } ?>

                        </select>

                    </li>

                </ul>

            </dd>

        <?php } elseif ($_code == 'msp_banktransfer') { ?>

            <dd>

                <ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display: none;">

                    <li>

                        <?php if ($_code == 'msp_banktransfer') { ?>

                            <input name='payment[accountid]'            value=""   id="accountid"/>            <label for="accountid"            style="width:200px!important;">Rekeningnummer:</label><br />

                            <input name='payment[accountholdername]'    value=""   id="accountholdername"/>    <label for="accountholdername"    style="width:200px!important;">Naam rekeninghouder:</label><br />

                            <input name='payment[accountholdercity]'    value=""   id="accountholdercity"/>    <label for="accountholdercity"    style="width:200px!important;">Plaats Bank:</label><br />

                            <input name='payment[accountholdercountry]' value="NL" id="accountholdercountry"/> <label for="accountholdercountry" style="width:200px!important;">Landcode bank:</label><br />

                        <?php } ?>

                    </li>

                </ul>

            </dd>

        <?php } else { ?>

            <?php $instruction = '' ?>

            <?php if ($_code == 'msp') { ?>

                <?php $instruction = Mage::getStoreConfig('payment/msp/instructions') ?>

            <?php } else { ?>

                <?php $instruction = Mage::getStoreConfig('msp/' . $_code . '/instructions') ?>

            <?php } ?>

            <?php if ($instruction): ?>

                <dd>

                    <ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display: none;">

                        <li>

                            <?php echo $instruction ?>

                        </li>

                    </ul>

                </dd>

            <?php endif ?>

        <?php } ?>

    <?php endforeach ?>

<?php endif ?>



<?php echo $this->getChildChildHtml('additional') ?>



<script type="text/javascript">

//<![CDATA[

<?php echo $this->getChildChildHtml('scripts') ?>

    // payment.init();

<?php if (is_string($oneMethod)): ?>

        payment.switchMethod('<?php echo $oneMethod ?>');

<?php endif ?>

//]]>

</script>