html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
    display: block;
}
body
{
    line-height: 1;
        background: url('../images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
ol,ul
{
    list-style: none;
}
blockquote,q
{
    quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after
{
    content: '';
    content: none;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
body
{
    color: #333;
    font-family: "Helvetica Neue",Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 32px;
    padding: 16px;
}
a
{
    color: #17d;
    text-decoration: none;
}
a:hover
{
    border-bottom: 1px solid #17d;
}
a.button
{
    background: linear-gradient(#3290ef,#17d);
    background: -moz-linear-gradient(#3290ef,#17d);
    background: -ms-linear-gradient(#3290ef,#17d);
    background: -o-linear-gradient(#3290ef,#17d);
    background: -webkit-gradient(linear,left top,left bottom,from(#3290ef),to(#17d));
    background: -webkit-linear-gradient(#3290ef,#17d);
    background-color: #0f6ac5;
    border-bottom: 2px solid #0d5dae;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 24px;
    line-height: 62px;
    moz-border-radius: 5px;
    padding: 0 30px;
    text-align: center;
    text-shadow: 0 1px rgba(0,0,0,0.4);
    webkit-border-radius: 5px;
}
a.button:hover
{
    background: linear-gradient(#499df1,#1a84ed);
    background: -moz-linear-gradient(#499df1,#1a84ed);
    background: -ms-linear-gradient(#499df1,#1a84ed);
    background: -o-linear-gradient(#499df1,#1a84ed);
    background: -webkit-gradient(linear,left top,left bottom,from(#499df1),to(#1a84ed));
    background: -webkit-linear-gradient(#499df1,#1a84ed);
    border-bottom-color: #0f6ac5;
    color: #fff;
}
a.button:active
{
    border-bottom: 0;
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.4);
    margin-top: 2px;
    moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.4);
    webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.4);
}
h1
{
    font-size: 56px;
    font-weight: 200;
    line-height: 64px;
}
h2
{
    color: #888;
    font-family: serif;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 32px;
}
h3
{
    font-weight: 600;
    text-transform: uppercase;
}
p
{
    color: #707070;
    margin-bottom: 32px;
}
.list
{
    color: #707070;
    font-size: 14px;
    list-style: disc;
    margin-bottom: 32px;
    margin-left: 25px;
}
.list .list
{
    margin-bottom: 0;
}
code
{
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #555;
    font-family: monospace;
    font-size: 14px;
}
pre code
{
    display: block;
    line-height: 20px;
    margin-bottom: 32px;
    overflow: scroll;
    padding: 14px 20px;
}
p+pre code
{
    margin-top: -32px;
}
.demo .numbers
{
    background-color: #ffd;
    border: 1px solid #eec;
    margin-bottom: 32px;
    padding: 16px 20px;
}
.demo .numbers p
{
    margin-bottom: 0;
}
.demo .numbers .list
{
    margin-bottom: 0;
}
.example
{
    clear: both;
    margin-bottom: 32px;
}
.cards
{
    overflow: hidden;
}
.cards li
{
    background-image: url('../images/card_logos.png');
    background-position: 0 0;
    float: left;
    height: 32px;
    margin-right: 8px;
    moz-transition: all .2s;
    ms-transition: all .2s;
    o-transition: all .2s;
    text-indent: -9999px;
    transition: all .2s;
    webkit-transition: all .2s;
    width: 51px;
}
.cards li:last-child
{
    margin-right: 0;
}


.cards .Visa
{
    background-position: 0 0px;
}
.cards .Visa.off
{
    background-position: 0 -32px;
}
.cards .Mastercard
{
    background-position: -102px 0;
}
.cards .Mastercard.off
{
    background-position: -102px -32px;
}
.cards .Amex {
    background-position: -153px 0px;
}
.cards .Amex.off {
    background-position: -153px -32px;
}
.cards .Jcb {
    background-position: -204px 0;
}
.cards .Jcb.off {
    background-position: -204px -32px;
}
.cards .Diners {
    background-position: -255px 0;
}
.cards .Diners.off {
    background-position: -255px -32px;
}
.cards .discover
{
    background-position: 51px 0;
}
.cards .discover.off
{
    background-position: 51px 32px;
}









.riepilogo {
background: linear-gradient(#fff,#f5f5f5);
background: -moz-linear-gradient(#fff,#f5f5f5);
background: -ms-linear-gradient(#fff,#f5f5f5);
background: -o-linear-gradient(#fff,#f5f5f5);
background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f5f5f5));
background: -webkit-linear-gradient(#fff,#f5f5f5);
background-color: #f8f8f8;
border: 5px solid #fff;
box-shadow: 0 1px 3px #bbb;
margin: 0 auto 32px;
moz-box-shadow: 0 1px 3px #bbb;
padding: 12px 24px 24px;
webkit-box-shadow: 0 1px 3px #bbb;
float: left;
margin: 0 10px;
min-height: 328px;
width: 500px;
}

.item {
border: 1px solid #bbb;
border-width: 1px 0px 0px 0px;
}
.item p {
width: 225px;
font-size: 12px;
line-height: 16px;
margin: 7px;
display: block;
float: left;
}
.item b {
margin: 0 10px;
}
.item.total {
    text-align: right;
height: 34px;
width: 100%;
}

.item.total b{
    padding: 10px
}
form
{
    background: linear-gradient(#fff,#f5f5f5);
    background: -moz-linear-gradient(#fff,#f5f5f5);
    background: -ms-linear-gradient(#fff,#f5f5f5);
    background: -o-linear-gradient(#fff,#f5f5f5);
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f5f5f5));
    background: -webkit-linear-gradient(#fff,#f5f5f5);
    background-color: #f8f8f8;
    border: 5px solid #fff;
    box-shadow: 0 1px 3px #bbb;
    margin: 0 auto 32px;
    moz-box-shadow: 0 1px 3px #bbb;
    padding: 12px 24px 24px;
    webkit-box-shadow: 0 1px 3px #bbb;
    width: 287px;

}
form h2
{
    color: #555;
    font-family: "Helvetica Neue",Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-style: normal;
    margin-bottom: 0;
}
form h3 {
color: #555;
font-family: "Helvetica Neue",Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size: 14px;
font-style: normal;
margin-bottom: 0;
}
form li
{
    margin: 8px 0;
}
form label
{
    color: #555;
    display: block;
    font-size: 14px;
}
form label small
{
    color: #aaa;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
}
form input
{
    border: 1px solid #aaa;
    border-color: #aaa #ddd #ddd #aaa;
    box-shadow: inset 0 1px 3px -1px #aaa;
    color: #333;
    display: block;
    font-size: 18px;
    height: 30px;
    moz-box-shadow: inset 0 1px 3px -1px #aaa;
    moz-box-sizing: content-box;
    padding: 0 5px;
    webkit-box-shadow: inset 0 1px 3px -1px #aaa;
    width: 275px;
}
form input.valid
{
    background: url('../images/tick.png') 97% center no-repeat;
}
.vertical
{
    overflow: hidden;
}
.vertical li
{
    float: left;
    width: 140px;
}
.vertical li .or
{
    color: #aaa;
    float: left;
    font-size: 12px;
    margin-left: -8px;
    margin-top: 32px;
}
.vertical li:last-child
{
    float: right;
    text-align: right;
}
.vertical li:last-child input
{
    float: right;
}
.vertical input
{
    width: 94px;
}
.footer
{
    font-size: 12px;
    text-align: center;
}
.fork_me
{
    position: absolute;
    right: 0;
    top: 0;
}
.fork_me a:hover
{
    border: 0;
}
.required {
    color: red;
font-size: 14px;
display: none;
}
@media screen and (max-width:767px)
{
    .demo .numbers ul
    {
        margin-left: 0;
        overflow: hidden;
    }
    .demo .numbers ul li
    {
        float: left;
        margin-left: 24px;
    }
}
@media screen and (min-width:768px)
{
    body
    {
        margin: 0;

    }
    #container
    {
        margin: 32px auto;
        width: 700px;
    }
    form
    {

        margin: 0 auto;
    }
    .demo .numbers
    {
        float: right;
    }
    .download
    {
        clear: both;
    }
}