
/**
 * Product:     Magento Booster 1.4+
 * Package:     Aitoc_Aitpagecache_3.0.2_2.1.16_390964
 * Purchase ID: n/a
 * Generated:   2012-10-09 09:21:39
 * File path:   skin/frontend/base/default/css/aitpagecache.css
 * Copyright:   (c) 2012 AITOC, Inc.
 */
.aitoc-aitpagecache-loading-effect
{	
	z-index:1500;
	background-image: url(../images/aitoc-aitpagecache-ajax-loader.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: white;
	position: absolute;
	opacity: 0.5
	-moz-opacity: 0.4;
	opacity:.40;
	filter: alpha(opacity=40);
	
}

.aitoc-aitpagecache-loadable-block
{
	visibility: hidden;	
}