<?php
/**
 * Product:     Shop By Brands
 * Package:     Aitoc_Aitmanufacturers_3.1.4_333880
 * Purchase ID: 4D79STKSmQQjtDyqYrXg0fMBC4jIlEpde4DK5Nubhb
 * Generated:   2012-08-10 13:20:39
 * File path:   app/design/frontend/default/default/template/aitmanufacturers/manufacturer.phtml
 * Copyright:   (c) 2012 AITOC, Inc.
 */
?>
<?php
/**
* @copyright  Copyright (c) 2009 AITOC, Inc. 
*/
?>
<?php $manufacturer = $this->getManufacturer() ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="category-head">
<h2><?php echo $manufacturer->getManufacturer()?></h2>
</div>
<?php if ($image = $manufacturer->getImage()): ?>
<img src="<?php echo Mage::helper('aitmanufacturers/image')->getUrl($image) ?>" alt="<?php echo $this->htmlEscape($manufacturer->getTitle()) ?>" title="<?php echo $this->htmlEscape($manufacturer->getTitle()) ?>" style="float: left; padding: 0 10px 10px 0" />
<?php endif ?>
<?php if ($content = $manufacturer->getContent()): ?>
<?php echo $content ?>
<br /><br />
<?php endif ?>
<div style="clear:both;"></div>
<?php if ($productList = $this->getChildHtml('product_list')): ?>
    <?php echo $productList;?>
<?php else: ?>
    <?php echo Mage::helper('aitmanufacturers')->__('There are no products matching the selection.') ?>
<?php endif ?>