<?php
/**
 * Product:     Shop By Brands
 * Package:     Aitoc_Aitmanufacturers_3.1.0_256611
 * Purchase ID: 4D79STKSmQQjtDyqYrXg0fMBC4jIlEpde4DK5Nubhb
 * Generated:   2012-04-24 14:41:22
 * File path:   app/design/frontend/default/default/template/aitmanufacturers/manufacturers.phtml
 * Copyright:   (c) 2012 AITOC, Inc.
 */
?>
<?php
/**
* @copyright  Copyright (c) 2009 AITOC, Inc. 
*/
?>
<?php $items = $this->getItems() ?>
<div class="page-head">
<h3><?php echo Mage::helper('aitmanufacturers')->__('All '.Mage::getModel('aitmanufacturers/config')->getAttributeName($this->getAttributeCode()).'s')?></h3>
</div>
<div class="content">
<?php //$showListIcons = Mage::getStoreConfig('catalog/aitmanufacturers/manufacturers_show_list_image', Mage::app()->getStore()->getId()); ?>
<?php $showListIcons = Mage::helper('aitmanufacturers')->getShowListImage($this->getAttributeCode(), Mage::app()->getStore()->getId()); ?>

<?php if ($cols = count($items)): ?>
<?php $width = floor(100/$cols) ?>
<?php foreach($items as $letters): ?>
<div style="float: left; width: <?php echo $width ?>%;">
<?php foreach ($letters as $letter => $manufacturers): ?>
<dl>
    <dt><?php echo $letter ?></dt>
    <dd>
        <ul class="bare-list">
        <?php foreach ($manufacturers as $manufacturer): ?>
        	<?php if ($manufacturer['item']->getManufacturer()): ?>
            <li>
            	<?php if($showListIcons && $manufacturer['item']->getListImage() && $manufacturer['item']->getShowListImage()){ ?><a href="<?php echo $manufacturer['item']->getUrl() ?>" style="text-decoration:none;"><img src="<?php echo Mage::helper('aitmanufacturers/image')->getIconUrl($manufacturer['item']->getListImage()) ?>" alt="<?php echo $this->htmlEscape($manufacturer['item']->getManufacturer()) ?>" /></a> <?php } ?>
                <a href="<?php echo $manufacturer['item']->getUrl() ?>"><?php echo $this->htmlEscape($manufacturer['item']->getManufacturer()) ?> (<?php echo $manufacturer['number']?>)</a>
            </li>
            <?php endif ?>
        <?php endforeach ?>
        </ul>
    </dd>
</dl>
<?php endforeach ?>
</div>
<?php endforeach ?>
<?php endif ?>
</div>