/* CSS Document */

body {margin:0px; padding:0px; font-family:'Open Sans', sans-serif;}
#logo { width:100%; background-color:#fcb908; padding:15px 0; text-align:center;}
#logo img { width:90%; max-width:319px; height:auto;}
#content { background-color:#f1f0ec; width:100%; text-align:center; padding-bottom:30px;}
#content #icons { width:90%; max-width:1055px; margin:-50px auto 0 auto; position:relative; z-index:100000000;}
#content #icons .box_icona { width:100%; max-width:250px; margin:0 5px; display:inline-block; padding-top:158px; text-align:center }
#content #icons .box_icona h2 { padding:0px; margin:0px; font-size:18px; text-align:center;color:#330000; }
#content #icons .box_icona p { font-size:13px; color:#333; margin:0px; padding:0px; text-align:center }

#wrapper { width:100%; background-image:url(../immagini/img_sfondo.jpg); height:650px; background-repeat:no-repeat; background-position:center top; position:relative}

#slogan { width:100%; margin:0 0 0 0; text-align:center; z-index:10000000000; padding-top:40px;}
#slogan h1 { font-size:60px; color:#FFF; display:inline-block; margin:0 auto; padding:0px; text-transform:uppercase; text-shadow: 2px 2px #000000; }

#form { width:90%; max-width:350px; margin:20px auto 0 auto; background-image:url(../immagini/bg_transp_1.png); background-repeat:repeat; font-size:13px; padding:15px; color:#333}
a.button { background-color:#bd001e; width:100%; color:#FFF; text-decoration:none; border:0 !important; padding:15px 20px; margin:10px auto; font-family:'Open Sans', sans-serif; font-weight:600; font-size:20px; cursor:pointer; text-transform:uppercase; }

.perc { background-image:url(../immagini/img_cose_buone.png); background-repeat:no-repeat; background-position:top center; }
.sped { background-image:url(../immagini/img_sped.png); background-repeat:no-repeat; background-position:top center; }
.ok { background-image:url(../immagini/img_ok.png); background-repeat:no-repeat; background-position:top center; }
.off { background-image:url(../immagini/img_off.png); background-repeat:no-repeat; background-position:top center; }

#err_mail, #err_val_mail, #err_nome, #err_pri { font-size:12px; font-weight:600; color:#bd001e; display:none}

#contenuti { width:100%; background-image:url(../immagini/bg_transp_1.png); background-repeat:repeat; font-size:13px; text-align:center; padding:20px 0;}
#contenuti h1 { font-size:30px; color:#bd001e; display:inline-block; margin:0 auto; padding:0 0 15px 0; text-transform:uppercase; text-shadow: 2px 2px #000; }

h2 { color:#330000; }

div.coupon { background-color:#bd001e; padding:10px 20px; display:inline-block; margin:0 auto; font-weight:bold; color:#FFF; font-size:16px;}


div.test { width:85%; max-width:1000px; text-align:justify;  margin:20px 10px; display:inline-block; padding:10px;  font-size:14px; background-color:#f7f7f7; }
div.sign { text-align:right; font-style:normal; font-weight:bold; margin:10px auto 0 auto; padding-top:10px; border-top:1px dotted #330000}
@media (max-width: 650px) { 
	#slogan h1 { font-size:40px; }
	#contenuti h1 { font-size:25px;}
}
