<?php
/**
 * @var $this Zeta_ElectronicInvoice_Block_Checkout_Address_Widget
 */
?>
<li class="fields electronic-invoice">
    <div class="field">
        <label for="billing:invoice_type"><?= $this->__('Electronic Invoice Type') ?></label>
        <div class="input-box">
            <select name="billing[invoice_type]" title="<?= $this->__('Electronic Invoice Type') ?>" class="validate-select" id="billing:invoice_type">
                <?= $this->getSelectOptionsHtml('invoice_type')?>
            </select>
        </div>
    </div>
    <div class="field">
        <label for="billing:invoice_code"><?= $this->__('Electronic Invoice Code') ?></label>
        <div class="input-box">
            <input type="text" name="billing[invoice_code]" value="<?= $this->getValue('invoice_code') ?>" title="<?= $this->__('Electronic Invoice Code') ?>" class="input-text validate-electronic-invoice-code" id="billing:invoice_code"/>
        </div>
    </div>
</li>
