<!--@subject La tua Gift Card su {{var store.getFrontendName()}} @-->
<!--@vars
{"htmlescape var=$name":"Recipient Name",
"htmlescape var=$sendername":"Sender name",
"var code":"Gift Card Code",
"var balance":"Gift Card Balance",
"var status":"Status",
"htmlescape var=$message":"Message",
"var expiredat":"Expired At"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:13px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}">
                                <img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/>
                            </a>
                        </td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>Gentile {{htmlescape var=$sendername}}</strong>,<br/>
                                Ti confermiamo l'acquisto di una Gift Card su {{var store.getFrontendName()}}.<br/>
                                Puoi utilizzare il Buono Regalo per effettuare da subito ordini sul nostro sito cliccando <a href="{{store url=""}}">qui</a> oppure <a href="{{store url=""}}/giftvoucher/index/printemail/k/{{var secure_key}}">clicca qui</a> per stampare la Gift Card.<br/>
                                
                            </p>							                            
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 15px 0px 15px 0px" align="center" width="600">
                            <img src="{{var url}}" style="margin-left: 15px; float: left;border-radius: 0 0 5px 5px;"/>
                        </td>
                    </tr>
					<tr>
					    <td style="padding-bottom: 15px;"><strong>ATTENZIONE</strong>: non &egrave; possibile convertire il Buono Regalo in contanti. Il Buono Regalo pu&ograve; essere utilizzato per effettuare qualunque acquisto solo su {{var store.getFrontendName()}}</td>
					</tr>
                    <tr>
                        <td>
                            <p>
                                Se hai delle domande sul tuo Buono Regalo, non esitare a contattarci via email <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> o telefonicamente {{config path='general/store_information/phone'}}.
                            </p>
                            <p>Un saluto,<br/><strong>{{var store.getFrontendName()}}</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
